(
    name: "3024 Day",
    foreground: "#4a4543",
    cursor: "#4a4543",
    bright_foreground: "#4a4543",
    dim_foreground: "#5c5855",
    normal: (
        black: "#a5a2a2",
        red: "#db2d20",
        green: "#01a252",
        yellow: "#caba00",
        blue: "#01a0e4",
        magenta: "#a16a94",
        cyan: "#8fbece",
        white: "#5c5855"
    ),
    bright: (
        black: "#f7f7f7",
        red: "#db2d20",
        green: "#01a252",
        yellow: "#caba00",
        blue: "#01a0e4",
        magenta: "#a16a94",
        cyan: "#8fbece",
        white: "#5c5855"
    ),
    dim: (
        black: "#a5a2a2",
        red: "#db2d20",
        green: "#01a252",
        yellow: "#caba00",
        blue: "#01a0e4",
        magenta: "#a16a94",
        cyan: "#8fbece",
        white: "#5c5855"
    ),
)
