(name:"3024 Day",foreground:"#4a4543",cursor:"#4a4543",bright_foreground:"#4a4543",dim_foreground:"#FF0000",normal:(black:"#090300",red:"#db2d20",green:"#01a252",yellow:"#caba00",blue:"#01a0e4",magenta:"#a16a94",cyan:"#8fbece",white:"#a5a2a2"),bright:(black:"#5c5855",red:"#dbaec3",green:"#3a3432",yellow:"#4a4543",blue:"#807d7c",magenta:"#bcbbba",cyan:"#cdab53",white:"#f7f7f7"),dim:(black:"#090300",red:"#db2d20",green:"#01a252",yellow:"#caba00",blue:"#01a0e4",magenta:"#a16a94",cyan:"#8fbece",white:"#a5a2a2"))