(
    name: "Aardvark Blue",
    foreground: "#dddddd",
    cursor: "#007acc",
    bright_foreground: "#dddddd",
    dim_foreground: "#525252",
    normal: (
        black: "#bebebe",
        red: "#aa342e",
        green: "#4b8c0f",
        yellow: "#dbba00",
        blue: "#1370d3",
        magenta: "#c43ac3",
        cyan: "#008eb0",
        white: "#525252"
    ),
    bright: (
        black: "#f7f7f7",
        red: "#aa342e",
        green: "#4b8c0f",
        yellow: "#dbba00",
        blue: "#1370d3",
        magenta: "#c43ac3",
        cyan: "#008eb0",
        white: "#525252"
    ),
    dim: (
        black: "#bebebe",
        red: "#aa342e",
        green: "#4b8c0f",
        yellow: "#dbba00",
        blue: "#1370d3",
        magenta: "#c43ac3",
        cyan: "#008eb0",
        white: "#525252"
    ),
)
