(
    name: "Adventure Time",
    foreground: "#f8dcc0",
    cursor: "#efbf38",
    bright_foreground: "#f8dcc0",
    dim_foreground: "#4e7cbf",
    normal: (
        black: "#f8dcc0",
        red: "#bd0013",
        green: "#4ab118",
        yellow: "#e7741e",
        blue: "#0f4ac6",
        magenta: "#665993",
        cyan: "#70a598",
        white: "#4e7cbf"
    ),
    bright: (
        black: "#f6f5fb",
        red: "#bd0013",
        green: "#4ab118",
        yellow: "#e7741e",
        blue: "#0f4ac6",
        magenta: "#665993",
        cyan: "#70a598",
        white: "#4e7cbf"
    ),
    dim: (
        black: "#f8dcc0",
        red: "#bd0013",
        green: "#4ab118",
        yellow: "#e7741e",
        blue: "#0f4ac6",
        magenta: "#665993",
        cyan: "#70a598",
        white: "#4e7cbf"
    ),
)
