(
    name: "Aizen Dark",
    foreground: "#d0d6f0",
    cursor: "#f8b080",
    bright_foreground: "#d0d6f0",
    dim_foreground: "#444444",
    normal: (
        black: "#d0d6f0",
        red: "#f08898",
        green: "#a4e09c",
        yellow: "#f5dea4",
        blue: "#84b4f8",
        magenta: "#c8a2f4",
        cyan: "#90dcd0",
        white: "#444444"
    ),
    bright: (
        black: "#ffffff",
        red: "#f08898",
        green: "#a4e09c",
        yellow: "#f5dea4",
        blue: "#84b4f8",
        magenta: "#c8a2f4",
        cyan: "#90dcd0",
        white: "#444444"
    ),
    dim: (
        black: "#d0d6f0",
        red: "#f08898",
        green: "#a4e09c",
        yellow: "#f5dea4",
        blue: "#84b4f8",
        magenta: "#c8a2f4",
        cyan: "#90dcd0",
        white: "#444444"
    ),
)
