(
    name: "Aizen Light",
    foreground: "#4a4d66",
    cursor: "#fc6008",
    bright_foreground: "#4a4d66",
    dim_foreground: "#adb2bc",
    normal: (
        black: "#4a4d66",
        red: "#d00c36",
        green: "#3e9e28",
        yellow: "#dd8c1a",
        blue: "#1c64f2",
        magenta: "#8636ec",
        cyan: "#159096",
        white: "#adb2bc"
    ),
    bright: (
        black: "#4a4d66",
        red: "#d00c36",
        green: "#3e9e28",
        yellow: "#dd8c1a",
        blue: "#1c64f2",
        magenta: "#8636ec",
        cyan: "#159096",
        white: "#adb2bc"
    ),
    dim: (
        black: "#4a4d66",
        red: "#d00c36",
        green: "#3e9e28",
        yellow: "#dd8c1a",
        blue: "#1c64f2",
        magenta: "#8636ec",
        cyan: "#159096",
        white: "#adb2bc"
    ),
)
