(name:"Alabaster",foreground:"#000000",cursor:"#007acc",bright_foreground:"#000000",dim_foreground:"#FF0000",normal:(black:"#000000",red:"#aa3731",green:"#448c27",yellow:"#cb9000",blue:"#325cc0",magenta:"#7a3e9d",cyan:"#0083b2",white:"#b7b7b7"),bright:(black:"#777777",red:"#f05050",green:"#60cb00",yellow:"#f2af50",blue:"#007acc",magenta:"#e64ce6",cyan:"#00aacb",white:"#f7f7f7"),dim:(black:"#000000",red:"#aa3731",green:"#448c27",yellow:"#cb9000",blue:"#325cc0",magenta:"#7a3e9d",cyan:"#0083b2",white:"#b7b7b7"))