(name:"Apple System Colors Light",foreground:"#000000",cursor:"#98989d",bright_foreground:"#000000",dim_foreground:"#FF0000",normal:(black:"#1a1a1a",red:"#cc372e",green:"#26a439",yellow:"#cdac08",blue:"#0869cb",magenta:"#9647bf",cyan:"#479ec2",white:"#98989d"),bright:(black:"#464646",red:"#ff453a",green:"#32d74b",yellow:"#e5bc00",blue:"#0a84ff",magenta:"#bf5af2",cyan:"#69c9f2",white:"#ffffff"),dim:(black:"#1a1a1a",red:"#cc372e",green:"#26a439",yellow:"#cdac08",blue:"#0869cb",magenta:"#9647bf",cyan:"#479ec2",white:"#98989d"))