(name:"Argonaut",foreground:"#fffaf4",cursor:"#ff0018",bright_foreground:"#fffaf4",dim_foreground:"#FF0000",normal:(black:"#232323",red:"#ff000f",green:"#8ce10b",yellow:"#ffb900",blue:"#008df8",magenta:"#6d43a6",cyan:"#00d8eb",white:"#ffffff"),bright:(black:"#444444",red:"#ff2740",green:"#abe15b",yellow:"#ffd242",blue:"#0092ff",magenta:"#9a5feb",cyan:"#67fff0",white:"#ffffff"),dim:(black:"#232323",red:"#ff000f",green:"#8ce10b",yellow:"#ffb900",blue:"#008df8",magenta:"#6d43a6",cyan:"#00d8eb",white:"#ffffff"))