(
    name: "Arthur",
    foreground: "#ddeedd",
    cursor: "#e2bbef",
    bright_foreground: "#ddeedd",
    dim_foreground: "#554444",
    normal: (
        black: "#bbaa99",
        red: "#cd5c5c",
        green: "#86af80",
        yellow: "#e8ae5b",
        blue: "#6495ed",
        magenta: "#deb887",
        cyan: "#b0c4de",
        white: "#554444"
    ),
    bright: (
        black: "#ddccbb",
        red: "#cd5c5c",
        green: "#86af80",
        yellow: "#e8ae5b",
        blue: "#6495ed",
        magenta: "#deb887",
        cyan: "#b0c4de",
        white: "#554444"
    ),
    dim: (
        black: "#bbaa99",
        red: "#cd5c5c",
        green: "#86af80",
        yellow: "#e8ae5b",
        blue: "#6495ed",
        magenta: "#deb887",
        cyan: "#b0c4de",
        white: "#554444"
    ),
)
