(
    name: "Atlas Ragnarok",
    foreground: "#ffffff",
    cursor: "#3b82f6",
    bright_foreground: "#ffffff",
    dim_foreground: "#505050",
    normal: (
        black: "#ffffff",
        red: "#ff8080",
        green: "#99ffe4",
        yellow: "#2563eb",
        blue: "#a0a0a0",
        magenta: "#3b82f6",
        cyan: "#99ffe4",
        white: "#505050"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff8080",
        green: "#99ffe4",
        yellow: "#2563eb",
        blue: "#a0a0a0",
        magenta: "#3b82f6",
        cyan: "#99ffe4",
        white: "#505050"
    ),
    dim: (
        black: "#ffffff",
        red: "#ff8080",
        green: "#99ffe4",
        yellow: "#2563eb",
        blue: "#a0a0a0",
        magenta: "#3b82f6",
        cyan: "#99ffe4",
        white: "#505050"
    ),
)
