(
    name: "Aura Dark",
    foreground: "#cdccce",
    cursor: "#a277ff",
    bright_foreground: "#cdccce",
    dim_foreground: "#464646",
    normal: (
        black: "#cdccce",
        red: "#ff6767",
        green: "#61ffca",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#61ffca",
        cyan: "#a277ff",
        white: "#464646"
    ),
    bright: (
        black: "#edecee",
        red: "#ff6767",
        green: "#61ffca",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#61ffca",
        cyan: "#a277ff",
        white: "#464646"
    ),
    dim: (
        black: "#cdccce",
        red: "#ff6767",
        green: "#61ffca",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#61ffca",
        cyan: "#a277ff",
        white: "#464646"
    ),
)
