(
    name: "Aura Dark",
    foreground: "#cdccce",
    cursor: "#a277ff",
    bright_foreground: "#cdccce",
    dim_foreground: "#15141b",

    normal: (
        black: "#15141b",
        red: "#ff6767",
        green: "#61ffca",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#61ffca",
        cyan: "#a277ff",
        white: "#cdccce"
    ),

    bright: (
        black: "#464646",
        red: "#ffca85",
        green: "#a277ff",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#61ffca",
        cyan: "#61ffca",
        white: "#edecee"
    ),

    dim: (
        black: "#15141b",
        red: "#ff6767",
        green: "#61ffca",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#61ffca",
        cyan: "#a277ff",
        white: "#cdccce"
    ),
)
