(
    name: "Aura",
    foreground: "#edecee",
    cursor: "#a277ff",
    bright_foreground: "#edecee",
    dim_foreground: "#4d4d4d",
    normal: (
        black: "#edecee",
        red: "#ff6767",
        green: "#61ffca",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#a277ff",
        cyan: "#61ffca",
        white: "#4d4d4d"
    ),
    bright: (
        black: "#edecee",
        red: "#ff6767",
        green: "#61ffca",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#a277ff",
        cyan: "#61ffca",
        white: "#4d4d4d"
    ),
    dim: (
        black: "#edecee",
        red: "#ff6767",
        green: "#61ffca",
        yellow: "#ffca85",
        blue: "#a277ff",
        magenta: "#a277ff",
        cyan: "#61ffca",
        white: "#4d4d4d"
    ),
)
