(
    name: "Aurora",
    foreground: "#ffca28",
    cursor: "#ee5d43",
    bright_foreground: "#ffca28",
    dim_foreground: "#4f545e",
    normal: (
        black: "#c74ded",
        red: "#f0266f",
        green: "#8fd46d",
        yellow: "#ffe66d",
        blue: "#102ee4",
        magenta: "#ee5d43",
        cyan: "#03d6b8",
        white: "#4f545e"
    ),
    bright: (
        black: "#c74ded",
        red: "#f0266f",
        green: "#8fd46d",
        yellow: "#ffe66d",
        blue: "#102ee4",
        magenta: "#ee5d43",
        cyan: "#03d6b8",
        white: "#4f545e"
    ),
    dim: (
        black: "#c74ded",
        red: "#f0266f",
        green: "#8fd46d",
        yellow: "#ffe66d",
        blue: "#102ee4",
        magenta: "#ee5d43",
        cyan: "#03d6b8",
        white: "#4f545e"
    ),
)
