(
    name: "Ayu Mirage",
    foreground: "#cccac2",
    cursor: "#ffcc66",
    bright_foreground: "#cccac2",
    dim_foreground: "#171b24",

    normal: (
        black: "#171b24",
        red: "#ed8274",
        green: "#87d96c",
        yellow: "#facc6e",
        blue: "#6dcbfa",
        magenta: "#dabafa",
        cyan: "#90e1c6",
        white: "#c7c7c7"
    ),

    bright: (
        black: "#686868",
        red: "#f28779",
        green: "#d5ff80",
        yellow: "#ffd173",
        blue: "#73d0ff",
        magenta: "#dfbfff",
        cyan: "#95e6cb",
        white: "#ffffff"
    ),

    dim: (
        black: "#171b24",
        red: "#ed8274",
        green: "#87d96c",
        yellow: "#facc6e",
        blue: "#6dcbfa",
        magenta: "#dabafa",
        cyan: "#90e1c6",
        white: "#c7c7c7"
    ),
)
