(
    name: "Ayu Light",
    foreground: "#5c6166",
    cursor: "#ffaa33",
    bright_foreground: "#5c6166",
    dim_foreground: "#686868",
    normal: (
        black: "#bababa",
        red: "#ea6c6d",
        green: "#6cbf43",
        yellow: "#eca944",
        blue: "#3199e1",
        magenta: "#9e75c7",
        cyan: "#46ba94",
        white: "#686868"
    ),
    bright: (
        black: "#d1d1d1",
        red: "#ea6c6d",
        green: "#6cbf43",
        yellow: "#eca944",
        blue: "#3199e1",
        magenta: "#9e75c7",
        cyan: "#46ba94",
        white: "#686868"
    ),
    dim: (
        black: "#bababa",
        red: "#ea6c6d",
        green: "#6cbf43",
        yellow: "#eca944",
        blue: "#3199e1",
        magenta: "#9e75c7",
        cyan: "#46ba94",
        white: "#686868"
    ),
)
