(
    name: "Batman",
    foreground: "#6f6f6f",
    cursor: "#fcef0c",
    bright_foreground: "#6f6f6f",
    dim_foreground: "#505354",
    normal: (
        black: "#c6c5bf",
        red: "#e6dc44",
        green: "#c8be46",
        yellow: "#f4fd22",
        blue: "#737174",
        magenta: "#747271",
        cyan: "#62605f",
        white: "#505354"
    ),
    bright: (
        black: "#dadbd6",
        red: "#e6dc44",
        green: "#c8be46",
        yellow: "#f4fd22",
        blue: "#737174",
        magenta: "#747271",
        cyan: "#62605f",
        white: "#505354"
    ),
    dim: (
        black: "#c6c5bf",
        red: "#e6dc44",
        green: "#c8be46",
        yellow: "#f4fd22",
        blue: "#737174",
        magenta: "#747271",
        cyan: "#62605f",
        white: "#505354"
    ),
)
