(
    name: "Belafonte Night",
    foreground: "#968c83",
    cursor: "#968c83",
    bright_foreground: "#968c83",
    dim_foreground: "#5e5252",
    normal: (
        black: "#968c83",
        red: "#be100e",
        green: "#858162",
        yellow: "#eaa549",
        blue: "#426a79",
        magenta: "#97522c",
        cyan: "#989a9c",
        white: "#5e5252"
    ),
    bright: (
        black: "#d5ccba",
        red: "#be100e",
        green: "#858162",
        yellow: "#eaa549",
        blue: "#426a79",
        magenta: "#97522c",
        cyan: "#989a9c",
        white: "#5e5252"
    ),
    dim: (
        black: "#968c83",
        red: "#be100e",
        green: "#858162",
        yellow: "#eaa549",
        blue: "#426a79",
        magenta: "#97522c",
        cyan: "#989a9c",
        white: "#5e5252"
    ),
)
