(
    name: "Black Metal (Immortal)",
    foreground: "#c1c1c1",
    cursor: "#c1c1c1",
    bright_foreground: "#c1c1c1",
    dim_foreground: "#404040",
    normal: (
        black: "#c1c1c1",
        red: "#5f8787",
        green: "#7799bb",
        yellow: "#556677",
        blue: "#888888",
        magenta: "#999999",
        cyan: "#aaaaaa",
        white: "#404040"
    ),
    bright: (
        black: "#c1c1c1",
        red: "#5f8787",
        green: "#7799bb",
        yellow: "#556677",
        blue: "#888888",
        magenta: "#999999",
        cyan: "#aaaaaa",
        white: "#404040"
    ),
    dim: (
        black: "#c1c1c1",
        red: "#5f8787",
        green: "#7799bb",
        yellow: "#556677",
        blue: "#888888",
        magenta: "#999999",
        cyan: "#aaaaaa",
        white: "#404040"
    ),
)
