(
    name: "Blue Dolphin",
    foreground: "#c5f2ff",
    cursor: "#ffcc00",
    bright_foreground: "#c5f2ff",
    dim_foreground: "#9094a4",
    normal: (
        black: "#d0d0d0",
        red: "#ff8288",
        green: "#b4e88d",
        yellow: "#f4d69f",
        blue: "#82aaff",
        magenta: "#e9c1ff",
        cyan: "#89ebff",
        white: "#9094a4"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff8288",
        green: "#b4e88d",
        yellow: "#f4d69f",
        blue: "#82aaff",
        magenta: "#e9c1ff",
        cyan: "#89ebff",
        white: "#9094a4"
    ),
    dim: (
        black: "#d0d0d0",
        red: "#ff8288",
        green: "#b4e88d",
        yellow: "#f4d69f",
        blue: "#82aaff",
        magenta: "#e9c1ff",
        cyan: "#89ebff",
        white: "#9094a4"
    ),
)
