(
    name: "Borland",
    foreground: "#ffff4e",
    cursor: "#ffa560",
    bright_foreground: "#ffff4e",
    dim_foreground: "#4f4f4f",

    normal: (
        black: "#4f4f4f",
        red: "#ff6c60",
        green: "#a8ff60",
        yellow: "#ffffb6",
        blue: "#96cbfe",
        magenta: "#ff73fd",
        cyan: "#c6c5fe",
        white: "#eeeeee"
    ),

    bright: (
        black: "#7c7c7c",
        red: "#ffb6b0",
        green: "#ceffac",
        yellow: "#ffffcc",
        blue: "#b5dcff",
        magenta: "#ff9cfe",
        cyan: "#dfdffe",
        white: "#ffffff"
    ),

    dim: (
        black: "#4f4f4f",
        red: "#ff6c60",
        green: "#a8ff60",
        yellow: "#ffffb6",
        blue: "#96cbfe",
        magenta: "#ff73fd",
        cyan: "#c6c5fe",
        white: "#eeeeee"
    ),
)
