(
    name: "Breadog",
    foreground: "#362c24",
    cursor: "#362c24",
    bright_foreground: "#362c24",
    dim_foreground: "#514337",
    normal: (
        black: "#baa99d",
        red: "#b10b00",
        green: "#007232",
        yellow: "#8b4c00",
        blue: "#005cb4",
        magenta: "#9b0097",
        cyan: "#006a78",
        white: "#514337"
    ),
    bright: (
        black: "#eae1da",
        red: "#b10b00",
        green: "#007232",
        yellow: "#8b4c00",
        blue: "#005cb4",
        magenta: "#9b0097",
        cyan: "#006a78",
        white: "#514337"
    ),
    dim: (
        black: "#baa99d",
        red: "#b10b00",
        green: "#007232",
        yellow: "#8b4c00",
        blue: "#005cb4",
        magenta: "#9b0097",
        cyan: "#006a78",
        white: "#514337"
    ),
)
