(
    name: "Breadog",
    foreground: "#362c24",
    cursor: "#362c24",
    bright_foreground: "#362c24",
    dim_foreground: "#362c24",

    normal: (
        black: "#362c24",
        red: "#b10b00",
        green: "#007232",
        yellow: "#8b4c00",
        blue: "#005cb4",
        magenta: "#9b0097",
        cyan: "#006a78",
        white: "#baa99d"
    ),

    bright: (
        black: "#514337",
        red: "#de1100",
        green: "#008f40",
        yellow: "#ae6000",
        blue: "#0074e1",
        magenta: "#c300bd",
        cyan: "#008697",
        white: "#eae1da"
    ),

    dim: (
        black: "#362c24",
        red: "#b10b00",
        green: "#007232",
        yellow: "#8b4c00",
        blue: "#005cb4",
        magenta: "#9b0097",
        cyan: "#006a78",
        white: "#baa99d"
    ),
)
