(name:"Breeze",foreground:"#eff0f1",cursor:"#eff0f1",bright_foreground:"#eff0f1",dim_foreground:"#FF0000",normal:(black:"#31363b",red:"#ed1515",green:"#11d116",yellow:"#f67400",blue:"#1d99f3",magenta:"#9b59b6",cyan:"#1abc9c",white:"#eff0f1"),bright:(black:"#7f8c8d",red:"#c0392b",green:"#1cdc9a",yellow:"#fdbc4b",blue:"#3daee9",magenta:"#8e44ad",cyan:"#16a085",white:"#fcfcfc"),dim:(black:"#31363b",red:"#ed1515",green:"#11d116",yellow:"#f67400",blue:"#1d99f3",magenta:"#9b59b6",cyan:"#1abc9c",white:"#eff0f1"))