(
    name: "Brogrammer",
    foreground: "#d6dbe5",
    cursor: "#b9b9b9",
    bright_foreground: "#d6dbe5",
    dim_foreground: "#d6dbe5",
    normal: (
        black: "#d6dbe5",
        red: "#f81118",
        green: "#2dc55e",
        yellow: "#ecba0f",
        blue: "#2a84d2",
        magenta: "#4e5ab7",
        cyan: "#1081d6",
        white: "#d6dbe5"
    ),
    bright: (
        black: "#ffffff",
        red: "#f81118",
        green: "#2dc55e",
        yellow: "#ecba0f",
        blue: "#2a84d2",
        magenta: "#4e5ab7",
        cyan: "#1081d6",
        white: "#d6dbe5"
    ),
    dim: (
        black: "#d6dbe5",
        red: "#f81118",
        green: "#2dc55e",
        yellow: "#ecba0f",
        blue: "#2a84d2",
        magenta: "#4e5ab7",
        cyan: "#1081d6",
        white: "#d6dbe5"
    ),
)
