(
    name: "Builtin Light",
    foreground: "#000000",
    cursor: "#000000",
    bright_foreground: "#000000",
    dim_foreground: "#555555",
    normal: (
        black: "#bbbbbb",
        red: "#bb0000",
        green: "#00bb00",
        yellow: "#bbbb00",
        blue: "#0000bb",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#555555"
    ),
    bright: (
        black: "#ffffff",
        red: "#bb0000",
        green: "#00bb00",
        yellow: "#bbbb00",
        blue: "#0000bb",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#555555"
    ),
    dim: (
        black: "#bbbbbb",
        red: "#bb0000",
        green: "#00bb00",
        yellow: "#bbbb00",
        blue: "#0000bb",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#555555"
    ),
)
