(
    name: "Builtin Pastel Dark",
    foreground: "#bbbbbb",
    cursor: "#ffa560",
    bright_foreground: "#bbbbbb",
    dim_foreground: "#7c7c7c",
    normal: (
        black: "#eeeeee",
        red: "#ff6c60",
        green: "#a8ff60",
        yellow: "#ffffb6",
        blue: "#96cbfe",
        magenta: "#ff73fd",
        cyan: "#c6c5fe",
        white: "#7c7c7c"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff6c60",
        green: "#a8ff60",
        yellow: "#ffffb6",
        blue: "#96cbfe",
        magenta: "#ff73fd",
        cyan: "#c6c5fe",
        white: "#7c7c7c"
    ),
    dim: (
        black: "#eeeeee",
        red: "#ff6c60",
        green: "#a8ff60",
        yellow: "#ffffb6",
        blue: "#96cbfe",
        magenta: "#ff73fd",
        cyan: "#c6c5fe",
        white: "#7c7c7c"
    ),
)
