(name:"Builtin Dark",foreground:"#bbbbbb",cursor:"#bbbbbb",bright_foreground:"#bbbbbb",dim_foreground:"#FF0000",normal:(black:"#000000",red:"#bb0000",green:"#00bb00",yellow:"#bbbb00",blue:"#0d0dc8",magenta:"#bb00bb",cyan:"#00bbbb",white:"#bbbbbb"),bright:(black:"#555555",red:"#ff5555",green:"#55ff55",yellow:"#ffff55",blue:"#5555ff",magenta:"#ff55ff",cyan:"#55ffff",white:"#ffffff"),dim:(black:"#000000",red:"#bb0000",green:"#00bb00",yellow:"#bbbb00",blue:"#0d0dc8",magenta:"#bb00bb",cyan:"#00bbbb",white:"#bbbbbb"))