(name:"C64",foreground:"#7869c4",cursor:"#7869c4",bright_foreground:"#7869c4",dim_foreground:"#FF0000",normal:(black:"#090300",red:"#a2524c",green:"#55a049",yellow:"#bfce72",blue:"#6657b3",magenta:"#984ca3",cyan:"#67b6bd",white:"#ffffff"),bright:(black:"#000000",red:"#a2524c",green:"#55a049",yellow:"#bfce72",blue:"#6657b3",magenta:"#984ca3",cyan:"#67b6bd",white:"#f7f7f7"),dim:(black:"#090300",red:"#a2524c",green:"#55a049",yellow:"#bfce72",blue:"#6657b3",magenta:"#984ca3",cyan:"#67b6bd",white:"#ffffff"))