(
    name: "Calamity",
    foreground: "#d5ced9",
    cursor: "#d5ced9",
    bright_foreground: "#d5ced9",
    dim_foreground: "#7e6c88",
    normal: (
        black: "#d5ced9",
        red: "#fc644d",
        green: "#a5f69c",
        yellow: "#e9d7a5",
        blue: "#3b79c7",
        magenta: "#f92672",
        cyan: "#74d3de",
        white: "#7e6c88"
    ),
    bright: (
        black: "#ffffff",
        red: "#fc644d",
        green: "#a5f69c",
        yellow: "#e9d7a5",
        blue: "#3b79c7",
        magenta: "#f92672",
        cyan: "#74d3de",
        white: "#7e6c88"
    ),
    dim: (
        black: "#d5ced9",
        red: "#fc644d",
        green: "#a5f69c",
        yellow: "#e9d7a5",
        blue: "#3b79c7",
        magenta: "#f92672",
        cyan: "#74d3de",
        white: "#7e6c88"
    ),
)
