(name:"Cassette Tape",foreground:"#2b1b12",cursor:"#2b1b12",bright_foreground:"#2b1b12",dim_foreground:"#FF0000",normal:(black:"#514339",red:"#b91c1c",green:"#3f6212",yellow:"#be123c",blue:"#7c2d12",magenta:"#0f766e",cyan:"#b45309",white:"#6b4f3f"),bright:(black:"#c4b39a",red:"#941616",green:"#324e0e",yellow:"#9c0f31",blue:"#63240e",magenta:"#0c5e58",cyan:"#904207",white:"#2b1b12"),dim:(black:"#514339",red:"#b91c1c",green:"#3f6212",yellow:"#be123c",blue:"#7c2d12",magenta:"#0f766e",cyan:"#b45309",white:"#6b4f3f"))