(
    name: "Catppuccin Macchiato",
    foreground: "#cad3f5",
    cursor: "#f4dbd6",
    bright_foreground: "#cad3f5",
    dim_foreground: "#5b6078",
    normal: (
        black: "#b8c0e0",
        red: "#ed8796",
        green: "#a6da95",
        yellow: "#eed49f",
        blue: "#8aadf4",
        magenta: "#f5bde6",
        cyan: "#8bd5ca",
        white: "#5b6078"
    ),
    bright: (
        black: "#a5adcb",
        red: "#ed8796",
        green: "#a6da95",
        yellow: "#eed49f",
        blue: "#8aadf4",
        magenta: "#f5bde6",
        cyan: "#8bd5ca",
        white: "#5b6078"
    ),
    dim: (
        black: "#b8c0e0",
        red: "#ed8796",
        green: "#a6da95",
        yellow: "#eed49f",
        blue: "#8aadf4",
        magenta: "#f5bde6",
        cyan: "#8bd5ca",
        white: "#5b6078"
    ),
)
