(name:"Catppuccin Latte",foreground:"#4c4f69",cursor:"#dc8a78",bright_foreground:"#4c4f69",dim_foreground:"#FF0000",normal:(black:"#bcc0cc",red:"#d20f39",green:"#40a02b",yellow:"#df8e1d",blue:"#1e66f5",magenta:"#ea76cb",cyan:"#179299",white:"#5c5f77"),bright:(black:"#acb0be",red:"#e7103f",green:"#46b02f",yellow:"#e49931",blue:"#3878f6",magenta:"#ef95d7",cyan:"#19a1a8",white:"#6c6f85"),dim:(black:"#bcc0cc",red:"#d20f39",green:"#40a02b",yellow:"#df8e1d",blue:"#1e66f5",magenta:"#ea76cb",cyan:"#179299",white:"#5c5f77"))