(
    name: "Catthode",
    foreground: "#ffffff",
    cursor: "#ff9e3b",
    bright_foreground: "#ffffff",
    dim_foreground: "#141414",

    normal: (
        black: "#141414",
        red: "#ff6b6b",
        green: "#b9d665",
        yellow: "#ffb86c",
        blue: "#9cd9e6",
        magenta: "#eba4be",
        cyan: "#aee6d6",
        white: "#b3b3b3"
    ),

    bright: (
        black: "#636363",
        red: "#ff6b6b",
        green: "#b9d665",
        yellow: "#fae2c8",
        blue: "#9cd9e6",
        magenta: "#eba4be",
        cyan: "#aee6d6",
        white: "#ffffff"
    ),

    dim: (
        black: "#141414",
        red: "#ff6b6b",
        green: "#b9d665",
        yellow: "#ffb86c",
        blue: "#9cd9e6",
        magenta: "#eba4be",
        cyan: "#aee6d6",
        white: "#b3b3b3"
    ),
)
