(name:"Chalkboard",foreground:"#d9e6f2",cursor:"#d9e6f2",bright_foreground:"#d9e6f2",dim_foreground:"#FF0000",normal:(black:"#000000",red:"#c37372",green:"#72c373",yellow:"#c2c372",blue:"#7372c3",magenta:"#c372c2",cyan:"#72c2c3",white:"#d9d9d9"),bright:(black:"#585858",red:"#dbaaaa",green:"#aadbaa",yellow:"#dadbaa",blue:"#aaaadb",magenta:"#dbaada",cyan:"#aadadb",white:"#ffffff"),dim:(black:"#000000",red:"#c37372",green:"#72c373",yellow:"#c2c372",blue:"#7372c3",magenta:"#c372c2",cyan:"#72c2c3",white:"#d9d9d9"))