(
    name: "Challenger Deep",
    foreground: "#cbe1e7",
    cursor: "#fbfcfc",
    bright_foreground: "#cbe1e7",
    dim_foreground: "#565575",
    normal: (
        black: "#a6b3cc",
        red: "#ff5458",
        green: "#62d196",
        yellow: "#ffb378",
        blue: "#65b2ff",
        magenta: "#906cff",
        cyan: "#63f2f1",
        white: "#565575"
    ),
    bright: (
        black: "#cbe3e7",
        red: "#ff5458",
        green: "#62d196",
        yellow: "#ffb378",
        blue: "#65b2ff",
        magenta: "#906cff",
        cyan: "#63f2f1",
        white: "#565575"
    ),
    dim: (
        black: "#a6b3cc",
        red: "#ff5458",
        green: "#62d196",
        yellow: "#ffb378",
        blue: "#65b2ff",
        magenta: "#906cff",
        cyan: "#63f2f1",
        white: "#565575"
    ),
)
