(
    name: "Claude Light",
    foreground: "#141413",
    cursor: "#d97757",
    bright_foreground: "#141413",
    dim_foreground: "#51504d",
    normal: (
        black: "#b6b5aa",
        red: "#a84b3a",
        green: "#2e7c4c",
        yellow: "#8a6220",
        blue: "#184e95",
        magenta: "#882b4d",
        cyan: "#066049",
        white: "#51504d"
    ),
    bright: (
        black: "#e2e1da",
        red: "#a84b3a",
        green: "#2e7c4c",
        yellow: "#8a6220",
        blue: "#184e95",
        magenta: "#882b4d",
        cyan: "#066049",
        white: "#51504d"
    ),
    dim: (
        black: "#b6b5aa",
        red: "#a84b3a",
        green: "#2e7c4c",
        yellow: "#8a6220",
        blue: "#184e95",
        magenta: "#882b4d",
        cyan: "#066049",
        white: "#51504d"
    ),
)
