(name:"Clear Light",foreground:"#3a4851",cursor:"#919191",bright_foreground:"#3a4851",dim_foreground:"#FF0000",normal:(black:"#2d3840",red:"#b45648",green:"#6caa71",yellow:"#c4ac62",blue:"#5685a8",magenta:"#ad64be",cyan:"#69c6c9",white:"#b4bbbf"),bright:(black:"#506573",red:"#df6c5a",green:"#79be7e",yellow:"#d8bb65",blue:"#49a2e1",magenta:"#d389e5",cyan:"#5ec7cb",white:"#d8e1e7"),dim:(black:"#2d3840",red:"#b45648",green:"#6caa71",yellow:"#c4ac62",blue:"#5685a8",magenta:"#ad64be",cyan:"#69c6c9",white:"#b4bbbf"))