(
    name: "Clear Dark",
    foreground: "#e6e6e6",
    cursor: "#9d9d9d",
    bright_foreground: "#e6e6e6",
    dim_foreground: "#465c6d",
    normal: (
        black: "#dee5eb",
        red: "#b45648",
        green: "#6caa71",
        yellow: "#c4ac62",
        blue: "#6d96b4",
        magenta: "#bd7bcd",
        cyan: "#7ccbcd",
        white: "#465c6d"
    ),
    bright: (
        black: "#e5eff5",
        red: "#b45648",
        green: "#6caa71",
        yellow: "#c4ac62",
        blue: "#6d96b4",
        magenta: "#bd7bcd",
        cyan: "#7ccbcd",
        white: "#465c6d"
    ),
    dim: (
        black: "#dee5eb",
        red: "#b45648",
        green: "#6caa71",
        yellow: "#c4ac62",
        blue: "#6d96b4",
        magenta: "#bd7bcd",
        cyan: "#7ccbcd",
        white: "#465c6d"
    ),
)
