(
    name: "Clear Light",
    foreground: "#3a4851",
    cursor: "#919191",
    bright_foreground: "#3a4851",
    dim_foreground: "#506573",
    normal: (
        black: "#b4bbbf",
        red: "#b45648",
        green: "#6caa71",
        yellow: "#c4ac62",
        blue: "#5685a8",
        magenta: "#ad64be",
        cyan: "#69c6c9",
        white: "#506573"
    ),
    bright: (
        black: "#d8e1e7",
        red: "#b45648",
        green: "#6caa71",
        yellow: "#c4ac62",
        blue: "#5685a8",
        magenta: "#ad64be",
        cyan: "#69c6c9",
        white: "#506573"
    ),
    dim: (
        black: "#b4bbbf",
        red: "#b45648",
        green: "#6caa71",
        yellow: "#c4ac62",
        blue: "#5685a8",
        magenta: "#ad64be",
        cyan: "#69c6c9",
        white: "#506573"
    ),
)
