(
    name: "Cobalt Next",
    foreground: "#d7deea",
    cursor: "#ffc64c",
    bright_foreground: "#d7deea",
    dim_foreground: "#62747f",
    normal: (
        black: "#d7deea",
        red: "#ff527b",
        green: "#8cc98f",
        yellow: "#ffc64c",
        blue: "#409dd4",
        magenta: "#cba3c7",
        cyan: "#37b5b4",
        white: "#62747f"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff527b",
        green: "#8cc98f",
        yellow: "#ffc64c",
        blue: "#409dd4",
        magenta: "#cba3c7",
        cyan: "#37b5b4",
        white: "#62747f"
    ),
    dim: (
        black: "#d7deea",
        red: "#ff527b",
        green: "#8cc98f",
        yellow: "#ffc64c",
        blue: "#409dd4",
        magenta: "#cba3c7",
        cyan: "#37b5b4",
        white: "#62747f"
    ),
)
