(
    name: "Cool Night",
    foreground: "#ecdef4",
    cursor: "#38ff9d",
    bright_foreground: "#ecdef4",
    dim_foreground: "#63686d",
    normal: (
        black: "#16fda2",
        red: "#ff3a3a",
        green: "#52ffd0",
        yellow: "#fff383",
        blue: "#1376f9",
        magenta: "#c792ea",
        cyan: "#ff5ed4",
        white: "#63686d"
    ),
    bright: (
        black: "#60fbbf",
        red: "#ff3a3a",
        green: "#52ffd0",
        yellow: "#fff383",
        blue: "#1376f9",
        magenta: "#c792ea",
        cyan: "#ff5ed4",
        white: "#63686d"
    ),
    dim: (
        black: "#16fda2",
        red: "#ff3a3a",
        green: "#52ffd0",
        yellow: "#fff383",
        blue: "#1376f9",
        magenta: "#c792ea",
        cyan: "#ff5ed4",
        white: "#63686d"
    ),
)
