(name:"CRT Amber",foreground:"#fff3c4",cursor:"#fff3c4",bright_foreground:"#fff3c4",dim_foreground:"#FF0000",normal:(black:"#4c422f",red:"#ef4444",green:"#84cc16",yellow:"#fde68a",blue:"#c084fc",magenta:"#f97316",cyan:"#f59e0b",white:"#d8a657"),bright:(black:"#544435",red:"#f26969",green:"#9dd645",yellow:"#fdeb9f",blue:"#cd9dfd",magenta:"#fa8f45",cyan:"#f7b13c",white:"#fff3c4"),dim:(black:"#4c422f",red:"#ef4444",green:"#84cc16",yellow:"#fde68a",blue:"#c084fc",magenta:"#f97316",cyan:"#f59e0b",white:"#d8a657"))