(
    name: "Cursor Dark",
    foreground: "#d4d4d4",
    cursor: "#d4d4d4",
    bright_foreground: "#d4d4d4",
    dim_foreground: "#4a4a4a",
    normal: (
        black: "#e4e4e4",
        red: "#fc6b83",
        green: "#3fa266",
        yellow: "#d2943e",
        blue: "#81a1c1",
        magenta: "#b48ead",
        cyan: "#88c0d0",
        white: "#4a4a4a"
    ),
    bright: (
        black: "#e4e4e4",
        red: "#fc6b83",
        green: "#3fa266",
        yellow: "#d2943e",
        blue: "#81a1c1",
        magenta: "#b48ead",
        cyan: "#88c0d0",
        white: "#4a4a4a"
    ),
    dim: (
        black: "#e4e4e4",
        red: "#fc6b83",
        green: "#3fa266",
        yellow: "#d2943e",
        blue: "#81a1c1",
        magenta: "#b48ead",
        cyan: "#88c0d0",
        white: "#4a4a4a"
    ),
)
