(
    name: "Dalton Dark",
    foreground: "#c8c9cc",
    cursor: "#9a9a9a",
    bright_foreground: "#c8c9cc",
    dim_foreground: "#494949",
    normal: (
        black: "#b8b8b8",
        red: "#d85050",
        green: "#5b914e",
        yellow: "#c4c40c",
        blue: "#7aa2f7",
        magenta: "#a050d0",
        cyan: "#56717f",
        white: "#494949"
    ),
    bright: (
        black: "#d8d8d8",
        red: "#d85050",
        green: "#5b914e",
        yellow: "#c4c40c",
        blue: "#7aa2f7",
        magenta: "#a050d0",
        cyan: "#56717f",
        white: "#494949"
    ),
    dim: (
        black: "#b8b8b8",
        red: "#d85050",
        green: "#5b914e",
        yellow: "#c4c40c",
        blue: "#7aa2f7",
        magenta: "#a050d0",
        cyan: "#56717f",
        white: "#494949"
    ),
)
