(
    name: "Dark+",
    foreground: "#cccccc",
    cursor: "#ffffff",
    bright_foreground: "#cccccc",
    dim_foreground: "#666666",
    normal: (
        black: "#e5e5e5",
        red: "#cd3131",
        green: "#0dbc79",
        yellow: "#e5e510",
        blue: "#2472c8",
        magenta: "#bc3fbc",
        cyan: "#11a8cd",
        white: "#666666"
    ),
    bright: (
        black: "#e5e5e5",
        red: "#cd3131",
        green: "#0dbc79",
        yellow: "#e5e510",
        blue: "#2472c8",
        magenta: "#bc3fbc",
        cyan: "#11a8cd",
        white: "#666666"
    ),
    dim: (
        black: "#e5e5e5",
        red: "#cd3131",
        green: "#0dbc79",
        yellow: "#e5e510",
        blue: "#2472c8",
        magenta: "#bc3fbc",
        cyan: "#11a8cd",
        white: "#666666"
    ),
)
