(
    name: "Darkermatrix",
    foreground: "#35451a",
    cursor: "#444733",
    bright_foreground: "#35451a",
    dim_foreground: "#404040",
    normal: (
        black: "#1a4833",
        red: "#1a4831",
        green: "#6fa64c",
        yellow: "#595900",
        blue: "#00cb6b",
        magenta: "#4e375a",
        cyan: "#125459",
        white: "#404040"
    ),
    bright: (
        black: "#00381e",
        red: "#1a4831",
        green: "#6fa64c",
        yellow: "#595900",
        blue: "#00cb6b",
        magenta: "#4e375a",
        cyan: "#125459",
        white: "#404040"
    ),
    dim: (
        black: "#1a4833",
        red: "#1a4831",
        green: "#6fa64c",
        yellow: "#595900",
        blue: "#00cb6b",
        magenta: "#4e375a",
        cyan: "#125459",
        white: "#404040"
    ),
)
