(
    name: "Dark Pastel",
    foreground: "#ffffff",
    cursor: "#bbbbbb",
    bright_foreground: "#ffffff",
    dim_foreground: "#000000",

    normal: (
        black: "#000000",
        red: "#ff5555",
        green: "#55ff55",
        yellow: "#ffff55",
        blue: "#5555ff",
        magenta: "#ff55ff",
        cyan: "#55ffff",
        white: "#bbbbbb"
    ),

    bright: (
        black: "#555555",
        red: "#ff5555",
        green: "#55ff55",
        yellow: "#ffff55",
        blue: "#5555ff",
        magenta: "#ff55ff",
        cyan: "#55ffff",
        white: "#ffffff"
    ),

    dim: (
        black: "#000000",
        red: "#ff5555",
        green: "#55ff55",
        yellow: "#ffff55",
        blue: "#5555ff",
        magenta: "#ff55ff",
        cyan: "#55ffff",
        white: "#bbbbbb"
    ),
)
