(
    name: "Darkmatrix",
    foreground: "#3e5715",
    cursor: "#9fa86e",
    bright_foreground: "#3e5715",
    dim_foreground: "#404040",
    normal: (
        black: "#006536",
        red: "#006536",
        green: "#6fa64c",
        yellow: "#7e8000",
        blue: "#2c9a84",
        magenta: "#523a60",
        cyan: "#114d53",
        white: "#404040"
    ),
    bright: (
        black: "#006536",
        red: "#006536",
        green: "#6fa64c",
        yellow: "#7e8000",
        blue: "#2c9a84",
        magenta: "#523a60",
        cyan: "#114d53",
        white: "#404040"
    ),
    dim: (
        black: "#006536",
        red: "#006536",
        green: "#6fa64c",
        yellow: "#7e8000",
        blue: "#2c9a84",
        magenta: "#523a60",
        cyan: "#114d53",
        white: "#404040"
    ),
)
