(
    name: "Dark Modern",
    foreground: "#cccccc",
    cursor: "#ffffff",
    bright_foreground: "#cccccc",
    dim_foreground: "#5d5d5d",
    normal: (
        black: "#cccccc",
        red: "#f74949",
        green: "#2ea043",
        yellow: "#9e6a03",
        blue: "#0078d4",
        magenta: "#d01273",
        cyan: "#1db4d6",
        white: "#5d5d5d"
    ),
    bright: (
        black: "#e5e5e5",
        red: "#f74949",
        green: "#2ea043",
        yellow: "#9e6a03",
        blue: "#0078d4",
        magenta: "#d01273",
        cyan: "#1db4d6",
        white: "#5d5d5d"
    ),
    dim: (
        black: "#cccccc",
        red: "#f74949",
        green: "#2ea043",
        yellow: "#9e6a03",
        blue: "#0078d4",
        magenta: "#d01273",
        cyan: "#1db4d6",
        white: "#5d5d5d"
    ),
)
