(
    name: "datum (light)",
    foreground: "#292e35",
    cursor: "#973070",
    bright_foreground: "#292e35",
    dim_foreground: "#616a76",
    normal: (
        black: "#b4b9bf",
        red: "#a24500",
        green: "#007553",
        yellow: "#656023",
        blue: "#0176b8",
        magenta: "#973070",
        cyan: "#0d7a7f",
        white: "#616a76"
    ),
    bright: (
        black: "#e7ecf2",
        red: "#a24500",
        green: "#007553",
        yellow: "#656023",
        blue: "#0176b8",
        magenta: "#973070",
        cyan: "#0d7a7f",
        white: "#616a76"
    ),
    dim: (
        black: "#b4b9bf",
        red: "#a24500",
        green: "#007553",
        yellow: "#656023",
        blue: "#0176b8",
        magenta: "#973070",
        cyan: "#0d7a7f",
        white: "#616a76"
    ),
)
