(
    name: "Dawnfox",
    foreground: "#575279",
    cursor: "#575279",
    bright_foreground: "#575279",
    dim_foreground: "#5f5695",
    normal: (
        black: "#b2b6bd",
        red: "#b4637a",
        green: "#618774",
        yellow: "#ea9d34",
        blue: "#286983",
        magenta: "#907aa9",
        cyan: "#56949f",
        white: "#5f5695"
    ),
    bright: (
        black: "#e6ebf3",
        red: "#b4637a",
        green: "#618774",
        yellow: "#ea9d34",
        blue: "#286983",
        magenta: "#907aa9",
        cyan: "#56949f",
        white: "#5f5695"
    ),
    dim: (
        black: "#b2b6bd",
        red: "#b4637a",
        green: "#618774",
        yellow: "#ea9d34",
        blue: "#286983",
        magenta: "#907aa9",
        cyan: "#56949f",
        white: "#5f5695"
    ),
)
