(
    name: "Desert",
    foreground: "#ffffff",
    cursor: "#00ff00",
    bright_foreground: "#ffffff",
    dim_foreground: "#626262",
    normal: (
        black: "#f5deb3",
        red: "#ff2b2b",
        green: "#98fb98",
        yellow: "#f0e68c",
        blue: "#cd853f",
        magenta: "#ffdead",
        cyan: "#ffa0a0",
        white: "#626262"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff2b2b",
        green: "#98fb98",
        yellow: "#f0e68c",
        blue: "#cd853f",
        magenta: "#ffdead",
        cyan: "#ffa0a0",
        white: "#626262"
    ),
    dim: (
        black: "#f5deb3",
        red: "#ff2b2b",
        green: "#98fb98",
        yellow: "#f0e68c",
        blue: "#cd853f",
        magenta: "#ffdead",
        cyan: "#ffa0a0",
        white: "#626262"
    ),
)
