(
    name: "Detuned",
    foreground: "#c7c7c7",
    cursor: "#c7c7c7",
    bright_foreground: "#c7c7c7",
    dim_foreground: "#686868",
    normal: (
        black: "#c7c7c7",
        red: "#fe4386",
        green: "#a6e32d",
        yellow: "#e6da73",
        blue: "#0094d9",
        magenta: "#9b37ff",
        cyan: "#50b7d9",
        white: "#686868"
    ),
    bright: (
        black: "#ffffff",
        red: "#fe4386",
        green: "#a6e32d",
        yellow: "#e6da73",
        blue: "#0094d9",
        magenta: "#9b37ff",
        cyan: "#50b7d9",
        white: "#686868"
    ),
    dim: (
        black: "#c7c7c7",
        red: "#fe4386",
        green: "#a6e32d",
        yellow: "#e6da73",
        blue: "#0094d9",
        magenta: "#9b37ff",
        cyan: "#50b7d9",
        white: "#686868"
    ),
)
