(
    name: "Dimidium",
    foreground: "#bab7b6",
    cursor: "#37e57b",
    bright_foreground: "#bab7b6",
    dim_foreground: "#000000",

    normal: (
        black: "#000000",
        red: "#cf494c",
        green: "#60b442",
        yellow: "#db9c11",
        blue: "#0575d8",
        magenta: "#af5ed2",
        cyan: "#1db6bb",
        white: "#bab7b6"
    ),

    bright: (
        black: "#817e7e",
        red: "#ff643b",
        green: "#37e57b",
        yellow: "#fccd1a",
        blue: "#688dfd",
        magenta: "#ed6fe9",
        cyan: "#32e0fb",
        white: "#dee3e4"
    ),

    dim: (
        black: "#000000",
        red: "#cf494c",
        green: "#60b442",
        yellow: "#db9c11",
        blue: "#0575d8",
        magenta: "#af5ed2",
        cyan: "#1db6bb",
        white: "#bab7b6"
    ),
)
