(name:"Doom One",foreground:"#bbc2cf",cursor:"#51afef",bright_foreground:"#bbc2cf",dim_foreground:"#FF0000",normal:(black:"#000000",red:"#ff6c6b",green:"#98be65",yellow:"#ecbe7b",blue:"#a9a1e1",magenta:"#c678dd",cyan:"#51afef",white:"#bbc2cf"),bright:(black:"#595959",red:"#ff6655",green:"#99bb66",yellow:"#ecbe7b",blue:"#a9a1e1",magenta:"#c678dd",cyan:"#51afef",white:"#bfbfbf"),dim:(black:"#000000",red:"#ff6c6b",green:"#98be65",yellow:"#ecbe7b",blue:"#a9a1e1",magenta:"#c678dd",cyan:"#51afef",white:"#bbc2cf"))