(
    name: "Dot Gov",
    foreground: "#ebebeb",
    cursor: "#d9002f",
    bright_foreground: "#ebebeb",
    dim_foreground: "#595959",
    normal: (
        black: "#ffffff",
        red: "#bf091d",
        green: "#3d9751",
        yellow: "#f6bb34",
        blue: "#17b2e0",
        magenta: "#7830b0",
        cyan: "#8bd2ed",
        white: "#595959"
    ),
    bright: (
        black: "#ffffff",
        red: "#bf091d",
        green: "#3d9751",
        yellow: "#f6bb34",
        blue: "#17b2e0",
        magenta: "#7830b0",
        cyan: "#8bd2ed",
        white: "#595959"
    ),
    dim: (
        black: "#ffffff",
        red: "#bf091d",
        green: "#3d9751",
        yellow: "#f6bb34",
        blue: "#17b2e0",
        magenta: "#7830b0",
        cyan: "#8bd2ed",
        white: "#595959"
    ),
)
