(
    name: "Dracula+",
    foreground: "#f8f8f2",
    cursor: "#eceff4",
    bright_foreground: "#f8f8f2",
    dim_foreground: "#545454",
    normal: (
        black: "#f8f8f2",
        red: "#ff5555",
        green: "#50fa7b",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#8be9fd",
        white: "#545454"
    ),
    bright: (
        black: "#f8f8f2",
        red: "#ff5555",
        green: "#50fa7b",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#8be9fd",
        white: "#545454"
    ),
    dim: (
        black: "#f8f8f2",
        red: "#ff5555",
        green: "#50fa7b",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#8be9fd",
        white: "#545454"
    ),
)
