(
    name: "Dracula",
    foreground: "#f8f8f2",
    cursor: "#f8f8f2",
    bright_foreground: "#f8f8f2",
    dim_foreground: "#6272a4",
    normal: (
        black: "#f8f8f2",
        red: "#ff5555",
        green: "#50fa7b",
        yellow: "#f1fa8c",
        blue: "#bd93f9",
        magenta: "#ff79c6",
        cyan: "#8be9fd",
        white: "#6272a4"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff5555",
        green: "#50fa7b",
        yellow: "#f1fa8c",
        blue: "#bd93f9",
        magenta: "#ff79c6",
        cyan: "#8be9fd",
        white: "#6272a4"
    ),
    dim: (
        black: "#f8f8f2",
        red: "#ff5555",
        green: "#50fa7b",
        yellow: "#f1fa8c",
        blue: "#bd93f9",
        magenta: "#ff79c6",
        cyan: "#8be9fd",
        white: "#6272a4"
    ),
)
