(
    name: "Driftwood",
    foreground: "#e6ddd0",
    cursor: "#dfb666",
    bright_foreground: "#e6ddd0",
    dim_foreground: "#9a8e7c",
    normal: (
        black: "#c2b7a6",
        red: "#e77467",
        green: "#aab971",
        yellow: "#e1b869",
        blue: "#78b3b5",
        magenta: "#c9a0bd",
        cyan: "#a5c4b1",
        white: "#9a8e7c"
    ),
    bright: (
        black: "#f2eadb",
        red: "#e77467",
        green: "#aab971",
        yellow: "#e1b869",
        blue: "#78b3b5",
        magenta: "#c9a0bd",
        cyan: "#a5c4b1",
        white: "#9a8e7c"
    ),
    dim: (
        black: "#c2b7a6",
        red: "#e77467",
        green: "#aab971",
        yellow: "#e1b869",
        blue: "#78b3b5",
        magenta: "#c9a0bd",
        cyan: "#a5c4b1",
        white: "#9a8e7c"
    ),
)
