(
    name: "Duckbones",
    foreground: "#ebefc0",
    cursor: "#edf2c2",
    bright_foreground: "#ebefc0",
    dim_foreground: "#444860",
    normal: (
        black: "#ebefc0",
        red: "#e03600",
        green: "#5dcd97",
        yellow: "#e39500",
        blue: "#00a3cb",
        magenta: "#795ccc",
        cyan: "#00a3cb",
        white: "#444860"
    ),
    bright: (
        black: "#b3b692",
        red: "#e03600",
        green: "#5dcd97",
        yellow: "#e39500",
        blue: "#00a3cb",
        magenta: "#795ccc",
        cyan: "#00a3cb",
        white: "#444860"
    ),
    dim: (
        black: "#ebefc0",
        red: "#e03600",
        green: "#5dcd97",
        yellow: "#e39500",
        blue: "#00a3cb",
        magenta: "#795ccc",
        cyan: "#00a3cb",
        white: "#444860"
    ),
)
