(
    name: "Duskfox",
    foreground: "#e0def4",
    cursor: "#e0def4",
    bright_foreground: "#e0def4",
    dim_foreground: "#544d8a",
    normal: (
        black: "#e0def4",
        red: "#eb6f92",
        green: "#a3be8c",
        yellow: "#f6c177",
        blue: "#569fba",
        magenta: "#c4a7e7",
        cyan: "#9ccfd8",
        white: "#544d8a"
    ),
    bright: (
        black: "#e2e0f7",
        red: "#eb6f92",
        green: "#a3be8c",
        yellow: "#f6c177",
        blue: "#569fba",
        magenta: "#c4a7e7",
        cyan: "#9ccfd8",
        white: "#544d8a"
    ),
    dim: (
        black: "#e0def4",
        red: "#eb6f92",
        green: "#a3be8c",
        yellow: "#f6c177",
        blue: "#569fba",
        magenta: "#c4a7e7",
        cyan: "#9ccfd8",
        white: "#544d8a"
    ),
)
