(
    name: "Earthsong",
    foreground: "#e5c7a9",
    cursor: "#f6f7ec",
    bright_foreground: "#e5c7a9",
    dim_foreground: "#675f54",
    normal: (
        black: "#e5c6aa",
        red: "#c94234",
        green: "#85c54c",
        yellow: "#f5ae2e",
        blue: "#1398b9",
        magenta: "#d0633d",
        cyan: "#509552",
        white: "#675f54"
    ),
    bright: (
        black: "#f6f7ec",
        red: "#c94234",
        green: "#85c54c",
        yellow: "#f5ae2e",
        blue: "#1398b9",
        magenta: "#d0633d",
        cyan: "#509552",
        white: "#675f54"
    ),
    dim: (
        black: "#e5c6aa",
        red: "#c94234",
        green: "#85c54c",
        yellow: "#f5ae2e",
        blue: "#1398b9",
        magenta: "#d0633d",
        cyan: "#509552",
        white: "#675f54"
    ),
)
