(name:"Electron Highlighter Day",foreground:"#2f3b54",cursor:"#2f3b54",bright_foreground:"#2f3b54",dim_foreground:"#FF0000",normal:(black:"#c2c6d4",red:"#f52a65",green:"#10a877",yellow:"#df8e1d",blue:"#366ff0",magenta:"#8b4fe0",cyan:"#0a9fbf",white:"#59647e"),bright:(black:"#7b88a8",red:"#f52a65",green:"#10a877",yellow:"#df8e1d",blue:"#366ff0",magenta:"#8b4fe0",cyan:"#0a9fbf",white:"#2f3b54"),dim:(black:"#c2c6d4",red:"#f52a65",green:"#10a877",yellow:"#df8e1d",blue:"#366ff0",magenta:"#8b4fe0",cyan:"#0a9fbf",white:"#59647e"))