(
    name: "Electron Highlighter",
    foreground: "#a5b6d4",
    cursor: "#a5b6d4",
    bright_foreground: "#a5b6d4",
    dim_foreground: "#15161f",

    normal: (
        black: "#15161f",
        red: "#ff6c8d",
        green: "#00ffc3",
        yellow: "#ffebb1",
        blue: "#77abff",
        magenta: "#daa4f4",
        cyan: "#00e5ff",
        white: "#7187b7"
    ),

    bright: (
        black: "#4b5b8c",
        red: "#ff6c8d",
        green: "#00ffc3",
        yellow: "#ffebb1",
        blue: "#77abff",
        magenta: "#daa4f4",
        cyan: "#00e5ff",
        white: "#c3cde2"
    ),

    dim: (
        black: "#15161f",
        red: "#ff6c8d",
        green: "#00ffc3",
        yellow: "#ffebb1",
        blue: "#77abff",
        magenta: "#daa4f4",
        cyan: "#00e5ff",
        white: "#7187b7"
    ),
)
