(
    name: "Electron Highlighter Day",
    foreground: "#2f3b54",
    cursor: "#2f3b54",
    bright_foreground: "#2f3b54",
    dim_foreground: "#7b88a8",
    normal: (
        black: "#59647e",
        red: "#f52a65",
        green: "#10a877",
        yellow: "#df8e1d",
        blue: "#366ff0",
        magenta: "#8b4fe0",
        cyan: "#0a9fbf",
        white: "#7b88a8"
    ),
    bright: (
        black: "#2f3b54",
        red: "#f52a65",
        green: "#10a877",
        yellow: "#df8e1d",
        blue: "#366ff0",
        magenta: "#8b4fe0",
        cyan: "#0a9fbf",
        white: "#7b88a8"
    ),
    dim: (
        black: "#59647e",
        red: "#f52a65",
        green: "#10a877",
        yellow: "#df8e1d",
        blue: "#366ff0",
        magenta: "#8b4fe0",
        cyan: "#0a9fbf",
        white: "#7b88a8"
    ),
)
