(
    name: "Elegant",
    foreground: "#ced2d6",
    cursor: "#00beff",
    bright_foreground: "#ced2d6",
    dim_foreground: "#575656",
    normal: (
        black: "#ffffff",
        red: "#ff0257",
        green: "#85cc95",
        yellow: "#ffcb8b",
        blue: "#8dabe1",
        magenta: "#c792eb",
        cyan: "#78ccf0",
        white: "#575656"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff0257",
        green: "#85cc95",
        yellow: "#ffcb8b",
        blue: "#8dabe1",
        magenta: "#c792eb",
        cyan: "#78ccf0",
        white: "#575656"
    ),
    dim: (
        black: "#ffffff",
        red: "#ff0257",
        green: "#85cc95",
        yellow: "#ffcb8b",
        blue: "#8dabe1",
        magenta: "#c792eb",
        cyan: "#78ccf0",
        white: "#575656"
    ),
)
