(name:"Elegant",foreground:"#ced2d6",cursor:"#00beff",bright_foreground:"#ced2d6",dim_foreground:"#FF0000",normal:(black:"#0a1222",red:"#ff0257",green:"#85cc95",yellow:"#ffcb8b",blue:"#8dabe1",magenta:"#c792eb",cyan:"#78ccf0",white:"#ffffff"),bright:(black:"#575656",red:"#ff0057",green:"#85cc95",yellow:"#ffcb8b",blue:"#8dabe1",magenta:"#c792eb",cyan:"#3facef",white:"#ffffff"),dim:(black:"#0a1222",red:"#ff0257",green:"#85cc95",yellow:"#ffcb8b",blue:"#8dabe1",magenta:"#c792eb",cyan:"#78ccf0",white:"#ffffff"))