(
    name: "ENCOM",
    foreground: "#00a595",
    cursor: "#bbbbbb",
    bright_foreground: "#00a595",
    dim_foreground: "#555555",
    normal: (
        black: "#bbbbbb",
        red: "#9f0000",
        green: "#008b00",
        yellow: "#ffd000",
        blue: "#0081ff",
        magenta: "#bc00ca",
        cyan: "#008b8b",
        white: "#555555"
    ),
    bright: (
        black: "#ffffff",
        red: "#9f0000",
        green: "#008b00",
        yellow: "#ffd000",
        blue: "#0081ff",
        magenta: "#bc00ca",
        cyan: "#008b8b",
        white: "#555555"
    ),
    dim: (
        black: "#bbbbbb",
        red: "#9f0000",
        green: "#008b00",
        yellow: "#ffd000",
        blue: "#0081ff",
        magenta: "#bc00ca",
        cyan: "#008b8b",
        white: "#555555"
    ),
)
