(
    name: "Espresso Libre",
    foreground: "#b8a898",
    cursor: "#ffffff",
    bright_foreground: "#b8a898",
    dim_foreground: "#555753",
    normal: (
        black: "#d3d7cf",
        red: "#cc0000",
        green: "#1a921c",
        yellow: "#f0e53a",
        blue: "#0066ff",
        magenta: "#c5656b",
        cyan: "#06989a",
        white: "#555753"
    ),
    bright: (
        black: "#eeeeec",
        red: "#cc0000",
        green: "#1a921c",
        yellow: "#f0e53a",
        blue: "#0066ff",
        magenta: "#c5656b",
        cyan: "#06989a",
        white: "#555753"
    ),
    dim: (
        black: "#d3d7cf",
        red: "#cc0000",
        green: "#1a921c",
        yellow: "#f0e53a",
        blue: "#0066ff",
        magenta: "#c5656b",
        cyan: "#06989a",
        white: "#555753"
    ),
)
