(name:"Espresso",foreground:"#ffffff",cursor:"#d6d6d6",bright_foreground:"#ffffff",dim_foreground:"#FF0000",normal:(black:"#353535",red:"#d25252",green:"#a5c261",yellow:"#ffc66d",blue:"#6c99bb",magenta:"#d197d9",cyan:"#bed6ff",white:"#eeeeec"),bright:(black:"#606060",red:"#f00c0c",green:"#c2e075",yellow:"#e1e48b",blue:"#8ab7d9",magenta:"#efb5f7",cyan:"#dcf4ff",white:"#ffffff"),dim:(black:"#353535",red:"#d25252",green:"#a5c261",yellow:"#ffc66d",blue:"#6c99bb",magenta:"#d197d9",cyan:"#bed6ff",white:"#eeeeec"))