(
    name: "Everforest Light Soft",
    foreground: "#5c6a72",
    cursor: "#f57d26",
    bright_foreground: "#5c6a72",
    dim_foreground: "#7a8478",

    normal: (
        black: "#7a8478",
        red: "#e67e80",
        green: "#8da666",
        yellow: "#c1a266",
        blue: "#72aea6",
        magenta: "#c98ca9",
        cyan: "#76b385",
        white: "#a5a292"
    ),

    bright: (
        black: "#99a393",
        red: "#f85552",
        green: "#8da101",
        yellow: "#d29300",
        blue: "#3a94c5",
        magenta: "#df69ba",
        cyan: "#35a77c",
        white: "#fffbef"
    ),

    dim: (
        black: "#7a8478",
        red: "#e67e80",
        green: "#8da666",
        yellow: "#c1a266",
        blue: "#72aea6",
        magenta: "#c98ca9",
        cyan: "#76b385",
        white: "#a5a292"
    ),
)
