(name:"Everblush",foreground:"#dadada",cursor:"#dadada",bright_foreground:"#dadada",dim_foreground:"#FF0000",normal:(black:"#232a2d",red:"#e57474",green:"#8ccf7e",yellow:"#e5c76b",blue:"#67b0e8",magenta:"#c47fd5",cyan:"#6cbfbf",white:"#b3b9b8"),bright:(black:"#464e50",red:"#ef7e7e",green:"#96d988",yellow:"#f4d67a",blue:"#71baf2",magenta:"#ce89df",cyan:"#67cbe7",white:"#bdc3c2"),dim:(black:"#232a2d",red:"#e57474",green:"#8ccf7e",yellow:"#e5c76b",blue:"#67b0e8",magenta:"#c47fd5",cyan:"#6cbfbf",white:"#b3b9b8"))