(
    name: "Everforest Light Soft",
    foreground: "#5c6a72",
    cursor: "#f57d26",
    bright_foreground: "#5c6a72",
    dim_foreground: "#99a393",
    normal: (
        black: "#a5a292",
        red: "#e67e80",
        green: "#8da666",
        yellow: "#c1a266",
        blue: "#72aea6",
        magenta: "#c98ca9",
        cyan: "#76b385",
        white: "#99a393"
    ),
    bright: (
        black: "#fffbef",
        red: "#e67e80",
        green: "#8da666",
        yellow: "#c1a266",
        blue: "#72aea6",
        magenta: "#c98ca9",
        cyan: "#76b385",
        white: "#99a393"
    ),
    dim: (
        black: "#a5a292",
        red: "#e67e80",
        green: "#8da666",
        yellow: "#c1a266",
        blue: "#72aea6",
        magenta: "#c98ca9",
        cyan: "#76b385",
        white: "#99a393"
    ),
)
