(
    name: "Everforest Dark Hard",
    foreground: "#d3c6aa",
    cursor: "#e69875",
    bright_foreground: "#d3c6aa",
    dim_foreground: "#a6b0a0",
    normal: (
        black: "#f2efdf",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#dbbc7f",
        blue: "#7fbbb3",
        magenta: "#d699b6",
        cyan: "#83c092",
        white: "#a6b0a0"
    ),
    bright: (
        black: "#fffbef",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#dbbc7f",
        blue: "#7fbbb3",
        magenta: "#d699b6",
        cyan: "#83c092",
        white: "#a6b0a0"
    ),
    dim: (
        black: "#f2efdf",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#dbbc7f",
        blue: "#7fbbb3",
        magenta: "#d699b6",
        cyan: "#83c092",
        white: "#a6b0a0"
    ),
)
