(
    name: "Everblush",
    foreground: "#dadada",
    cursor: "#dadada",
    bright_foreground: "#dadada",
    dim_foreground: "#464e50",
    normal: (
        black: "#b3b9b8",
        red: "#e57474",
        green: "#8ccf7e",
        yellow: "#e5c76b",
        blue: "#67b0e8",
        magenta: "#c47fd5",
        cyan: "#6cbfbf",
        white: "#464e50"
    ),
    bright: (
        black: "#bdc3c2",
        red: "#e57474",
        green: "#8ccf7e",
        yellow: "#e5c76b",
        blue: "#67b0e8",
        magenta: "#c47fd5",
        cyan: "#6cbfbf",
        white: "#464e50"
    ),
    dim: (
        black: "#b3b9b8",
        red: "#e57474",
        green: "#8ccf7e",
        yellow: "#e5c76b",
        blue: "#67b0e8",
        magenta: "#c47fd5",
        cyan: "#6cbfbf",
        white: "#464e50"
    ),
)
