(
    name: "EVH FrankenTone",
    foreground: "#f7ede5",
    background: "#76231f",
    cursor: "#f5cc48",
    bright_foreground: "#f7ede5",
    dim_foreground: "#c9b8b1",

    normal: (
        black: "#e7d8d0",
        red: "#ffb4a5",
        green: "#e6d27e",
        yellow: "#f4d45d",
        blue: "#a9cbe7",
        magenta: "#d9c3c9",
        cyan: "#a7d7d7",
        white: "#f7ede5"
    ),

    bright: (
        black: "#c9b8b1",
        red: "#ffd0bf",
        green: "#f2e4a0",
        yellow: "#ffe27d",
        blue: "#c5ddf3",
        magenta: "#f0d8de",
        cyan: "#c4e9e8",
        white: "#ffffff"
    ),

    dim: (
        black: "#e7d8d0",
        red: "#ffb4a5",
        green: "#e6d27e",
        yellow: "#f4d45d",
        blue: "#a9cbe7",
        magenta: "#d9c3c9",
        cyan: "#a7d7d7",
        white: "#f7ede5"
    ),
)
