(
    name: "Firefly Traditional",
    foreground: "#f5f5f5",
    cursor: "#00f900",
    bright_foreground: "#f5f5f5",
    dim_foreground: "#000000",

    normal: (
        black: "#000000",
        red: "#c23720",
        green: "#33bc26",
        yellow: "#afad24",
        blue: "#5a63ff",
        magenta: "#d53ad2",
        cyan: "#33bbc7",
        white: "#cccccc"
    ),

    bright: (
        black: "#828282",
        red: "#ff3b1e",
        green: "#2ee720",
        yellow: "#ecec16",
        blue: "#838dff",
        magenta: "#ff5cfe",
        cyan: "#29f0f0",
        white: "#ebebeb"
    ),

    dim: (
        black: "#000000",
        red: "#c23720",
        green: "#33bc26",
        yellow: "#afad24",
        blue: "#5a63ff",
        magenta: "#d53ad2",
        cyan: "#33bbc7",
        white: "#cccccc"
    ),
)
