(
    name: "Firefox Dev",
    foreground: "#7c8fa4",
    cursor: "#708284",
    bright_foreground: "#7c8fa4",
    dim_foreground: "#26444d",
    normal: (
        black: "#dcdcdc",
        red: "#e63853",
        green: "#5eb83c",
        yellow: "#a57706",
        blue: "#359ddf",
        magenta: "#d75cff",
        cyan: "#4b73a2",
        white: "#26444d"
    ),
    bright: (
        black: "#e2e2e2",
        red: "#e63853",
        green: "#5eb83c",
        yellow: "#a57706",
        blue: "#359ddf",
        magenta: "#d75cff",
        cyan: "#4b73a2",
        white: "#26444d"
    ),
    dim: (
        black: "#dcdcdc",
        red: "#e63853",
        green: "#5eb83c",
        yellow: "#a57706",
        blue: "#359ddf",
        magenta: "#d75cff",
        cyan: "#4b73a2",
        white: "#26444d"
    ),
)
