(
    name: "Flatland",
    foreground: "#b8dbef",
    cursor: "#708284",
    bright_foreground: "#b8dbef",
    dim_foreground: "#50504c",
    normal: (
        black: "#ffffff",
        red: "#f18339",
        green: "#9fd364",
        yellow: "#f4ef6d",
        blue: "#5096be",
        magenta: "#695abc",
        cyan: "#d63865",
        white: "#50504c"
    ),
    bright: (
        black: "#ffffff",
        red: "#f18339",
        green: "#9fd364",
        yellow: "#f4ef6d",
        blue: "#5096be",
        magenta: "#695abc",
        cyan: "#d63865",
        white: "#50504c"
    ),
    dim: (
        black: "#ffffff",
        red: "#f18339",
        green: "#9fd364",
        yellow: "#f4ef6d",
        blue: "#5096be",
        magenta: "#695abc",
        cyan: "#d63865",
        white: "#50504c"
    ),
)
