(name:"Flatland",foreground:"#b8dbef",cursor:"#708284",bright_foreground:"#b8dbef",dim_foreground:"#FF0000",normal:(black:"#1d1d19",red:"#f18339",green:"#9fd364",yellow:"#f4ef6d",blue:"#5096be",magenta:"#695abc",cyan:"#d63865",white:"#ffffff"),bright:(black:"#50504c",red:"#d22a24",green:"#a7d42c",yellow:"#ff8949",blue:"#61b9d0",magenta:"#695abc",cyan:"#d63865",white:"#ffffff"),dim:(black:"#1d1d19",red:"#f18339",green:"#9fd364",yellow:"#f4ef6d",blue:"#5096be",magenta:"#695abc",cyan:"#d63865",white:"#ffffff"))