(
    name: "Floraverse",
    foreground: "#dbd1b9",
    cursor: "#bbbbbb",
    bright_foreground: "#dbd1b9",
    dim_foreground: "#4c3866",
    normal: (
        black: "#f3e0b8",
        red: "#7e1a46",
        green: "#5d731a",
        yellow: "#cd751c",
        blue: "#1d6da1",
        magenta: "#b7077e",
        cyan: "#42a38c",
        white: "#4c3866"
    ),
    bright: (
        black: "#fff5db",
        red: "#7e1a46",
        green: "#5d731a",
        yellow: "#cd751c",
        blue: "#1d6da1",
        magenta: "#b7077e",
        cyan: "#42a38c",
        white: "#4c3866"
    ),
    dim: (
        black: "#f3e0b8",
        red: "#7e1a46",
        green: "#5d731a",
        yellow: "#cd751c",
        blue: "#1d6da1",
        magenta: "#b7077e",
        cyan: "#42a38c",
        white: "#4c3866"
    ),
)
