(name:"Floraverse",foreground:"#dbd1b9",cursor:"#bbbbbb",bright_foreground:"#dbd1b9",dim_foreground:"#FF0000",normal:(black:"#08002e",red:"#7e1a46",green:"#5d731a",yellow:"#cd751c",blue:"#1d6da1",magenta:"#b7077e",cyan:"#42a38c",white:"#f3e0b8"),bright:(black:"#4c3866",red:"#d02063",green:"#b4ce59",yellow:"#fac357",blue:"#40a4cf",magenta:"#f12aae",cyan:"#62caa8",white:"#fff5db"),dim:(black:"#08002e",red:"#7e1a46",green:"#5d731a",yellow:"#cd751c",blue:"#1d6da1",magenta:"#b7077e",cyan:"#42a38c",white:"#f3e0b8"))