(
    name: "Front End Delight",
    foreground: "#adadad",
    cursor: "#cdcdcd",
    bright_foreground: "#adadad",
    dim_foreground: "#5fac6d",
    normal: (
        black: "#adadad",
        red: "#f8511b",
        green: "#565747",
        yellow: "#fa771d",
        blue: "#2c70b7",
        magenta: "#f02e4f",
        cyan: "#3ca1a6",
        white: "#5fac6d"
    ),
    bright: (
        black: "#8c735b",
        red: "#f8511b",
        green: "#565747",
        yellow: "#fa771d",
        blue: "#2c70b7",
        magenta: "#f02e4f",
        cyan: "#3ca1a6",
        white: "#5fac6d"
    ),
    dim: (
        black: "#adadad",
        red: "#f8511b",
        green: "#565747",
        yellow: "#fa771d",
        blue: "#2c70b7",
        magenta: "#f02e4f",
        cyan: "#3ca1a6",
        white: "#5fac6d"
    ),
)
