(
    name: "Frostbyte",
    foreground: "#283645",
    cursor: "#1f73cc",
    bright_foreground: "#283645",
    dim_foreground: "#93a4b6",
    normal: (
        black: "#586878",
        red: "#c2384f",
        green: "#2e7a56",
        yellow: "#876010",
        blue: "#1a66be",
        magenta: "#5552cc",
        cyan: "#1a7e9e",
        white: "#93a4b6"
    ),
    bright: (
        black: "#283645",
        red: "#c2384f",
        green: "#2e7a56",
        yellow: "#876010",
        blue: "#1a66be",
        magenta: "#5552cc",
        cyan: "#1a7e9e",
        white: "#93a4b6"
    ),
    dim: (
        black: "#586878",
        red: "#c2384f",
        green: "#2e7a56",
        yellow: "#876010",
        blue: "#1a66be",
        magenta: "#5552cc",
        cyan: "#1a7e9e",
        white: "#93a4b6"
    ),
)
