(
    name: "Galaxy",
    foreground: "#ffffff",
    cursor: "#bbbbbb",
    bright_foreground: "#ffffff",
    dim_foreground: "#000000",

    normal: (
        black: "#000000",
        red: "#f9555f",
        green: "#21b089",
        yellow: "#fef02a",
        blue: "#589df6",
        magenta: "#944d95",
        cyan: "#1f9ee7",
        white: "#bbbbbb"
    ),

    bright: (
        black: "#555555",
        red: "#fa8c8f",
        green: "#35bb9a",
        yellow: "#ffff55",
        blue: "#589df6",
        magenta: "#e75699",
        cyan: "#3979bc",
        white: "#ffffff"
    ),

    dim: (
        black: "#000000",
        red: "#f9555f",
        green: "#21b089",
        yellow: "#fef02a",
        blue: "#589df6",
        magenta: "#944d95",
        cyan: "#1f9ee7",
        white: "#bbbbbb"
    ),
)
