(
    name: "Galizur",
    foreground: "#ddeeff",
    cursor: "#ddeeff",
    bright_foreground: "#ddeeff",
    dim_foreground: "#556677",
    normal: (
        black: "#8899aa",
        red: "#aa1122",
        green: "#33aa11",
        yellow: "#ccaa22",
        blue: "#2255cc",
        magenta: "#7755aa",
        cyan: "#22bbdd",
        white: "#556677"
    ),
    bright: (
        black: "#bbccdd",
        red: "#aa1122",
        green: "#33aa11",
        yellow: "#ccaa22",
        blue: "#2255cc",
        magenta: "#7755aa",
        cyan: "#22bbdd",
        white: "#556677"
    ),
    dim: (
        black: "#8899aa",
        red: "#aa1122",
        green: "#33aa11",
        yellow: "#ccaa22",
        blue: "#2255cc",
        magenta: "#7755aa",
        cyan: "#22bbdd",
        white: "#556677"
    ),
)
