(
    name: "GitHub Light Default",
    foreground: "#1f2328",
    cursor: "#0969da",
    bright_foreground: "#1f2328",
    dim_foreground: "#57606a",
    normal: (
        black: "#6e7781",
        red: "#cf222e",
        green: "#116329",
        yellow: "#4d2d00",
        blue: "#0969da",
        magenta: "#8250df",
        cyan: "#1b7c83",
        white: "#57606a"
    ),
    bright: (
        black: "#8c959f",
        red: "#cf222e",
        green: "#116329",
        yellow: "#4d2d00",
        blue: "#0969da",
        magenta: "#8250df",
        cyan: "#1b7c83",
        white: "#57606a"
    ),
    dim: (
        black: "#6e7781",
        red: "#cf222e",
        green: "#116329",
        yellow: "#4d2d00",
        blue: "#0969da",
        magenta: "#8250df",
        cyan: "#1b7c83",
        white: "#57606a"
    ),
)
