(
    name: "GitHub Dark High Contrast",
    foreground: "#f0f3f6",
    cursor: "#71b7ff",
    bright_foreground: "#f0f3f6",
    dim_foreground: "#9ea7b3",
    normal: (
        black: "#d9dee3",
        red: "#ff9492",
        green: "#26cd4d",
        yellow: "#f0b72f",
        blue: "#71b7ff",
        magenta: "#cb9eff",
        cyan: "#39c5cf",
        white: "#9ea7b3"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff9492",
        green: "#26cd4d",
        yellow: "#f0b72f",
        blue: "#71b7ff",
        magenta: "#cb9eff",
        cyan: "#39c5cf",
        white: "#9ea7b3"
    ),
    dim: (
        black: "#d9dee3",
        red: "#ff9492",
        green: "#26cd4d",
        yellow: "#f0b72f",
        blue: "#71b7ff",
        magenta: "#cb9eff",
        cyan: "#39c5cf",
        white: "#9ea7b3"
    ),
)
