(
    name: "GitHub Light Colorblind",
    foreground: "#24292f",
    cursor: "#0969da",
    bright_foreground: "#24292f",
    dim_foreground: "#57606a",
    normal: (
        black: "#6e7781",
        red: "#b35900",
        green: "#0550ae",
        yellow: "#4d2d00",
        blue: "#0969da",
        magenta: "#8250df",
        cyan: "#1b7c83",
        white: "#57606a"
    ),
    bright: (
        black: "#8c959f",
        red: "#b35900",
        green: "#0550ae",
        yellow: "#4d2d00",
        blue: "#0969da",
        magenta: "#8250df",
        cyan: "#1b7c83",
        white: "#57606a"
    ),
    dim: (
        black: "#6e7781",
        red: "#b35900",
        green: "#0550ae",
        yellow: "#4d2d00",
        blue: "#0969da",
        magenta: "#8250df",
        cyan: "#1b7c83",
        white: "#57606a"
    ),
)
