(
    name: "GitHub",
    foreground: "#3e3e3e",
    cursor: "#3f3f3f",
    bright_foreground: "#3e3e3e",
    dim_foreground: "#666666",
    normal: (
        black: "#b2b2b2",
        red: "#970b16",
        green: "#07962a",
        yellow: "#c5bb94",
        blue: "#003e8a",
        magenta: "#e94691",
        cyan: "#7cc4df",
        white: "#666666"
    ),
    bright: (
        black: "#ffffff",
        red: "#970b16",
        green: "#07962a",
        yellow: "#c5bb94",
        blue: "#003e8a",
        magenta: "#e94691",
        cyan: "#7cc4df",
        white: "#666666"
    ),
    dim: (
        black: "#b2b2b2",
        red: "#970b16",
        green: "#07962a",
        yellow: "#c5bb94",
        blue: "#003e8a",
        magenta: "#e94691",
        cyan: "#7cc4df",
        white: "#666666"
    ),
)
