(
    name: "Glacier",
    foreground: "#ffffff",
    cursor: "#6c6c6c",
    bright_foreground: "#ffffff",
    dim_foreground: "#404a55",
    normal: (
        black: "#ffffff",
        red: "#bd0f2f",
        green: "#35a770",
        yellow: "#fb9435",
        blue: "#1f5872",
        magenta: "#bd2523",
        cyan: "#778397",
        white: "#404a55"
    ),
    bright: (
        black: "#ffffff",
        red: "#bd0f2f",
        green: "#35a770",
        yellow: "#fb9435",
        blue: "#1f5872",
        magenta: "#bd2523",
        cyan: "#778397",
        white: "#404a55"
    ),
    dim: (
        black: "#ffffff",
        red: "#bd0f2f",
        green: "#35a770",
        yellow: "#fb9435",
        blue: "#1f5872",
        magenta: "#bd2523",
        cyan: "#778397",
        white: "#404a55"
    ),
)
