(
    name: "Grey Green",
    foreground: "#ffffff",
    cursor: "#fff400",
    bright_foreground: "#ffffff",
    dim_foreground: "#666666",
    normal: (
        black: "#ffffff",
        red: "#fe1414",
        green: "#74ff00",
        yellow: "#f1ff01",
        blue: "#00deff",
        magenta: "#ff00f0",
        cyan: "#00ffbc",
        white: "#666666"
    ),
    bright: (
        black: "#f5ecec",
        red: "#fe1414",
        green: "#74ff00",
        yellow: "#f1ff01",
        blue: "#00deff",
        magenta: "#ff00f0",
        cyan: "#00ffbc",
        white: "#666666"
    ),
    dim: (
        black: "#ffffff",
        red: "#fe1414",
        green: "#74ff00",
        yellow: "#f1ff01",
        blue: "#00deff",
        magenta: "#ff00f0",
        cyan: "#00ffbc",
        white: "#666666"
    ),
)
