(name:"Grok Night",foreground:"#e1e1e1",cursor:"#e0af68",bright_foreground:"#e1e1e1",dim_foreground:"#FF0000",normal:(black:"#0a0a0a",red:"#f7768e",green:"#9ece6a",yellow:"#e0af68",blue:"#7aa2f7",magenta:"#bb9af7",cyan:"#7dcfff",white:"#c8c8c8"),bright:(black:"#6c6c6c",red:"#f7768e",green:"#9ece6a",yellow:"#e0af68",blue:"#7aa2f7",magenta:"#bb9af7",cyan:"#7dcfff",white:"#e1e1e1"),dim:(black:"#0a0a0a",red:"#f7768e",green:"#9ece6a",yellow:"#e0af68",blue:"#7aa2f7",magenta:"#bb9af7",cyan:"#7dcfff",white:"#c8c8c8"))
