(
    name: "Gruvbox Dark",
    foreground: "#ebdbb2",
    cursor: "#ebdbb2",
    bright_foreground: "#ebdbb2",
    dim_foreground: "#282828",

    normal: (
        black: "#282828",
        red: "#cc241d",
        green: "#98971a",
        yellow: "#d79921",
        blue: "#458588",
        magenta: "#b16286",
        cyan: "#689d6a",
        white: "#a89984"
    ),

    bright: (
        black: "#928374",
        red: "#fb4934",
        green: "#b8bb26",
        yellow: "#fabd2f",
        blue: "#83a598",
        magenta: "#d3869b",
        cyan: "#8ec07c",
        white: "#ebdbb2"
    ),

    dim: (
        black: "#282828",
        red: "#cc241d",
        green: "#98971a",
        yellow: "#d79921",
        blue: "#458588",
        magenta: "#b16286",
        cyan: "#689d6a",
        white: "#a89984"
    ),
)
