(
    name: "Gruvbox Dark Hard",
    foreground: "#ebdbb2",
    cursor: "#ebdbb2",
    bright_foreground: "#ebdbb2",
    dim_foreground: "#928374",
    normal: (
        black: "#a89984",
        red: "#cc241d",
        green: "#98971a",
        yellow: "#d79921",
        blue: "#458588",
        magenta: "#b16286",
        cyan: "#689d6a",
        white: "#928374"
    ),
    bright: (
        black: "#ebdbb2",
        red: "#cc241d",
        green: "#98971a",
        yellow: "#d79921",
        blue: "#458588",
        magenta: "#b16286",
        cyan: "#689d6a",
        white: "#928374"
    ),
    dim: (
        black: "#a89984",
        red: "#cc241d",
        green: "#98971a",
        yellow: "#d79921",
        blue: "#458588",
        magenta: "#b16286",
        cyan: "#689d6a",
        white: "#928374"
    ),
)
