(
    name: "Gruvbox Material Light",
    foreground: "#654735",
    cursor: "#654735",
    bright_foreground: "#654735",
    dim_foreground: "#fbf1c7",

    normal: (
        black: "#fbf1c7",
        red: "#c14a4a",
        green: "#6c782e",
        yellow: "#b47109",
        blue: "#45707a",
        magenta: "#945e80",
        cyan: "#4c7a5d",
        white: "#654735"
    ),

    bright: (
        black: "#a89984",
        red: "#c14a4a",
        green: "#6c782e",
        yellow: "#b47109",
        blue: "#45707a",
        magenta: "#945e80",
        cyan: "#4c7a5d",
        white: "#4f3829"
    ),

    dim: (
        black: "#fbf1c7",
        red: "#c14a4a",
        green: "#6c782e",
        yellow: "#b47109",
        blue: "#45707a",
        magenta: "#945e80",
        cyan: "#4c7a5d",
        white: "#654735"
    ),
)
