(
    name: "Gruvbox Light",
    foreground: "#3c3836",
    cursor: "#3c3836",
    bright_foreground: "#3c3836",
    dim_foreground: "#928374",
    normal: (
        black: "#7c6f64",
        red: "#cc241d",
        green: "#98971a",
        yellow: "#d79921",
        blue: "#458588",
        magenta: "#b16286",
        cyan: "#689d6a",
        white: "#928374"
    ),
    bright: (
        black: "#3c3836",
        red: "#cc241d",
        green: "#98971a",
        yellow: "#d79921",
        blue: "#458588",
        magenta: "#b16286",
        cyan: "#689d6a",
        white: "#928374"
    ),
    dim: (
        black: "#7c6f64",
        red: "#cc241d",
        green: "#98971a",
        yellow: "#d79921",
        blue: "#458588",
        magenta: "#b16286",
        cyan: "#689d6a",
        white: "#928374"
    ),
)
