(
    name: "Gruvbox Material",
    foreground: "#d4be98",
    cursor: "#ffffff",
    bright_foreground: "#d4be98",
    dim_foreground: "#4c4c4c",
    normal: (
        black: "#ffffff",
        red: "#ea6926",
        green: "#c1d041",
        yellow: "#eecf75",
        blue: "#6da3ec",
        magenta: "#fd9bc1",
        cyan: "#fe9d6e",
        white: "#4c4c4c"
    ),
    bright: (
        black: "#ffffff",
        red: "#ea6926",
        green: "#c1d041",
        yellow: "#eecf75",
        blue: "#6da3ec",
        magenta: "#fd9bc1",
        cyan: "#fe9d6e",
        white: "#4c4c4c"
    ),
    dim: (
        black: "#ffffff",
        red: "#ea6926",
        green: "#c1d041",
        yellow: "#eecf75",
        blue: "#6da3ec",
        magenta: "#fd9bc1",
        cyan: "#fe9d6e",
        white: "#4c4c4c"
    ),
)
