(
    name: "Guezwhoz",
    foreground: "#d9d9d9",
    cursor: "#99d4b1",
    bright_foreground: "#d9d9d9",
    dim_foreground: "#808080",
    normal: (
        black: "#d9d9d9",
        red: "#e85181",
        green: "#7ad694",
        yellow: "#b7d074",
        blue: "#5aa0d6",
        magenta: "#9a90e0",
        cyan: "#58d6ce",
        white: "#808080"
    ),
    bright: (
        black: "#ededed",
        red: "#e85181",
        green: "#7ad694",
        yellow: "#b7d074",
        blue: "#5aa0d6",
        magenta: "#9a90e0",
        cyan: "#58d6ce",
        white: "#808080"
    ),
    dim: (
        black: "#d9d9d9",
        red: "#e85181",
        green: "#7ad694",
        yellow: "#b7d074",
        blue: "#5aa0d6",
        magenta: "#9a90e0",
        cyan: "#58d6ce",
        white: "#808080"
    ),
)
