(
    name: "Hacktober",
    foreground: "#c9c9c9",
    cursor: "#c9c9c9",
    bright_foreground: "#c9c9c9",
    dim_foreground: "#464444",
    normal: (
        black: "#f1eee7",
        red: "#b34538",
        green: "#587744",
        yellow: "#d08949",
        blue: "#206ec5",
        magenta: "#864651",
        cyan: "#ac9166",
        white: "#464444"
    ),
    bright: (
        black: "#ffffff",
        red: "#b34538",
        green: "#587744",
        yellow: "#d08949",
        blue: "#206ec5",
        magenta: "#864651",
        cyan: "#ac9166",
        white: "#464444"
    ),
    dim: (
        black: "#f1eee7",
        red: "#b34538",
        green: "#587744",
        yellow: "#d08949",
        blue: "#206ec5",
        magenta: "#864651",
        cyan: "#ac9166",
        white: "#464444"
    ),
)
