(
    name: "HaX0R Gr33N",
    foreground: "#16b10e",
    cursor: "#15d00d",
    bright_foreground: "#16b10e",
    dim_foreground: "#334843",
    normal: (
        black: "#fafafa",
        red: "#15d00d",
        green: "#15d00d",
        yellow: "#15d00d",
        blue: "#15d00d",
        magenta: "#15d00d",
        cyan: "#15d00d",
        white: "#334843"
    ),
    bright: (
        black: "#fefefe",
        red: "#15d00d",
        green: "#15d00d",
        yellow: "#15d00d",
        blue: "#15d00d",
        magenta: "#15d00d",
        cyan: "#15d00d",
        white: "#334843"
    ),
    dim: (
        black: "#fafafa",
        red: "#15d00d",
        green: "#15d00d",
        yellow: "#15d00d",
        blue: "#15d00d",
        magenta: "#15d00d",
        cyan: "#15d00d",
        white: "#334843"
    ),
)
