(
    name: "HaX0R Blue",
    foreground: "#11b7ff",
    cursor: "#10b6ff",
    bright_foreground: "#11b7ff",
    dim_foreground: "#484157",
    normal: (
        black: "#fafafa",
        red: "#10b6ff",
        green: "#10b6ff",
        yellow: "#10b6ff",
        blue: "#10b6ff",
        magenta: "#10b6ff",
        cyan: "#10b6ff",
        white: "#484157"
    ),
    bright: (
        black: "#fefefe",
        red: "#10b6ff",
        green: "#10b6ff",
        yellow: "#10b6ff",
        blue: "#10b6ff",
        magenta: "#10b6ff",
        cyan: "#10b6ff",
        white: "#484157"
    ),
    dim: (
        black: "#fafafa",
        red: "#10b6ff",
        green: "#10b6ff",
        yellow: "#10b6ff",
        blue: "#10b6ff",
        magenta: "#10b6ff",
        cyan: "#10b6ff",
        white: "#484157"
    ),
)
