(
    name: "Hipster Green",
    foreground: "#84c138",
    cursor: "#23ff18",
    bright_foreground: "#84c138",
    dim_foreground: "#666666",
    normal: (
        black: "#bfbfbf",
        red: "#b6214a",
        green: "#00a600",
        yellow: "#bfbf00",
        blue: "#246eb2",
        magenta: "#b200b2",
        cyan: "#00a6b2",
        white: "#666666"
    ),
    bright: (
        black: "#e5e5e5",
        red: "#b6214a",
        green: "#00a600",
        yellow: "#bfbf00",
        blue: "#246eb2",
        magenta: "#b200b2",
        cyan: "#00a6b2",
        white: "#666666"
    ),
    dim: (
        black: "#bfbfbf",
        red: "#b6214a",
        green: "#00a600",
        yellow: "#bfbf00",
        blue: "#246eb2",
        magenta: "#b200b2",
        cyan: "#00a6b2",
        white: "#666666"
    ),
)
