(name:"Homebrew",foreground:"#00ff00",cursor:"#23ff18",bright_foreground:"#00ff00",dim_foreground:"#FF0000",normal:(black:"#000000",red:"#990000",green:"#00a600",yellow:"#999900",blue:"#0d0dbf",magenta:"#b200b2",cyan:"#00a6b2",white:"#bfbfbf"),bright:(black:"#666666",red:"#e50000",green:"#00d900",yellow:"#e5e500",blue:"#0000ff",magenta:"#e500e5",cyan:"#00e5e5",white:"#e5e5e5"),dim:(black:"#000000",red:"#990000",green:"#00a600",yellow:"#999900",blue:"#0d0dbf",magenta:"#b200b2",cyan:"#00a6b2",white:"#bfbfbf"))