(
    name: "Horizon",
    foreground: "#d5d8da",
    cursor: "#6c6f93",
    bright_foreground: "#d5d8da",
    dim_foreground: "#666666",
    normal: (
        black: "#e5e5e5",
        red: "#e95678",
        green: "#29d398",
        yellow: "#fab795",
        blue: "#26bbd9",
        magenta: "#ee64ac",
        cyan: "#59e1e3",
        white: "#666666"
    ),
    bright: (
        black: "#e5e5e5",
        red: "#e95678",
        green: "#29d398",
        yellow: "#fab795",
        blue: "#26bbd9",
        magenta: "#ee64ac",
        cyan: "#59e1e3",
        white: "#666666"
    ),
    dim: (
        black: "#e5e5e5",
        red: "#e95678",
        green: "#29d398",
        yellow: "#fab795",
        blue: "#26bbd9",
        magenta: "#ee64ac",
        cyan: "#59e1e3",
        white: "#666666"
    ),
)
