(
    name: "Hot Dog Stand (Mustard)",
    foreground: "#000000",
    cursor: "#ea3323",
    bright_foreground: "#000000",
    dim_foreground: "#000000",
    normal: (
        black: "#b9b9b9",
        red: "#ea3323",
        green: "#ea3323",
        yellow: "#ea3323",
        blue: "#000000",
        magenta: "#ea3323",
        cyan: "#000000",
        white: "#000000"
    ),
    bright: (
        black: "#c6c6c6",
        red: "#ea3323",
        green: "#ea3323",
        yellow: "#ea3323",
        blue: "#000000",
        magenta: "#ea3323",
        cyan: "#000000",
        white: "#000000"
    ),
    dim: (
        black: "#b9b9b9",
        red: "#ea3323",
        green: "#ea3323",
        yellow: "#ea3323",
        blue: "#000000",
        magenta: "#ea3323",
        cyan: "#000000",
        white: "#000000"
    ),
)
