(
    name: "Hybrid",
    foreground: "#b7bcba",
    cursor: "#b7bcba",
    bright_foreground: "#b7bcba",
    dim_foreground: "#434548",
    normal: (
        black: "#b5b9b6",
        red: "#b84d51",
        green: "#b3bf5a",
        yellow: "#e4b55e",
        blue: "#6e90b0",
        magenta: "#a17eac",
        cyan: "#7fbfb4",
        white: "#434548"
    ),
    bright: (
        black: "#5a626a",
        red: "#b84d51",
        green: "#b3bf5a",
        yellow: "#e4b55e",
        blue: "#6e90b0",
        magenta: "#a17eac",
        cyan: "#7fbfb4",
        white: "#434548"
    ),
    dim: (
        black: "#b5b9b6",
        red: "#b84d51",
        green: "#b3bf5a",
        yellow: "#e4b55e",
        blue: "#6e90b0",
        magenta: "#a17eac",
        cyan: "#7fbfb4",
        white: "#434548"
    ),
)
