(
    name: "IC Green PPL",
    foreground: "#e0f1dc",
    cursor: "#47fa6b",
    bright_foreground: "#e0f1dc",
    dim_foreground: "#106910",
    normal: (
        black: "#e6fef2",
        red: "#ff2736",
        green: "#41a638",
        yellow: "#76a831",
        blue: "#2ec3b9",
        magenta: "#50a096",
        cyan: "#3ca078",
        white: "#106910"
    ),
    bright: (
        black: "#e0f1dc",
        red: "#ff2736",
        green: "#41a638",
        yellow: "#76a831",
        blue: "#2ec3b9",
        magenta: "#50a096",
        cyan: "#3ca078",
        white: "#106910"
    ),
    dim: (
        black: "#e6fef2",
        red: "#ff2736",
        green: "#41a638",
        yellow: "#76a831",
        blue: "#2ec3b9",
        magenta: "#50a096",
        cyan: "#3ca078",
        white: "#106910"
    ),
)
