(name:"IC Green PPL",foreground:"#e0f1dc",cursor:"#47fa6b",bright_foreground:"#e0f1dc",dim_foreground:"#FF0000",normal:(black:"#014401",red:"#ff2736",green:"#41a638",yellow:"#76a831",blue:"#2ec3b9",magenta:"#50a096",cyan:"#3ca078",white:"#e6fef2"),bright:(black:"#106910",red:"#b4fa5c",green:"#aefb86",yellow:"#dafa87",blue:"#2efaeb",magenta:"#50fafa",cyan:"#3cfac8",white:"#e0f1dc"),dim:(black:"#014401",red:"#ff2736",green:"#41a638",yellow:"#76a831",blue:"#2ec3b9",magenta:"#50a096",cyan:"#3ca078",white:"#e6fef2"))