(
    name: "IC Orange PPL",
    foreground: "#ffcb83",
    cursor: "#fc531d",
    bright_foreground: "#ffcb83",
    dim_foreground: "#6a4f2a",
    normal: (
        black: "#ffc88a",
        red: "#c13900",
        green: "#a4a900",
        yellow: "#caaf00",
        blue: "#bd6d00",
        magenta: "#fc5e00",
        cyan: "#f79500",
        white: "#6a4f2a"
    ),
    bright: (
        black: "#fafaff",
        red: "#c13900",
        green: "#a4a900",
        yellow: "#caaf00",
        blue: "#bd6d00",
        magenta: "#fc5e00",
        cyan: "#f79500",
        white: "#6a4f2a"
    ),
    dim: (
        black: "#ffc88a",
        red: "#c13900",
        green: "#a4a900",
        yellow: "#caaf00",
        blue: "#bd6d00",
        magenta: "#fc5e00",
        cyan: "#f79500",
        white: "#6a4f2a"
    ),
)
