(
    name: "Iceberg Dark",
    foreground: "#c6c8d1",
    cursor: "#c6c8d1",
    bright_foreground: "#c6c8d1",
    dim_foreground: "#6b7089",
    normal: (
        black: "#c6c8d1",
        red: "#e27878",
        green: "#b4be82",
        yellow: "#e2a478",
        blue: "#84a0c6",
        magenta: "#a093c7",
        cyan: "#89b8c2",
        white: "#6b7089"
    ),
    bright: (
        black: "#d2d4de",
        red: "#e27878",
        green: "#b4be82",
        yellow: "#e2a478",
        blue: "#84a0c6",
        magenta: "#a093c7",
        cyan: "#89b8c2",
        white: "#6b7089"
    ),
    dim: (
        black: "#c6c8d1",
        red: "#e27878",
        green: "#b4be82",
        yellow: "#e2a478",
        blue: "#84a0c6",
        magenta: "#a093c7",
        cyan: "#89b8c2",
        white: "#6b7089"
    ),
)
