(name:"Idea",foreground:"#adadad",cursor:"#bbbbbb",bright_foreground:"#adadad",dim_foreground:"#FF0000",normal:(black:"#adadad",red:"#fc5256",green:"#98b61c",yellow:"#ccb444",blue:"#437ee7",magenta:"#9d74b0",cyan:"#248887",white:"#4b4b4b"),bright:(black:"#ffffff",red:"#fc7072",green:"#98b61c",yellow:"#ffff0b",blue:"#6c9ced",magenta:"#fc7eff",cyan:"#248887",white:"#181818"),dim:(black:"#adadad",red:"#fc5256",green:"#98b61c",yellow:"#ccb444",blue:"#437ee7",magenta:"#9d74b0",cyan:"#248887",white:"#4b4b4b"))