(
    name: "IR Black",
    foreground: "#f1f1f1",
    cursor: "#808080",
    bright_foreground: "#f1f1f1",
    dim_foreground: "#7b7b7b",
    normal: (
        black: "#efedef",
        red: "#fa6c60",
        green: "#a8ff60",
        yellow: "#fffeb7",
        blue: "#96cafe",
        magenta: "#fa73fd",
        cyan: "#c6c5fe",
        white: "#7b7b7b"
    ),
    bright: (
        black: "#ffffff",
        red: "#fa6c60",
        green: "#a8ff60",
        yellow: "#fffeb7",
        blue: "#96cafe",
        magenta: "#fa73fd",
        cyan: "#c6c5fe",
        white: "#7b7b7b"
    ),
    dim: (
        black: "#efedef",
        red: "#fa6c60",
        green: "#a8ff60",
        yellow: "#fffeb7",
        blue: "#96cafe",
        magenta: "#fa73fd",
        cyan: "#c6c5fe",
        white: "#7b7b7b"
    ),
)
