(
    name: "IRIX Console",
    foreground: "#f2f2f2",
    cursor: "#c7c7c7",
    bright_foreground: "#f2f2f2",
    dim_foreground: "#767676",
    normal: (
        black: "#cccccc",
        red: "#d42426",
        green: "#37a327",
        yellow: "#c29d28",
        blue: "#0739e2",
        magenta: "#911f9c",
        cyan: "#4497df",
        white: "#767676"
    ),
    bright: (
        black: "#f2f2f2",
        red: "#d42426",
        green: "#37a327",
        yellow: "#c29d28",
        blue: "#0739e2",
        magenta: "#911f9c",
        cyan: "#4497df",
        white: "#767676"
    ),
    dim: (
        black: "#cccccc",
        red: "#d42426",
        green: "#37a327",
        yellow: "#c29d28",
        blue: "#0739e2",
        magenta: "#911f9c",
        cyan: "#4497df",
        white: "#767676"
    ),
)
