(
    name: "iTerm2 Tango Light",
    foreground: "#000000",
    cursor: "#000000",
    bright_foreground: "#000000",
    dim_foreground: "#686a66",
    normal: (
        black: "#c1c4be",
        red: "#d81e00",
        green: "#5ea702",
        yellow: "#cfae00",
        blue: "#427ab3",
        magenta: "#89658e",
        cyan: "#00a7aa",
        white: "#686a66"
    ),
    bright: (
        black: "#f1f1f0",
        red: "#d81e00",
        green: "#5ea702",
        yellow: "#cfae00",
        blue: "#427ab3",
        magenta: "#89658e",
        cyan: "#00a7aa",
        white: "#686a66"
    ),
    dim: (
        black: "#c1c4be",
        red: "#d81e00",
        green: "#5ea702",
        yellow: "#cfae00",
        blue: "#427ab3",
        magenta: "#89658e",
        cyan: "#00a7aa",
        white: "#686a66"
    ),
)
