(
    name: "iTerm2 Light Background",
    foreground: "#000000",
    cursor: "#000000",
    bright_foreground: "#000000",
    dim_foreground: "#686868",
    normal: (
        black: "#bababa",
        red: "#c91b00",
        green: "#00c200",
        yellow: "#c7c400",
        blue: "#0225c7",
        magenta: "#ca30c7",
        cyan: "#00c5c7",
        white: "#686868"
    ),
    bright: (
        black: "#ffffff",
        red: "#c91b00",
        green: "#00c200",
        yellow: "#c7c400",
        blue: "#0225c7",
        magenta: "#ca30c7",
        cyan: "#00c5c7",
        white: "#686868"
    ),
    dim: (
        black: "#bababa",
        red: "#c91b00",
        green: "#00c200",
        yellow: "#c7c400",
        blue: "#0225c7",
        magenta: "#ca30c7",
        cyan: "#00c5c7",
        white: "#686868"
    ),
)
