(
    name: "iTerm2 Solarized Light",
    foreground: "#657b83",
    cursor: "#657b83",
    bright_foreground: "#657b83",
    dim_foreground: "#002b36",
    normal: (
        black: "#bbb5a2",
        red: "#dc322f",
        green: "#859900",
        yellow: "#b58900",
        blue: "#268bd2",
        magenta: "#d33682",
        cyan: "#2aa198",
        white: "#002b36"
    ),
    bright: (
        black: "#fdf6e3",
        red: "#dc322f",
        green: "#859900",
        yellow: "#b58900",
        blue: "#268bd2",
        magenta: "#d33682",
        cyan: "#2aa198",
        white: "#002b36"
    ),
    dim: (
        black: "#bbb5a2",
        red: "#dc322f",
        green: "#859900",
        yellow: "#b58900",
        blue: "#268bd2",
        magenta: "#d33682",
        cyan: "#2aa198",
        white: "#002b36"
    ),
)
