(
    name: "iTerm2 Pastel Dark Background",
    foreground: "#c7c7c7",
    cursor: "#ffb473",
    bright_foreground: "#c7c7c7",
    dim_foreground: "#8f8f8f",
    normal: (
        black: "#f1f1f1",
        red: "#ff8373",
        green: "#b4fb73",
        yellow: "#fffdc3",
        blue: "#a5d5fe",
        magenta: "#ff90fe",
        cyan: "#d1d1fe",
        white: "#8f8f8f"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff8373",
        green: "#b4fb73",
        yellow: "#fffdc3",
        blue: "#a5d5fe",
        magenta: "#ff90fe",
        cyan: "#d1d1fe",
        white: "#8f8f8f"
    ),
    dim: (
        black: "#f1f1f1",
        red: "#ff8373",
        green: "#b4fb73",
        yellow: "#fffdc3",
        blue: "#a5d5fe",
        magenta: "#ff90fe",
        cyan: "#d1d1fe",
        white: "#8f8f8f"
    ),
)
