(
    name: "Jellybeans",
    foreground: "#dedede",
    cursor: "#ffa560",
    bright_foreground: "#dedede",
    dim_foreground: "#bdbdbd",
    normal: (
        black: "#dedede",
        red: "#e27373",
        green: "#94b979",
        yellow: "#ffba7b",
        blue: "#97bedc",
        magenta: "#e1c0fa",
        cyan: "#00988e",
        white: "#bdbdbd"
    ),
    bright: (
        black: "#ffffff",
        red: "#e27373",
        green: "#94b979",
        yellow: "#ffba7b",
        blue: "#97bedc",
        magenta: "#e1c0fa",
        cyan: "#00988e",
        white: "#bdbdbd"
    ),
    dim: (
        black: "#dedede",
        red: "#e27373",
        green: "#94b979",
        yellow: "#ffba7b",
        blue: "#97bedc",
        magenta: "#e1c0fa",
        cyan: "#00988e",
        white: "#bdbdbd"
    ),
)
