(
    name: "Kanagawa Dragon",
    foreground: "#c5c9c5",
    cursor: "#c8c093",
    bright_foreground: "#c5c9c5",
    dim_foreground: "#a6a69c",
    normal: (
        black: "#c8c093",
        red: "#c4746e",
        green: "#8a9a7b",
        yellow: "#c4b28a",
        blue: "#8ba4b0",
        magenta: "#a292a3",
        cyan: "#8ea4a2",
        white: "#a6a69c"
    ),
    bright: (
        black: "#c5c9c5",
        red: "#c4746e",
        green: "#8a9a7b",
        yellow: "#c4b28a",
        blue: "#8ba4b0",
        magenta: "#a292a3",
        cyan: "#8ea4a2",
        white: "#a6a69c"
    ),
    dim: (
        black: "#c8c093",
        red: "#c4746e",
        green: "#8a9a7b",
        yellow: "#c4b28a",
        blue: "#8ba4b0",
        magenta: "#a292a3",
        cyan: "#8ea4a2",
        white: "#a6a69c"
    ),
)
