(
    name: "Kanagawabones",
    foreground: "#ddd8bb",
    cursor: "#e6e0c2",
    bright_foreground: "#ddd8bb",
    dim_foreground: "#49495e",
    normal: (
        black: "#ddd8bb",
        red: "#e46a78",
        green: "#98bc6d",
        yellow: "#e5c283",
        blue: "#7eb3c9",
        magenta: "#957fb8",
        cyan: "#7eb3c9",
        white: "#49495e"
    ),
    bright: (
        black: "#a8a48d",
        red: "#e46a78",
        green: "#98bc6d",
        yellow: "#e5c283",
        blue: "#7eb3c9",
        magenta: "#957fb8",
        cyan: "#7eb3c9",
        white: "#49495e"
    ),
    dim: (
        black: "#ddd8bb",
        red: "#e46a78",
        green: "#98bc6d",
        yellow: "#e5c283",
        blue: "#7eb3c9",
        magenta: "#957fb8",
        cyan: "#7eb3c9",
        white: "#49495e"
    ),
)
