(
    name: "Karasu Snow",
    foreground: "#292524",
    cursor: "#0a0a0a",
    bright_foreground: "#292524",
    dim_foreground: "#404040",
    normal: (
        black: "#b5b5b5",
        red: "#b84755",
        green: "#3f7e4a",
        yellow: "#8a6a1f",
        blue: "#2e5e9b",
        magenta: "#6c4bb8",
        cyan: "#2d7e7a",
        white: "#404040"
    ),
    bright: (
        black: "#ffffff",
        red: "#b84755",
        green: "#3f7e4a",
        yellow: "#8a6a1f",
        blue: "#2e5e9b",
        magenta: "#6c4bb8",
        cyan: "#2d7e7a",
        white: "#404040"
    ),
    dim: (
        black: "#b5b5b5",
        red: "#b84755",
        green: "#3f7e4a",
        yellow: "#8a6a1f",
        blue: "#2e5e9b",
        magenta: "#6c4bb8",
        cyan: "#2d7e7a",
        white: "#404040"
    ),
)
