(
    name: "Karma Dark Dimmed",
    foreground: "#e2def0",
    cursor: "#ebd870",
    bright_foreground: "#e2def0",
    dim_foreground: "#5c5a5f",
    normal: (
        black: "#a8a4ae",
        red: "#e87691",
        green: "#82c891",
        yellow: "#ebd870",
        blue: "#6cc4d2",
        magenta: "#a892d4",
        cyan: "#6cc4d2",
        white: "#5c5a5f"
    ),
    bright: (
        black: "#e2def0",
        red: "#e87691",
        green: "#82c891",
        yellow: "#ebd870",
        blue: "#6cc4d2",
        magenta: "#a892d4",
        cyan: "#6cc4d2",
        white: "#5c5a5f"
    ),
    dim: (
        black: "#a8a4ae",
        red: "#e87691",
        green: "#82c891",
        yellow: "#ebd870",
        blue: "#6cc4d2",
        magenta: "#a892d4",
        cyan: "#6cc4d2",
        white: "#5c5a5f"
    ),
)
