(
    name: "Karma Dark",
    foreground: "#f7f1ff",
    cursor: "#fce566",
    bright_foreground: "#f7f1ff",
    dim_foreground: "#69676c",
    normal: (
        black: "#bab6c0",
        red: "#fc618d",
        green: "#7bd88f",
        yellow: "#fce566",
        blue: "#5ad4e6",
        magenta: "#af98e6",
        cyan: "#5ad4e6",
        white: "#69676c"
    ),
    bright: (
        black: "#f7f1ff",
        red: "#fc618d",
        green: "#7bd88f",
        yellow: "#fce566",
        blue: "#5ad4e6",
        magenta: "#af98e6",
        cyan: "#5ad4e6",
        white: "#69676c"
    ),
    dim: (
        black: "#bab6c0",
        red: "#fc618d",
        green: "#7bd88f",
        yellow: "#fce566",
        blue: "#5ad4e6",
        magenta: "#af98e6",
        cyan: "#5ad4e6",
        white: "#69676c"
    ),
)
