(name:"Karma Light Dimmed",foreground:"#1c1f24",cursor:"#9676d0",bright_foreground:"#1c1f24",dim_foreground:"#FF0000",normal:(black:"#1c1f24",red:"#e07a90",green:"#4a9a4c",yellow:"#d49a26",blue:"#6688b8",magenta:"#7c5ab0",cyan:"#6688b8",white:"#5a5860"),bright:(black:"#999999",red:"#e07a90",green:"#4a9a4c",yellow:"#e0a040",blue:"#6688b8",magenta:"#9676d0",cyan:"#6688b8",white:"#1c1f24"),dim:(black:"#1c1f24",red:"#e07a90",green:"#4a9a4c",yellow:"#d49a26",blue:"#6688b8",magenta:"#7c5ab0",cyan:"#6688b8",white:"#5a5860"))