(name:"Karma Dark Dimmed",foreground:"#e2def0",cursor:"#ebd870",bright_foreground:"#e2def0",dim_foreground:"#FF0000",normal:(black:"#14181f",red:"#e87691",green:"#82c891",yellow:"#ebd870",blue:"#6cc4d2",magenta:"#a892d4",cyan:"#6cc4d2",white:"#a8a4ae"),bright:(black:"#5c5a5f",red:"#e8869c",green:"#98cea4",yellow:"#ebd870",blue:"#80c8d2",magenta:"#b6a4d6",cyan:"#80c8d2",white:"#e2def0"),dim:(black:"#14181f",red:"#e87691",green:"#82c891",yellow:"#ebd870",blue:"#6cc4d2",magenta:"#a892d4",cyan:"#6cc4d2",white:"#a8a4ae"))