(
    name: "Kibble",
    foreground: "#f7f7f7",
    cursor: "#9fda9c",
    bright_foreground: "#f7f7f7",
    dim_foreground: "#5a5a5a",
    normal: (
        black: "#e2d1e3",
        red: "#c70031",
        green: "#29cf13",
        yellow: "#d8e30e",
        blue: "#3449d1",
        magenta: "#8400ff",
        cyan: "#0798ab",
        white: "#5a5a5a"
    ),
    bright: (
        black: "#ffffff",
        red: "#c70031",
        green: "#29cf13",
        yellow: "#d8e30e",
        blue: "#3449d1",
        magenta: "#8400ff",
        cyan: "#0798ab",
        white: "#5a5a5a"
    ),
    dim: (
        black: "#e2d1e3",
        red: "#c70031",
        green: "#29cf13",
        yellow: "#d8e30e",
        blue: "#3449d1",
        magenta: "#8400ff",
        cyan: "#0798ab",
        white: "#5a5a5a"
    ),
)
