(
    name: "Kolorit",
    foreground: "#efecec",
    cursor: "#c7c7c7",
    bright_foreground: "#efecec",
    dim_foreground: "#504d51",
    normal: (
        black: "#ededed",
        red: "#ff5b82",
        green: "#47d7a1",
        yellow: "#e8e562",
        blue: "#5db4ee",
        magenta: "#da6cda",
        cyan: "#57e9eb",
        white: "#504d51"
    ),
    bright: (
        black: "#ededed",
        red: "#ff5b82",
        green: "#47d7a1",
        yellow: "#e8e562",
        blue: "#5db4ee",
        magenta: "#da6cda",
        cyan: "#57e9eb",
        white: "#504d51"
    ),
    dim: (
        black: "#ededed",
        red: "#ff5b82",
        green: "#47d7a1",
        yellow: "#e8e562",
        blue: "#5db4ee",
        magenta: "#da6cda",
        cyan: "#57e9eb",
        white: "#504d51"
    ),
)
