(
    name: "Kurokula",
    foreground: "#e0cfc2",
    cursor: "#7a1c1c",
    bright_foreground: "#e0cfc2",
    dim_foreground: "#515151",
    normal: (
        black: "#e0cfc2",
        red: "#c35a52",
        green: "#78b3a9",
        yellow: "#e1b917",
        blue: "#5c91dd",
        magenta: "#8b79a6",
        cyan: "#867268",
        white: "#515151"
    ),
    bright: (
        black: "#ffffff",
        red: "#c35a52",
        green: "#78b3a9",
        yellow: "#e1b917",
        blue: "#5c91dd",
        magenta: "#8b79a6",
        cyan: "#867268",
        white: "#515151"
    ),
    dim: (
        black: "#e0cfc2",
        red: "#c35a52",
        green: "#78b3a9",
        yellow: "#e1b917",
        blue: "#5c91dd",
        magenta: "#8b79a6",
        cyan: "#867268",
        white: "#515151"
    ),
)
