(
    name: "Lab Fox",
    foreground: "#ffffff",
    cursor: "#7f7f7f",
    bright_foreground: "#ffffff",
    dim_foreground: "#535353",
    normal: (
        black: "#ffffff",
        red: "#fc6d26",
        green: "#3eb383",
        yellow: "#fca121",
        blue: "#db3b21",
        magenta: "#6b40a8",
        cyan: "#6e49cb",
        white: "#535353"
    ),
    bright: (
        black: "#ffffff",
        red: "#fc6d26",
        green: "#3eb383",
        yellow: "#fca121",
        blue: "#db3b21",
        magenta: "#6b40a8",
        cyan: "#6e49cb",
        white: "#535353"
    ),
    dim: (
        black: "#ffffff",
        red: "#fc6d26",
        green: "#3eb383",
        yellow: "#fca121",
        blue: "#db3b21",
        magenta: "#6b40a8",
        cyan: "#6e49cb",
        white: "#535353"
    ),
)
