(
    name: "Later This Evening",
    foreground: "#959595",
    cursor: "#4f4f4f",
    bright_foreground: "#959595",
    dim_foreground: "#525454",
    normal: (
        black: "#494a4a",
        red: "#d45a60",
        green: "#afba67",
        yellow: "#e5d289",
        blue: "#a0bad6",
        magenta: "#c092d6",
        cyan: "#91bfb7",
        white: "#525454"
    ),
    bright: (
        black: "#c1c2c2",
        red: "#d45a60",
        green: "#afba67",
        yellow: "#e5d289",
        blue: "#a0bad6",
        magenta: "#c092d6",
        cyan: "#91bfb7",
        white: "#525454"
    ),
    dim: (
        black: "#494a4a",
        red: "#d45a60",
        green: "#afba67",
        yellow: "#e5d289",
        blue: "#a0bad6",
        magenta: "#c092d6",
        cyan: "#91bfb7",
        white: "#525454"
    ),
)
