(
    name: "Lavandula",
    foreground: "#736e7d",
    cursor: "#8c91fa",
    bright_foreground: "#736e7d",
    dim_foreground: "#443a53",
    normal: (
        black: "#736e7d",
        red: "#7d1625",
        green: "#337e6f",
        yellow: "#7f6f49",
        blue: "#4f4a7f",
        magenta: "#5a3f7f",
        cyan: "#58777f",
        white: "#443a53"
    ),
    bright: (
        black: "#8c91fa",
        red: "#7d1625",
        green: "#337e6f",
        yellow: "#7f6f49",
        blue: "#4f4a7f",
        magenta: "#5a3f7f",
        cyan: "#58777f",
        white: "#443a53"
    ),
    dim: (
        black: "#736e7d",
        red: "#7d1625",
        green: "#337e6f",
        yellow: "#7f6f49",
        blue: "#4f4a7f",
        magenta: "#5a3f7f",
        cyan: "#58777f",
        white: "#443a53"
    ),
)
