(
    name: "Liquid Carbon",
    foreground: "#afc2c2",
    cursor: "#ffffff",
    bright_foreground: "#afc2c2",
    dim_foreground: "#595959",
    normal: (
        black: "#bccccc",
        red: "#ff3030",
        green: "#559a70",
        yellow: "#ccac00",
        blue: "#0099cc",
        magenta: "#cc69c8",
        cyan: "#7ac4cc",
        white: "#595959"
    ),
    bright: (
        black: "#bccccc",
        red: "#ff3030",
        green: "#559a70",
        yellow: "#ccac00",
        blue: "#0099cc",
        magenta: "#cc69c8",
        cyan: "#7ac4cc",
        white: "#595959"
    ),
    dim: (
        black: "#bccccc",
        red: "#ff3030",
        green: "#559a70",
        yellow: "#ccac00",
        blue: "#0099cc",
        magenta: "#cc69c8",
        cyan: "#7ac4cc",
        white: "#595959"
    ),
)
