(
    name: "London Bonfire Night",
    foreground: "#e8e0c8",
    cursor: "#e85aa8",
    bright_foreground: "#e8e0c8",
    dim_foreground: "#1a1418",

    normal: (
        black: "#1a1418",
        red: "#d65a3a",
        green: "#6a8a4a",
        yellow: "#e8b048",
        blue: "#5a7ab8",
        magenta: "#d76aa8",
        cyan: "#88a8c8",
        white: "#e8e0c8"
    ),

    bright: (
        black: "#44403c",
        red: "#ec7654",
        green: "#88a868",
        yellow: "#f5c25c",
        blue: "#7a96d0",
        magenta: "#ed85bc",
        cyan: "#a0bcd6",
        white: "#fdf6df"
    ),

    dim: (
        black: "#1a1418",
        red: "#d65a3a",
        green: "#6a8a4a",
        yellow: "#e8b048",
        blue: "#5a7ab8",
        magenta: "#d76aa8",
        cyan: "#88a8c8",
        white: "#e8e0c8"
    ),
)
