(
    name: "Man Page",
    foreground: "#000000",
    cursor: "#7f7f7f",
    bright_foreground: "#000000",
    dim_foreground: "#666666",
    normal: (
        black: "#b2b2b2",
        red: "#cc0000",
        green: "#00a600",
        yellow: "#999900",
        blue: "#0000b2",
        magenta: "#b200b2",
        cyan: "#00a6b2",
        white: "#666666"
    ),
    bright: (
        black: "#e5e5e5",
        red: "#cc0000",
        green: "#00a600",
        yellow: "#999900",
        blue: "#0000b2",
        magenta: "#b200b2",
        cyan: "#00a6b2",
        white: "#666666"
    ),
    dim: (
        black: "#b2b2b2",
        red: "#cc0000",
        green: "#00a600",
        yellow: "#999900",
        blue: "#0000b2",
        magenta: "#b200b2",
        cyan: "#00a6b2",
        white: "#666666"
    ),
)
