(
    name: "Material Design Colors",
    foreground: "#e7ebed",
    cursor: "#eaeaea",
    bright_foreground: "#e7ebed",
    dim_foreground: "#a1b0b8",
    normal: (
        black: "#ffffff",
        red: "#fc3841",
        green: "#5cf19e",
        yellow: "#fed032",
        blue: "#37b6ff",
        magenta: "#fc226e",
        cyan: "#59ffd1",
        white: "#a1b0b8"
    ),
    bright: (
        black: "#ffffff",
        red: "#fc3841",
        green: "#5cf19e",
        yellow: "#fed032",
        blue: "#37b6ff",
        magenta: "#fc226e",
        cyan: "#59ffd1",
        white: "#a1b0b8"
    ),
    dim: (
        black: "#ffffff",
        red: "#fc3841",
        green: "#5cf19e",
        yellow: "#fed032",
        blue: "#37b6ff",
        magenta: "#fc226e",
        cyan: "#59ffd1",
        white: "#a1b0b8"
    ),
)
