(
    name: "Material Darker",
    foreground: "#eeffff",
    cursor: "#ffffff",
    bright_foreground: "#eeffff",
    dim_foreground: "#545454",
    normal: (
        black: "#ffffff",
        red: "#ff5370",
        green: "#c3e88d",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#89ddff",
        white: "#545454"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff5370",
        green: "#c3e88d",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#89ddff",
        white: "#545454"
    ),
    dim: (
        black: "#ffffff",
        red: "#ff5370",
        green: "#c3e88d",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#89ddff",
        white: "#545454"
    ),
)
