(
    name: "Matrix",
    foreground: "#426644",
    cursor: "#384545",
    bright_foreground: "#426644",
    dim_foreground: "#688060",
    normal: (
        black: "#507350",
        red: "#23755a",
        green: "#82d967",
        yellow: "#ffd700",
        blue: "#3f5242",
        magenta: "#409931",
        cyan: "#50b45a",
        white: "#688060"
    ),
    bright: (
        black: "#678c61",
        red: "#23755a",
        green: "#82d967",
        yellow: "#ffd700",
        blue: "#3f5242",
        magenta: "#409931",
        cyan: "#50b45a",
        white: "#688060"
    ),
    dim: (
        black: "#507350",
        red: "#23755a",
        green: "#82d967",
        yellow: "#ffd700",
        blue: "#3f5242",
        magenta: "#409931",
        cyan: "#50b45a",
        white: "#688060"
    ),
)
