(
    name: "Medallion",
    foreground: "#cac296",
    cursor: "#d3ba30",
    bright_foreground: "#cac296",
    dim_foreground: "#5e5219",
    normal: (
        black: "#cac29a",
        red: "#b64c00",
        green: "#7c8b16",
        yellow: "#d3bd26",
        blue: "#616bb0",
        magenta: "#8c5a90",
        cyan: "#916c25",
        white: "#5e5219"
    ),
    bright: (
        black: "#fed698",
        red: "#b64c00",
        green: "#7c8b16",
        yellow: "#d3bd26",
        blue: "#616bb0",
        magenta: "#8c5a90",
        cyan: "#916c25",
        white: "#5e5219"
    ),
    dim: (
        black: "#cac29a",
        red: "#b64c00",
        green: "#7c8b16",
        yellow: "#d3bd26",
        blue: "#616bb0",
        magenta: "#8c5a90",
        cyan: "#916c25",
        white: "#5e5219"
    ),
)
