(
    name: "Mellifluous",
    foreground: "#dadada",
    cursor: "#bfad9e",
    bright_foreground: "#dadada",
    dim_foreground: "#5b5b5b",
    normal: (
        black: "#dadada",
        red: "#d29393",
        green: "#b3b393",
        yellow: "#cbaa89",
        blue: "#a8a1be",
        magenta: "#b39fb0",
        cyan: "#c0af8c",
        white: "#5b5b5b"
    ),
    bright: (
        black: "#ffffff",
        red: "#d29393",
        green: "#b3b393",
        yellow: "#cbaa89",
        blue: "#a8a1be",
        magenta: "#b39fb0",
        cyan: "#c0af8c",
        white: "#5b5b5b"
    ),
    dim: (
        black: "#dadada",
        red: "#d29393",
        green: "#b3b393",
        yellow: "#cbaa89",
        blue: "#a8a1be",
        magenta: "#b39fb0",
        cyan: "#c0af8c",
        white: "#5b5b5b"
    ),
)
