(name:"Midnight In Mojave",foreground:"#ffffff",cursor:"#32d74b",bright_foreground:"#ffffff",dim_foreground:"#FF0000",normal:(black:"#1e1e1e",red:"#ff453a",green:"#32d74b",yellow:"#ffd60a",blue:"#0a84ff",magenta:"#bf5af2",cyan:"#5ac8fa",white:"#ffffff"),bright:(black:"#515151",red:"#ff453a",green:"#32d74b",yellow:"#ffd60a",blue:"#0a84ff",magenta:"#bf5af2",cyan:"#5ac8fa",white:"#ffffff"),dim:(black:"#1e1e1e",red:"#ff453a",green:"#32d74b",yellow:"#ffd60a",blue:"#0a84ff",magenta:"#bf5af2",cyan:"#5ac8fa",white:"#ffffff"))