(
    name: "Modus Vivendi Tinted",
    foreground: "#ffffff",
    cursor: "#ff66ff",
    bright_foreground: "#ffffff",
    dim_foreground: "#595959",
    normal: (
        black: "#a6a6a6",
        red: "#ff5f59",
        green: "#44bc44",
        yellow: "#d0bc00",
        blue: "#2fafff",
        magenta: "#feacd0",
        cyan: "#00d3d0",
        white: "#595959"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff5f59",
        green: "#44bc44",
        yellow: "#d0bc00",
        blue: "#2fafff",
        magenta: "#feacd0",
        cyan: "#00d3d0",
        white: "#595959"
    ),
    dim: (
        black: "#a6a6a6",
        red: "#ff5f59",
        green: "#44bc44",
        yellow: "#d0bc00",
        blue: "#2fafff",
        magenta: "#feacd0",
        cyan: "#00d3d0",
        white: "#595959"
    ),
)
