(
    name: "Modus Vivendi Deuteranopia",
    foreground: "#ffffff",
    cursor: "#ffffff",
    bright_foreground: "#ffffff",
    dim_foreground: "#000000",

    normal: (
        black: "#000000",
        red: "#ff5f59",
        green: "#44bc44",
        yellow: "#cabf00",
        blue: "#2fafff",
        magenta: "#feacd0",
        cyan: "#00d3d0",
        white: "#a6a6a6"
    ),

    bright: (
        black: "#595959",
        red: "#ff7f9f",
        green: "#00c06f",
        yellow: "#ffa00f",
        blue: "#79a8ff",
        magenta: "#b6a0ff",
        cyan: "#6ae4b9",
        white: "#ffffff"
    ),

    dim: (
        black: "#000000",
        red: "#ff5f59",
        green: "#44bc44",
        yellow: "#cabf00",
        blue: "#2fafff",
        magenta: "#feacd0",
        cyan: "#00d3d0",
        white: "#a6a6a6"
    ),
)
