(
    name: "Mona Lisa",
    foreground: "#f7d66a",
    cursor: "#c46c32",
    bright_foreground: "#f7d66a",
    dim_foreground: "#874228",
    normal: (
        black: "#f7d75c",
        red: "#9b291c",
        green: "#636232",
        yellow: "#c36e28",
        blue: "#515c5d",
        magenta: "#9b1d29",
        cyan: "#588056",
        white: "#874228"
    ),
    bright: (
        black: "#ffe598",
        red: "#9b291c",
        green: "#636232",
        yellow: "#c36e28",
        blue: "#515c5d",
        magenta: "#9b1d29",
        cyan: "#588056",
        white: "#874228"
    ),
    dim: (
        black: "#f7d75c",
        red: "#9b291c",
        green: "#636232",
        yellow: "#c36e28",
        blue: "#515c5d",
        magenta: "#9b1d29",
        cyan: "#588056",
        white: "#874228"
    ),
)
