(name:"Monokai Pro",foreground:"#fcfcfa",cursor:"#c1c0c0",bright_foreground:"#fcfcfa",dim_foreground:"#FF0000",normal:(black:"#2d2a2e",red:"#ff6188",green:"#a9dc76",yellow:"#ffd866",blue:"#fc9867",magenta:"#ab9df2",cyan:"#78dce8",white:"#fcfcfa"),bright:(black:"#727072",red:"#ff6188",green:"#a9dc76",yellow:"#ffd866",blue:"#fc9867",magenta:"#ab9df2",cyan:"#78dce8",white:"#fcfcfa"),dim:(black:"#2d2a2e",red:"#ff6188",green:"#a9dc76",yellow:"#ffd866",blue:"#fc9867",magenta:"#ab9df2",cyan:"#78dce8",white:"#fcfcfa"))