(
    name: "Monokai Pro Machine",
    foreground: "#f2fffc",
    cursor: "#b8c4c3",
    bright_foreground: "#f2fffc",
    dim_foreground: "#6b7678",
    normal: (
        black: "#f2fffc",
        red: "#ff6d7e",
        green: "#a2e57b",
        yellow: "#ffed72",
        blue: "#ffb270",
        magenta: "#baa0f8",
        cyan: "#7cd5f1",
        white: "#6b7678"
    ),
    bright: (
        black: "#f2fffc",
        red: "#ff6d7e",
        green: "#a2e57b",
        yellow: "#ffed72",
        blue: "#ffb270",
        magenta: "#baa0f8",
        cyan: "#7cd5f1",
        white: "#6b7678"
    ),
    dim: (
        black: "#f2fffc",
        red: "#ff6d7e",
        green: "#a2e57b",
        yellow: "#ffed72",
        blue: "#ffb270",
        magenta: "#baa0f8",
        cyan: "#7cd5f1",
        white: "#6b7678"
    ),
)
