(
    name: "Monospace Light",
    foreground: "#475365",
    cursor: "#6f4cde",
    bright_foreground: "#475365",
    dim_foreground: "#000000",
    normal: (
        black: "#5d6a7d",
        red: "#d03941",
        green: "#007b49",
        yellow: "#a65921",
        blue: "#3c60dd",
        magenta: "#6f4cde",
        cyan: "#0075a2",
        white: "#000000"
    ),
    bright: (
        black: "#475365",
        red: "#d03941",
        green: "#007b49",
        yellow: "#a65921",
        blue: "#3c60dd",
        magenta: "#6f4cde",
        cyan: "#0075a2",
        white: "#000000"
    ),
    dim: (
        black: "#5d6a7d",
        red: "#d03941",
        green: "#007b49",
        yellow: "#a65921",
        blue: "#3c60dd",
        magenta: "#6f4cde",
        cyan: "#0075a2",
        white: "#000000"
    ),
)
