(
    name: "Moonfly",
    foreground: "#bdbdbd",
    cursor: "#9e9e9e",
    bright_foreground: "#bdbdbd",
    dim_foreground: "#949494",
    normal: (
        black: "#c6c6c6",
        red: "#ff5454",
        green: "#8cc85f",
        yellow: "#e3c78a",
        blue: "#80a0ff",
        magenta: "#cf87e8",
        cyan: "#79dac8",
        white: "#949494"
    ),
    bright: (
        black: "#e4e4e4",
        red: "#ff5454",
        green: "#8cc85f",
        yellow: "#e3c78a",
        blue: "#80a0ff",
        magenta: "#cf87e8",
        cyan: "#79dac8",
        white: "#949494"
    ),
    dim: (
        black: "#c6c6c6",
        red: "#ff5454",
        green: "#8cc85f",
        yellow: "#e3c78a",
        blue: "#80a0ff",
        magenta: "#cf87e8",
        cyan: "#79dac8",
        white: "#949494"
    ),
)
