(
    name: "N0Tch2K",
    foreground: "#a0a0a0",
    cursor: "#aa9175",
    bright_foreground: "#a0a0a0",
    dim_foreground: "#383838",

    normal: (
        black: "#383838",
        red: "#a95551",
        green: "#666666",
        yellow: "#a98051",
        blue: "#657d3e",
        magenta: "#767676",
        cyan: "#c9c9c9",
        white: "#d0b8a3"
    ),

    bright: (
        black: "#545454",
        red: "#a97775",
        green: "#8c8c8c",
        yellow: "#a99175",
        blue: "#98bd5e",
        magenta: "#a3a3a3",
        cyan: "#dcdcdc",
        white: "#d8c8bb"
    ),

    dim: (
        black: "#383838",
        red: "#a95551",
        green: "#666666",
        yellow: "#a98051",
        blue: "#657d3e",
        magenta: "#767676",
        cyan: "#c9c9c9",
        white: "#d0b8a3"
    ),
)
