(name:"Neon Purple",foreground:"#e5e5e5",cursor:"#21f6bc",bright_foreground:"#e5e5e5",dim_foreground:"#FF0000",normal:(black:"#000000",red:"#cd0d76",green:"#03eba5",yellow:"#fffa6a",blue:"#00bfff",magenta:"#ff00e0",cyan:"#9aa5ed",white:"#ffffff"),bright:(black:"#a8fcff",red:"#ff0da5",green:"#00ffb6",yellow:"#fff787",blue:"#1bccfd",magenta:"#ff00f8",cyan:"#a6b6ff",white:"#ffffff"),dim:(black:"#000000",red:"#cd0d76",green:"#03eba5",yellow:"#fffa6a",blue:"#00bfff",magenta:"#ff00e0",cyan:"#9aa5ed",white:"#ffffff"))