(
    name: "Neon Purple",
    foreground: "#e5e5e5",
    cursor: "#21f6bc",
    bright_foreground: "#e5e5e5",
    dim_foreground: "#a8fcff",
    normal: (
        black: "#ffffff",
        red: "#cd0d76",
        green: "#03eba5",
        yellow: "#fffa6a",
        blue: "#00bfff",
        magenta: "#ff00e0",
        cyan: "#9aa5ed",
        white: "#a8fcff"
    ),
    bright: (
        black: "#ffffff",
        red: "#cd0d76",
        green: "#03eba5",
        yellow: "#fffa6a",
        blue: "#00bfff",
        magenta: "#ff00e0",
        cyan: "#9aa5ed",
        white: "#a8fcff"
    ),
    dim: (
        black: "#ffffff",
        red: "#cd0d76",
        green: "#03eba5",
        yellow: "#fffa6a",
        blue: "#00bfff",
        magenta: "#ff00e0",
        cyan: "#9aa5ed",
        white: "#a8fcff"
    ),
)
