(name:"Neutron",foreground:"#e6e8ef",cursor:"#f6f7ec",bright_foreground:"#e6e8ef",dim_foreground:"#FF0000",normal:(black:"#23252b",red:"#b54036",green:"#5ab977",yellow:"#deb566",blue:"#6a7c93",magenta:"#a4799d",cyan:"#3f94a8",white:"#e6e8ef"),bright:(black:"#494b51",red:"#b54036",green:"#5ab977",yellow:"#deb566",blue:"#6a7c93",magenta:"#a4799d",cyan:"#3f94a8",white:"#ebedf2"),dim:(black:"#23252b",red:"#b54036",green:"#5ab977",yellow:"#deb566",blue:"#6a7c93",magenta:"#a4799d",cyan:"#3f94a8",white:"#e6e8ef"))