(
    name: "Night Owlish Light",
    foreground: "#403f53",
    cursor: "#403f53",
    bright_foreground: "#403f53",
    dim_foreground: "#7a8181",
    normal: (
        black: "#7a8181",
        red: "#d3423e",
        green: "#2aa298",
        yellow: "#daaa01",
        blue: "#4876d6",
        magenta: "#403f53",
        cyan: "#08916a",
        white: "#7a8181"
    ),
    bright: (
        black: "#989fb1",
        red: "#d3423e",
        green: "#2aa298",
        yellow: "#daaa01",
        blue: "#4876d6",
        magenta: "#403f53",
        cyan: "#08916a",
        white: "#7a8181"
    ),
    dim: (
        black: "#7a8181",
        red: "#d3423e",
        green: "#2aa298",
        yellow: "#daaa01",
        blue: "#4876d6",
        magenta: "#403f53",
        cyan: "#08916a",
        white: "#7a8181"
    ),
)
