(
    name: "Night Owl",
    foreground: "#d6deeb",
    cursor: "#7e57c2",
    bright_foreground: "#d6deeb",
    dim_foreground: "#575656",
    normal: (
        black: "#ffffff",
        red: "#ef5350",
        green: "#22da6e",
        yellow: "#addb67",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#21c7a8",
        white: "#575656"
    ),
    bright: (
        black: "#ffffff",
        red: "#ef5350",
        green: "#22da6e",
        yellow: "#addb67",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#21c7a8",
        white: "#575656"
    ),
    dim: (
        black: "#ffffff",
        red: "#ef5350",
        green: "#22da6e",
        yellow: "#addb67",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#21c7a8",
        white: "#575656"
    ),
)
