(
    name: "Niji",
    foreground: "#ffffff",
    cursor: "#ffc663",
    bright_foreground: "#ffffff",
    dim_foreground: "#515151",
    normal: (
        black: "#ddd0c4",
        red: "#d23e08",
        green: "#54ca74",
        yellow: "#fff700",
        blue: "#2ab9ff",
        magenta: "#ff50da",
        cyan: "#1ef9f5",
        white: "#515151"
    ),
    bright: (
        black: "#ffffff",
        red: "#d23e08",
        green: "#54ca74",
        yellow: "#fff700",
        blue: "#2ab9ff",
        magenta: "#ff50da",
        cyan: "#1ef9f5",
        white: "#515151"
    ),
    dim: (
        black: "#ddd0c4",
        red: "#d23e08",
        green: "#54ca74",
        yellow: "#fff700",
        blue: "#2ab9ff",
        magenta: "#ff50da",
        cyan: "#1ef9f5",
        white: "#515151"
    ),
)
