(
    name: "Noctis Azureus",
    foreground: "#becfda",
    cursor: "#becfda",
    bright_foreground: "#becfda",
    dim_foreground: "#475e6c",
    normal: (
        black: "#aec3d0",
        red: "#e66533",
        green: "#49e9a6",
        yellow: "#e4b781",
        blue: "#49ace9",
        magenta: "#df769b",
        cyan: "#49d6e9",
        white: "#475e6c"
    ),
    bright: (
        black: "#becfda",
        red: "#e66533",
        green: "#49e9a6",
        yellow: "#e4b781",
        blue: "#49ace9",
        magenta: "#df769b",
        cyan: "#49d6e9",
        white: "#475e6c"
    ),
    dim: (
        black: "#aec3d0",
        red: "#e66533",
        green: "#49e9a6",
        yellow: "#e4b781",
        blue: "#49ace9",
        magenta: "#df769b",
        cyan: "#49d6e9",
        white: "#475e6c"
    ),
)
