(
    name: "Noctis Viola",
    foreground: "#ccbfd9",
    cursor: "#ccbfd9",
    bright_foreground: "#ccbfd9",
    dim_foreground: "#594e65",
    normal: (
        black: "#bfafcf",
        red: "#e66533",
        green: "#49e9a6",
        yellow: "#e4b781",
        blue: "#49ace9",
        magenta: "#df769b",
        cyan: "#49d6e9",
        white: "#594e65"
    ),
    bright: (
        black: "#ccbfd9",
        red: "#e66533",
        green: "#49e9a6",
        yellow: "#e4b781",
        blue: "#49ace9",
        magenta: "#df769b",
        cyan: "#49d6e9",
        white: "#594e65"
    ),
    dim: (
        black: "#bfafcf",
        red: "#e66533",
        green: "#49e9a6",
        yellow: "#e4b781",
        blue: "#49ace9",
        magenta: "#df769b",
        cyan: "#49d6e9",
        white: "#594e65"
    ),
)
