(
    name: "Nord Light",
    foreground: "#414858",
    cursor: "#7bb3c3",
    bright_foreground: "#414858",
    dim_foreground: "#4c566a",
    normal: (
        black: "#a5abb6",
        red: "#bf616a",
        green: "#96b17f",
        yellow: "#c5a565",
        blue: "#81a1c1",
        magenta: "#b48ead",
        cyan: "#7bb3c3",
        white: "#4c566a"
    ),
    bright: (
        black: "#eceff4",
        red: "#bf616a",
        green: "#96b17f",
        yellow: "#c5a565",
        blue: "#81a1c1",
        magenta: "#b48ead",
        cyan: "#7bb3c3",
        white: "#4c566a"
    ),
    dim: (
        black: "#a5abb6",
        red: "#bf616a",
        green: "#96b17f",
        yellow: "#c5a565",
        blue: "#81a1c1",
        magenta: "#b48ead",
        cyan: "#7bb3c3",
        white: "#4c566a"
    ),
)
