(name:"novmbr",foreground:"#c7b8ac",cursor:"#c7b8ac",bright_foreground:"#c7b8ac",dim_foreground:"#FF0000",normal:(black:"#282a2e",red:"#9f6434",green:"#9dac5f",yellow:"#cca75f",blue:"#2f7d7c",magenta:"#b5896e",cyan:"#52877f",white:"#c7b8ac"),bright:(black:"#5d4e47",red:"#9f6434",green:"#9dac5f",yellow:"#cca75f",blue:"#2f7d7c",magenta:"#b5896e",cyan:"#52877f",white:"#c7b8ac"),dim:(black:"#282a2e",red:"#9f6434",green:"#9dac5f",yellow:"#cca75f",blue:"#2f7d7c",magenta:"#b5896e",cyan:"#52877f",white:"#c7b8ac"))