(
    name: "Obsidian",
    foreground: "#cdcdcd",
    cursor: "#c0cad0",
    bright_foreground: "#cdcdcd",
    dim_foreground: "#555555",
    normal: (
        black: "#bbbbbb",
        red: "#b30d0e",
        green: "#00bb00",
        yellow: "#fecd22",
        blue: "#3a9bdb",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#555555"
    ),
    bright: (
        black: "#ffffff",
        red: "#b30d0e",
        green: "#00bb00",
        yellow: "#fecd22",
        blue: "#3a9bdb",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#555555"
    ),
    dim: (
        black: "#bbbbbb",
        red: "#b30d0e",
        green: "#00bb00",
        yellow: "#fecd22",
        blue: "#3a9bdb",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#555555"
    ),
)
