(
    name: "Oceanic Material",
    foreground: "#c2c8d7",
    cursor: "#b3b8c3",
    bright_foreground: "#c2c8d7",
    dim_foreground: "#777777",
    normal: (
        black: "#a4a4a4",
        red: "#ee2b2a",
        green: "#40a33f",
        yellow: "#ffea2e",
        blue: "#1e80f0",
        magenta: "#8800a0",
        cyan: "#16afca",
        white: "#777777"
    ),
    bright: (
        black: "#ffffff",
        red: "#ee2b2a",
        green: "#40a33f",
        yellow: "#ffea2e",
        blue: "#1e80f0",
        magenta: "#8800a0",
        cyan: "#16afca",
        white: "#777777"
    ),
    dim: (
        black: "#a4a4a4",
        red: "#ee2b2a",
        green: "#40a33f",
        yellow: "#ffea2e",
        blue: "#1e80f0",
        magenta: "#8800a0",
        cyan: "#16afca",
        white: "#777777"
    ),
)
