(
    name: "Ollie",
    foreground: "#8a8dae",
    cursor: "#5b6ea7",
    bright_foreground: "#8a8dae",
    dim_foreground: "#684432",
    normal: (
        black: "#8a8eac",
        red: "#ac2e31",
        green: "#31ac61",
        yellow: "#ac4300",
        blue: "#2d57ac",
        magenta: "#b08528",
        cyan: "#1fa6ac",
        white: "#684432"
    ),
    bright: (
        black: "#5b6ea7",
        red: "#ac2e31",
        green: "#31ac61",
        yellow: "#ac4300",
        blue: "#2d57ac",
        magenta: "#b08528",
        cyan: "#1fa6ac",
        white: "#684432"
    ),
    dim: (
        black: "#8a8eac",
        red: "#ac2e31",
        green: "#31ac61",
        yellow: "#ac4300",
        blue: "#2d57ac",
        magenta: "#b08528",
        cyan: "#1fa6ac",
        white: "#684432"
    ),
)
