(name:"One Double Dark",foreground:"#dbdfe5",cursor:"#f5e0dc",bright_foreground:"#dbdfe5",dim_foreground:"#FF0000",normal:(black:"#3d4452",red:"#f16372",green:"#8cc570",yellow:"#ecbe70",blue:"#3fb1f5",magenta:"#d373e3",cyan:"#17b9c4",white:"#dbdfe5"),bright:(black:"#525d6f",red:"#ff777b",green:"#82d882",yellow:"#f5c065",blue:"#6dcaff",magenta:"#ff7bf4",cyan:"#00e5fb",white:"#f7f9fc"),dim:(black:"#3d4452",red:"#f16372",green:"#8cc570",yellow:"#ecbe70",blue:"#3fb1f5",magenta:"#d373e3",cyan:"#17b9c4",white:"#dbdfe5"))