(
    name: "One Half Dark",
    foreground: "#dcdfe4",
    cursor: "#a3b3cc",
    bright_foreground: "#dcdfe4",
    dim_foreground: "#5d677a",
    normal: (
        black: "#dcdfe4",
        red: "#e06c75",
        green: "#98c379",
        yellow: "#e5c07b",
        blue: "#61afef",
        magenta: "#c678dd",
        cyan: "#56b6c2",
        white: "#5d677a"
    ),
    bright: (
        black: "#dcdfe4",
        red: "#e06c75",
        green: "#98c379",
        yellow: "#e5c07b",
        blue: "#61afef",
        magenta: "#c678dd",
        cyan: "#56b6c2",
        white: "#5d677a"
    ),
    dim: (
        black: "#dcdfe4",
        red: "#e06c75",
        green: "#98c379",
        yellow: "#e5c07b",
        blue: "#61afef",
        magenta: "#c678dd",
        cyan: "#56b6c2",
        white: "#5d677a"
    ),
)
