(
    name: "Opaline",
    foreground: "#ece9f7",
    cursor: "#ffb3d6",
    bright_foreground: "#ece9f7",
    dim_foreground: "#6b678f",
    normal: (
        black: "#ece9f7",
        red: "#ff6b92",
        green: "#86e6b4",
        yellow: "#ffc2ae",
        blue: "#8fb4ff",
        magenta: "#be9bff",
        cyan: "#5fe3d8",
        white: "#6b678f"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff6b92",
        green: "#86e6b4",
        yellow: "#ffc2ae",
        blue: "#8fb4ff",
        magenta: "#be9bff",
        cyan: "#5fe3d8",
        white: "#6b678f"
    ),
    dim: (
        black: "#ece9f7",
        red: "#ff6b92",
        green: "#86e6b4",
        yellow: "#ffc2ae",
        blue: "#8fb4ff",
        magenta: "#be9bff",
        cyan: "#5fe3d8",
        white: "#6b678f"
    ),
)
