(
    name: "owl",
    foreground: "#dedede",
    cursor: "#dedede",
    bright_foreground: "#dedede",
    dim_foreground: "#5d595b",
    normal: (
        black: "#dedede",
        red: "#5a5a5a",
        green: "#989898",
        yellow: "#cacaca",
        blue: "#656565",
        magenta: "#b1b1b1",
        cyan: "#7f7f7f",
        white: "#5d595b"
    ),
    bright: (
        black: "#ffffff",
        red: "#5a5a5a",
        green: "#989898",
        yellow: "#cacaca",
        blue: "#656565",
        magenta: "#b1b1b1",
        cyan: "#7f7f7f",
        white: "#5d595b"
    ),
    dim: (
        black: "#dedede",
        red: "#5a5a5a",
        green: "#989898",
        yellow: "#cacaca",
        blue: "#656565",
        magenta: "#b1b1b1",
        cyan: "#7f7f7f",
        white: "#5d595b"
    ),
)
