(
    name: "Oxide",
    foreground: "#cecece",
    cursor: "#cecece",
    bright_foreground: "#cecece",
    dim_foreground: "#8f8f8f",
    normal: (
        black: "#cecece",
        red: "#ed756e",
        green: "#5bb661",
        yellow: "#c39900",
        blue: "#3ba6f5",
        magenta: "#968ff7",
        cyan: "#00baaa",
        white: "#8f8f8f"
    ),
    bright: (
        black: "#dedede",
        red: "#ed756e",
        green: "#5bb661",
        yellow: "#c39900",
        blue: "#3ba6f5",
        magenta: "#968ff7",
        cyan: "#00baaa",
        white: "#8f8f8f"
    ),
    dim: (
        black: "#cecece",
        red: "#ed756e",
        green: "#5bb661",
        yellow: "#c39900",
        blue: "#3ba6f5",
        magenta: "#968ff7",
        cyan: "#00baaa",
        white: "#8f8f8f"
    ),
)
