(
    name: "Pale Night Hc",
    foreground: "#cccccc",
    cursor: "#ffcb6b",
    bright_foreground: "#cccccc",
    dim_foreground: "#737373",
    normal: (
        black: "#ffffff",
        red: "#f07178",
        green: "#c3e88d",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#89ddff",
        white: "#737373"
    ),
    bright: (
        black: "#999999",
        red: "#f07178",
        green: "#c3e88d",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#89ddff",
        white: "#737373"
    ),
    dim: (
        black: "#ffffff",
        red: "#f07178",
        green: "#c3e88d",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#89ddff",
        white: "#737373"
    ),
)
