(
    name: "Paraiso Dark",
    foreground: "#a39e9b",
    cursor: "#a39e9b",
    bright_foreground: "#a39e9b",
    dim_foreground: "#2f1e2e",

    normal: (
        black: "#2f1e2e",
        red: "#ef6155",
        green: "#48b685",
        yellow: "#fec418",
        blue: "#06b6ef",
        magenta: "#815ba4",
        cyan: "#5bc4bf",
        white: "#a39e9b"
    ),

    bright: (
        black: "#776e71",
        red: "#ef6155",
        green: "#48b685",
        yellow: "#fec418",
        blue: "#06b6ef",
        magenta: "#815ba4",
        cyan: "#5bc4bf",
        white: "#e7e9db"
    ),

    dim: (
        black: "#2f1e2e",
        red: "#ef6155",
        green: "#48b685",
        yellow: "#fec418",
        blue: "#06b6ef",
        magenta: "#815ba4",
        cyan: "#5bc4bf",
        white: "#a39e9b"
    ),
)
