(name:"Patina Light",foreground:"#2e2a24",cursor:"#2e2a24",bright_foreground:"#2e2a24",dim_foreground:"#FF0000",normal:(black:"#2e2a24",red:"#9b3b3b",green:"#34644c",yellow:"#6e5817",blue:"#2f626f",magenta:"#7a4f47",cyan:"#2e6260",white:"#5a5248"),bright:(black:"#625a51",red:"#833333",green:"#2d5839",yellow:"#634e14",blue:"#2c5660",magenta:"#6d463e",cyan:"#285654",white:"#393a34"),dim:(black:"#2e2a24",red:"#9b3b3b",green:"#34644c",yellow:"#6e5817",blue:"#2f626f",magenta:"#7a4f47",cyan:"#2e6260",white:"#5a5248"))