(name:"Paul Millr",foreground:"#f2f2f2",cursor:"#4d4d4d",bright_foreground:"#f2f2f2",dim_foreground:"#FF0000",normal:(black:"#2a2a2a",red:"#ff0000",green:"#79ff0f",yellow:"#e7bf00",blue:"#396bd7",magenta:"#b449be",cyan:"#66ccff",white:"#bbbbbb"),bright:(black:"#666666",red:"#ff0080",green:"#66ff66",yellow:"#f3d64e",blue:"#709aed",magenta:"#db67e6",cyan:"#7adff2",white:"#ffffff"),dim:(black:"#2a2a2a",red:"#ff0000",green:"#79ff0f",yellow:"#e7bf00",blue:"#396bd7",magenta:"#b449be",cyan:"#66ccff",white:"#bbbbbb"))