(
    name: "Paul Millr",
    foreground: "#f2f2f2",
    cursor: "#4d4d4d",
    bright_foreground: "#f2f2f2",
    dim_foreground: "#666666",
    normal: (
        black: "#bbbbbb",
        red: "#ff0000",
        green: "#79ff0f",
        yellow: "#e7bf00",
        blue: "#396bd7",
        magenta: "#b449be",
        cyan: "#66ccff",
        white: "#666666"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff0000",
        green: "#79ff0f",
        yellow: "#e7bf00",
        blue: "#396bd7",
        magenta: "#b449be",
        cyan: "#66ccff",
        white: "#666666"
    ),
    dim: (
        black: "#bbbbbb",
        red: "#ff0000",
        green: "#79ff0f",
        yellow: "#e7bf00",
        blue: "#396bd7",
        magenta: "#b449be",
        cyan: "#66ccff",
        white: "#666666"
    ),
)
