(
    name: "Peppermint",
    foreground: "#c8c8c8",
    cursor: "#bbbbbb",
    bright_foreground: "#c8c8c8",
    dim_foreground: "#535353",
    normal: (
        black: "#b4b4b4",
        red: "#e74669",
        green: "#89d287",
        yellow: "#dab853",
        blue: "#449fd0",
        magenta: "#da62dc",
        cyan: "#65aaaf",
        white: "#535353"
    ),
    bright: (
        black: "#dfdfdf",
        red: "#e74669",
        green: "#89d287",
        yellow: "#dab853",
        blue: "#449fd0",
        magenta: "#da62dc",
        cyan: "#65aaaf",
        white: "#535353"
    ),
    dim: (
        black: "#b4b4b4",
        red: "#e74669",
        green: "#89d287",
        yellow: "#dab853",
        blue: "#449fd0",
        magenta: "#da62dc",
        cyan: "#65aaaf",
        white: "#535353"
    ),
)
