(
    name: "Phala Green Dark",
    foreground: "#c1fc03",
    cursor: "#c1fc03",
    bright_foreground: "#c1fc03",
    dim_foreground: "#797979",
    normal: (
        black: "#cbcbcb",
        red: "#ab1500",
        green: "#00b100",
        yellow: "#a9a700",
        blue: "#0223c0",
        magenta: "#c22ec0",
        cyan: "#00b4c0",
        white: "#797979"
    ),
    bright: (
        black: "#eaeaea",
        red: "#ab1500",
        green: "#00b100",
        yellow: "#a9a700",
        blue: "#0223c0",
        magenta: "#c22ec0",
        cyan: "#00b4c0",
        white: "#797979"
    ),
    dim: (
        black: "#cbcbcb",
        red: "#ab1500",
        green: "#00b100",
        yellow: "#a9a700",
        blue: "#0223c0",
        magenta: "#c22ec0",
        cyan: "#00b4c0",
        white: "#797979"
    ),
)
