(
    name: "Pierre Light",
    foreground: "#070707",
    cursor: "#009fff",
    bright_foreground: "#070707",
    dim_foreground: "#8e8e95",
    normal: (
        black: "#79797f",
        red: "#d52c36",
        green: "#1d8138",
        yellow: "#ac8816",
        blue: "#216cab",
        magenta: "#a631be",
        cyan: "#2182a1",
        white: "#8e8e95"
    ),
    bright: (
        black: "#dbdbdd",
        red: "#d52c36",
        green: "#1d8138",
        yellow: "#ac8816",
        blue: "#216cab",
        magenta: "#a631be",
        cyan: "#2182a1",
        white: "#8e8e95"
    ),
    dim: (
        black: "#79797f",
        red: "#d52c36",
        green: "#1d8138",
        yellow: "#ac8816",
        blue: "#216cab",
        magenta: "#a631be",
        cyan: "#2182a1",
        white: "#8e8e95"
    ),
)
