(
    name: "Pnevma",
    foreground: "#d0d0d0",
    cursor: "#e4c9af",
    bright_foreground: "#d0d0d0",
    dim_foreground: "#4a4845",
    normal: (
        black: "#d0d0d0",
        red: "#a36666",
        green: "#90a57d",
        yellow: "#d7af87",
        blue: "#7fa5bd",
        magenta: "#c79ec4",
        cyan: "#8adbb4",
        white: "#4a4845"
    ),
    bright: (
        black: "#efefef",
        red: "#a36666",
        green: "#90a57d",
        yellow: "#d7af87",
        blue: "#7fa5bd",
        magenta: "#c79ec4",
        cyan: "#8adbb4",
        white: "#4a4845"
    ),
    dim: (
        black: "#d0d0d0",
        red: "#a36666",
        green: "#90a57d",
        yellow: "#d7af87",
        blue: "#7fa5bd",
        magenta: "#c79ec4",
        cyan: "#8adbb4",
        white: "#4a4845"
    ),
)
