(name:"Poimandres",foreground:"#a6accd",cursor:"#ffffff",bright_foreground:"#a6accd",dim_foreground:"#FF0000",normal:(black:"#1a1e28",red:"#d0679d",green:"#5de4c7",yellow:"#fffac2",blue:"#89ddff",magenta:"#fcc5e9",cyan:"#add7ff",white:"#ffffff"),bright:(black:"#a6accd",red:"#d0679d",green:"#5de4c7",yellow:"#fffac2",blue:"#add7ff",magenta:"#fae4fc",cyan:"#89ddff",white:"#ffffff"),dim:(black:"#1a1e28",red:"#d0679d",green:"#5de4c7",yellow:"#fffac2",blue:"#89ddff",magenta:"#fcc5e9",cyan:"#add7ff",white:"#ffffff"))