(
    name: "Poimandres",
    foreground: "#a6accd",
    cursor: "#ffffff",
    bright_foreground: "#a6accd",
    dim_foreground: "#a6accd",
    normal: (
        black: "#ffffff",
        red: "#d0679d",
        green: "#5de4c7",
        yellow: "#fffac2",
        blue: "#89ddff",
        magenta: "#fcc5e9",
        cyan: "#add7ff",
        white: "#a6accd"
    ),
    bright: (
        black: "#ffffff",
        red: "#d0679d",
        green: "#5de4c7",
        yellow: "#fffac2",
        blue: "#89ddff",
        magenta: "#fcc5e9",
        cyan: "#add7ff",
        white: "#a6accd"
    ),
    dim: (
        black: "#ffffff",
        red: "#d0679d",
        green: "#5de4c7",
        yellow: "#fffac2",
        blue: "#89ddff",
        magenta: "#fcc5e9",
        cyan: "#add7ff",
        white: "#a6accd"
    ),
)
