(
    name: "Porcelain",
    foreground: "#2a2e37",
    cursor: "#0054d1",
    bright_foreground: "#2a2e37",
    dim_foreground: "#828896",
    normal: (
        black: "#5a6170",
        red: "#c60018",
        green: "#157424",
        yellow: "#855700",
        blue: "#004cc8",
        magenta: "#761bc3",
        cyan: "#006873",
        white: "#828896"
    ),
    bright: (
        black: "#1b1e25",
        red: "#c60018",
        green: "#157424",
        yellow: "#855700",
        blue: "#004cc8",
        magenta: "#761bc3",
        cyan: "#006873",
        white: "#828896"
    ),
    dim: (
        black: "#5a6170",
        red: "#c60018",
        green: "#157424",
        yellow: "#855700",
        blue: "#004cc8",
        magenta: "#761bc3",
        cyan: "#006873",
        white: "#828896"
    ),
)
