(
    name: "Primary",
    foreground: "#000000",
    cursor: "#000000",
    bright_foreground: "#000000",
    dim_foreground: "#000000",
    normal: (
        black: "#bfbfbf",
        red: "#db4437",
        green: "#0f9d58",
        yellow: "#f4b400",
        blue: "#4285f4",
        magenta: "#db4437",
        cyan: "#4285f4",
        white: "#000000"
    ),
    bright: (
        black: "#ffffff",
        red: "#db4437",
        green: "#0f9d58",
        yellow: "#f4b400",
        blue: "#4285f4",
        magenta: "#db4437",
        cyan: "#4285f4",
        white: "#000000"
    ),
    dim: (
        black: "#bfbfbf",
        red: "#db4437",
        green: "#0f9d58",
        yellow: "#f4b400",
        blue: "#4285f4",
        magenta: "#db4437",
        cyan: "#4285f4",
        white: "#000000"
    ),
)
