(name:"Prism",foreground:"#d7e3f4",cursor:"#56d5ff",bright_foreground:"#d7e3f4",dim_foreground:"#FF0000",normal:(black:"#060c18",red:"#ff7192",green:"#71e0b0",yellow:"#fad77c",blue:"#47b3ff",magenta:"#9da9ff",cyan:"#31dcf2",white:"#b6c4dc"),bright:(black:"#5e6f90",red:"#ff96ad",green:"#93ecc7",yellow:"#fca76d",blue:"#77caff",magenta:"#b8c1ff",cyan:"#6ceafb",white:"#eaf1fb"),dim:(black:"#060c18",red:"#ff7192",green:"#71e0b0",yellow:"#fad77c",blue:"#47b3ff",magenta:"#9da9ff",cyan:"#31dcf2",white:"#b6c4dc"))