(
    name: "Pro",
    foreground: "#f2f2f2",
    cursor: "#4d4d4d",
    bright_foreground: "#f2f2f2",
    dim_foreground: "#666666",
    normal: (
        black: "#bfbfbf",
        red: "#990000",
        green: "#00a600",
        yellow: "#999900",
        blue: "#2009db",
        magenta: "#b200b2",
        cyan: "#00a6b2",
        white: "#666666"
    ),
    bright: (
        black: "#e5e5e5",
        red: "#990000",
        green: "#00a600",
        yellow: "#999900",
        blue: "#2009db",
        magenta: "#b200b2",
        cyan: "#00a6b2",
        white: "#666666"
    ),
    dim: (
        black: "#bfbfbf",
        red: "#990000",
        green: "#00a600",
        yellow: "#999900",
        blue: "#2009db",
        magenta: "#b200b2",
        cyan: "#00a6b2",
        white: "#666666"
    ),
)
