(
    name: "Purple Portal",
    foreground: "#faf5ff",
    cursor: "#faf5ff",
    bright_foreground: "#faf5ff",
    dim_foreground: "#503872",
    normal: (
        black: "#d8b4fe",
        red: "#fb7185",
        green: "#34d399",
        yellow: "#f472b6",
        blue: "#facc15",
        magenta: "#38bdf8",
        cyan: "#580ff0",
        white: "#503872"
    ),
    bright: (
        black: "#faf5ff",
        red: "#fb7185",
        green: "#34d399",
        yellow: "#f472b6",
        blue: "#facc15",
        magenta: "#38bdf8",
        cyan: "#580ff0",
        white: "#503872"
    ),
    dim: (
        black: "#d8b4fe",
        red: "#fb7185",
        green: "#34d399",
        yellow: "#f472b6",
        blue: "#facc15",
        magenta: "#38bdf8",
        cyan: "#580ff0",
        white: "#503872"
    ),
)
