(
    name: "Purplepeter",
    foreground: "#ece7fa",
    cursor: "#c7c7c7",
    bright_foreground: "#ece7fa",
    dim_foreground: "#504b63",
    normal: (
        black: "#ffba81",
        red: "#ff796d",
        green: "#99b481",
        yellow: "#efdfac",
        blue: "#66d9ef",
        magenta: "#e78fcd",
        cyan: "#ba8cff",
        white: "#504b63"
    ),
    bright: (
        black: "#b9aed3",
        red: "#ff796d",
        green: "#99b481",
        yellow: "#efdfac",
        blue: "#66d9ef",
        magenta: "#e78fcd",
        cyan: "#ba8cff",
        white: "#504b63"
    ),
    dim: (
        black: "#ffba81",
        red: "#ff796d",
        green: "#99b481",
        yellow: "#efdfac",
        blue: "#66d9ef",
        magenta: "#e78fcd",
        cyan: "#ba8cff",
        white: "#504b63"
    ),
)
