(
    name: "Rebecca",
    foreground: "#e8e6ed",
    cursor: "#b89bf9",
    bright_foreground: "#e8e6ed",
    dim_foreground: "#666699",
    normal: (
        black: "#e4e3e9",
        red: "#dd7755",
        green: "#04dbb5",
        yellow: "#f2e7b7",
        blue: "#7aa5ff",
        magenta: "#bf9cf9",
        cyan: "#56d3c2",
        white: "#666699"
    ),
    bright: (
        black: "#f4f2f9",
        red: "#dd7755",
        green: "#04dbb5",
        yellow: "#f2e7b7",
        blue: "#7aa5ff",
        magenta: "#bf9cf9",
        cyan: "#56d3c2",
        white: "#666699"
    ),
    dim: (
        black: "#e4e3e9",
        red: "#dd7755",
        green: "#04dbb5",
        yellow: "#f2e7b7",
        blue: "#7aa5ff",
        magenta: "#bf9cf9",
        cyan: "#56d3c2",
        white: "#666699"
    ),
)
