(
    name: "Red Planet",
    foreground: "#c2b790",
    cursor: "#c2b790",
    bright_foreground: "#c2b790",
    dim_foreground: "#676767",
    normal: (
        black: "#b9aa99",
        red: "#8c3432",
        green: "#728271",
        yellow: "#e8bf6a",
        blue: "#69819e",
        magenta: "#896492",
        cyan: "#5b8390",
        white: "#676767"
    ),
    bright: (
        black: "#d6bfb8",
        red: "#8c3432",
        green: "#728271",
        yellow: "#e8bf6a",
        blue: "#69819e",
        magenta: "#896492",
        cyan: "#5b8390",
        white: "#676767"
    ),
    dim: (
        black: "#b9aa99",
        red: "#8c3432",
        green: "#728271",
        yellow: "#e8bf6a",
        blue: "#69819e",
        magenta: "#896492",
        cyan: "#5b8390",
        white: "#676767"
    ),
)
