(
    name: "Red Sands",
    foreground: "#d7c9a7",
    cursor: "#ffffff",
    bright_foreground: "#d7c9a7",
    dim_foreground: "#6e6e6e",
    normal: (
        black: "#bbbbbb",
        red: "#ff3f00",
        green: "#00bb00",
        yellow: "#e7b000",
        blue: "#0072ff",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#6e6e6e"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff3f00",
        green: "#00bb00",
        yellow: "#e7b000",
        blue: "#0072ff",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#6e6e6e"
    ),
    dim: (
        black: "#bbbbbb",
        red: "#ff3f00",
        green: "#00bb00",
        yellow: "#e7b000",
        blue: "#0072ff",
        magenta: "#bb00bb",
        cyan: "#00bbbb",
        white: "#6e6e6e"
    ),
)
