(
    name: "Relaxed",
    foreground: "#d9d9d9",
    cursor: "#d9d9d9",
    bright_foreground: "#d9d9d9",
    dim_foreground: "#636363",
    normal: (
        black: "#d9d9d9",
        red: "#bc5653",
        green: "#909d63",
        yellow: "#ebc17a",
        blue: "#6a8799",
        magenta: "#b06698",
        cyan: "#c9dfff",
        white: "#636363"
    ),
    bright: (
        black: "#f7f7f7",
        red: "#bc5653",
        green: "#909d63",
        yellow: "#ebc17a",
        blue: "#6a8799",
        magenta: "#b06698",
        cyan: "#c9dfff",
        white: "#636363"
    ),
    dim: (
        black: "#d9d9d9",
        red: "#bc5653",
        green: "#909d63",
        yellow: "#ebc17a",
        blue: "#6a8799",
        magenta: "#b06698",
        cyan: "#c9dfff",
        white: "#636363"
    ),
)
