(
    name: "Rippedcasts",
    foreground: "#ffffff",
    cursor: "#7f7f7f",
    bright_foreground: "#ffffff",
    dim_foreground: "#666666",
    normal: (
        black: "#bfbfbf",
        red: "#cdaf95",
        green: "#a8ff60",
        yellow: "#bfbb1f",
        blue: "#75a5b0",
        magenta: "#ff73fd",
        cyan: "#5a647e",
        white: "#666666"
    ),
    bright: (
        black: "#e5e5e5",
        red: "#cdaf95",
        green: "#a8ff60",
        yellow: "#bfbb1f",
        blue: "#75a5b0",
        magenta: "#ff73fd",
        cyan: "#5a647e",
        white: "#666666"
    ),
    dim: (
        black: "#bfbfbf",
        red: "#cdaf95",
        green: "#a8ff60",
        yellow: "#bfbb1f",
        blue: "#75a5b0",
        magenta: "#ff73fd",
        cyan: "#5a647e",
        white: "#666666"
    ),
)
