(
    name: "Rose Pine Moon",
    foreground: "#e0def4",
    cursor: "#e0def4",
    bright_foreground: "#e0def4",
    dim_foreground: "#393552",

    normal: (
        black: "#393552",
        red: "#eb6f92",
        green: "#3e8fb0",
        yellow: "#f6c177",
        blue: "#9ccfd8",
        magenta: "#c4a7e7",
        cyan: "#ea9a97",
        white: "#e0def4"
    ),

    bright: (
        black: "#6e6a86",
        red: "#eb6f92",
        green: "#3e8fb0",
        yellow: "#f6c177",
        blue: "#9ccfd8",
        magenta: "#c4a7e7",
        cyan: "#ea9a97",
        white: "#e0def4"
    ),

    dim: (
        black: "#393552",
        red: "#eb6f92",
        green: "#3e8fb0",
        yellow: "#f6c177",
        blue: "#9ccfd8",
        magenta: "#c4a7e7",
        cyan: "#ea9a97",
        white: "#e0def4"
    ),
)
