(
    name: "Ryuuko",
    foreground: "#ececec",
    cursor: "#ececec",
    bright_foreground: "#ececec",
    dim_foreground: "#5d7079",
    normal: (
        black: "#ececec",
        red: "#865f5b",
        green: "#66907d",
        yellow: "#b1a990",
        blue: "#6a8e95",
        magenta: "#b18a73",
        cyan: "#88b2ac",
        white: "#5d7079"
    ),
    bright: (
        black: "#ececec",
        red: "#865f5b",
        green: "#66907d",
        yellow: "#b1a990",
        blue: "#6a8e95",
        magenta: "#b18a73",
        cyan: "#88b2ac",
        white: "#5d7079"
    ),
    dim: (
        black: "#ececec",
        red: "#865f5b",
        green: "#66907d",
        yellow: "#b1a990",
        blue: "#6a8e95",
        magenta: "#b18a73",
        cyan: "#88b2ac",
        white: "#5d7079"
    ),
)
