(
    name: "Sea Shells",
    foreground: "#deb88d",
    cursor: "#fca02f",
    bright_foreground: "#deb88d",
    dim_foreground: "#434b53",
    normal: (
        black: "#deb88d",
        red: "#d15123",
        green: "#027c9b",
        yellow: "#fca02f",
        blue: "#1e4950",
        magenta: "#68d4f1",
        cyan: "#50a3b5",
        white: "#434b53"
    ),
    bright: (
        black: "#fee4ce",
        red: "#d15123",
        green: "#027c9b",
        yellow: "#fca02f",
        blue: "#1e4950",
        magenta: "#68d4f1",
        cyan: "#50a3b5",
        white: "#434b53"
    ),
    dim: (
        black: "#deb88d",
        red: "#d15123",
        green: "#027c9b",
        yellow: "#fca02f",
        blue: "#1e4950",
        magenta: "#68d4f1",
        cyan: "#50a3b5",
        white: "#434b53"
    ),
)
