(
    name: "SeedFlip Ivory",
    foreground: "#0a2540",
    cursor: "#635bff",
    bright_foreground: "#0a2540",
    dim_foreground: "#d9d9d9",

    normal: (
        black: "#d9d9d9",
        red: "#bd0f0f",
        green: "#0fbd49",
        yellow: "#bda00f",
        blue: "#0f58bd",
        magenta: "#bd0fbd",
        cyan: "#0fbdbd",
        white: "#07182a"
    ),

    bright: (
        black: "#b3b3b3",
        red: "#ee2b2b",
        green: "#12d452",
        yellow: "#e1c01e",
        blue: "#2b7cee",
        magenta: "#ee2bee",
        cyan: "#12d4d4",
        white: "#0a2540"
    ),

    dim: (
        black: "#d9d9d9",
        red: "#bd0f0f",
        green: "#0fbd49",
        yellow: "#bda00f",
        blue: "#0f58bd",
        magenta: "#bd0fbd",
        cyan: "#0fbdbd",
        white: "#07182a"
    ),
)
