(
    name: "Selenized Dark",
    foreground: "#adbcbc",
    cursor: "#adbcbc",
    bright_foreground: "#adbcbc",
    dim_foreground: "#72898f",
    normal: (
        black: "#adbcbc",
        red: "#fa5750",
        green: "#75b938",
        yellow: "#dbb32d",
        blue: "#4695f7",
        magenta: "#f275be",
        cyan: "#41c7b9",
        white: "#72898f"
    ),
    bright: (
        black: "#cad8d9",
        red: "#fa5750",
        green: "#75b938",
        yellow: "#dbb32d",
        blue: "#4695f7",
        magenta: "#f275be",
        cyan: "#41c7b9",
        white: "#72898f"
    ),
    dim: (
        black: "#adbcbc",
        red: "#fa5750",
        green: "#75b938",
        yellow: "#dbb32d",
        blue: "#4695f7",
        magenta: "#f275be",
        cyan: "#41c7b9",
        white: "#72898f"
    ),
)
