(
    name: "Selenized Black",
    foreground: "#b9b9b9",
    cursor: "#777777",
    bright_foreground: "#b9b9b9",
    dim_foreground: "#777777",
    normal: (
        black: "#b9b9b9",
        red: "#ed4a46",
        green: "#70b433",
        yellow: "#dbb32d",
        blue: "#368aeb",
        magenta: "#eb6eb7",
        cyan: "#3fc5b7",
        white: "#777777"
    ),
    bright: (
        black: "#dedede",
        red: "#ed4a46",
        green: "#70b433",
        yellow: "#dbb32d",
        blue: "#368aeb",
        magenta: "#eb6eb7",
        cyan: "#3fc5b7",
        white: "#777777"
    ),
    dim: (
        black: "#b9b9b9",
        red: "#ed4a46",
        green: "#70b433",
        yellow: "#dbb32d",
        blue: "#368aeb",
        magenta: "#eb6eb7",
        cyan: "#3fc5b7",
        white: "#777777"
    ),
)
