(
    name: "Selenized Dark",
    foreground: "#adbcbc",
    cursor: "#adbcbc",
    bright_foreground: "#adbcbc",
    dim_foreground: "#184956",

    normal: (
        black: "#184956",
        red: "#fa5750",
        green: "#75b938",
        yellow: "#dbb32d",
        blue: "#4695f7",
        magenta: "#f275be",
        cyan: "#41c7b9",
        white: "#adbcbc"
    ),

    bright: (
        black: "#72898f",
        red: "#ff665c",
        green: "#84c747",
        yellow: "#ebc13d",
        blue: "#58a3ff",
        magenta: "#ff84cd",
        cyan: "#53d6c7",
        white: "#cad8d9"
    ),

    dim: (
        black: "#184956",
        red: "#fa5750",
        green: "#75b938",
        yellow: "#dbb32d",
        blue: "#4695f7",
        magenta: "#f275be",
        cyan: "#41c7b9",
        white: "#adbcbc"
    ),
)
