(
    name: "Sequoia Moonlight Dark",
    foreground: "#868690",
    cursor: "#43444d",
    bright_foreground: "#868690",
    dim_foreground: "#131317",

    normal: (
        black: "#131317",
        red: "#f58ee0",
        green: "#8eb6f5",
        yellow: "#9898a6",
        blue: "#c58fff",
        magenta: "#fdfdfe",
        cyan: "#ffbb88",
        white: "#868690"
    ),

    bright: (
        black: "#575861",
        red: "#f58ee0",
        green: "#8eb6f5",
        yellow: "#9898a6",
        blue: "#c58fff",
        magenta: "#fdfdfe",
        cyan: "#ffbb88",
        white: "#868690"
    ),

    dim: (
        black: "#131317",
        red: "#f58ee0",
        green: "#8eb6f5",
        yellow: "#9898a6",
        blue: "#c58fff",
        magenta: "#fdfdfe",
        cyan: "#ffbb88",
        white: "#868690"
    ),
)
