(
    name: "Sequoia Monochrome Light",
    foreground: "#282930",
    cursor: "#565760",
    bright_foreground: "#282930",
    dim_foreground: "#42434e",
    normal: (
        black: "#282930",
        red: "#525666",
        green: "#2e3038",
        yellow: "#50535e",
        blue: "#5f6370",
        magenta: "#25262d",
        cyan: "#454752",
        white: "#42434e"
    ),
    bright: (
        black: "#282930",
        red: "#525666",
        green: "#2e3038",
        yellow: "#50535e",
        blue: "#5f6370",
        magenta: "#25262d",
        cyan: "#454752",
        white: "#42434e"
    ),
    dim: (
        black: "#282930",
        red: "#525666",
        green: "#2e3038",
        yellow: "#50535e",
        blue: "#5f6370",
        magenta: "#25262d",
        cyan: "#454752",
        white: "#42434e"
    ),
)
