(
    name: "Serendipity Sunset",
    foreground: "#dee0ef",
    cursor: "#8d8f9e",
    bright_foreground: "#dee0ef",
    dim_foreground: "#6b6d7c",
    normal: (
        black: "#dee0ef",
        red: "#d1918f",
        green: "#709bbd",
        yellow: "#a392dc",
        blue: "#a0b6e8",
        magenta: "#aac9d4",
        cyan: "#d6b4b4",
        white: "#6b6d7c"
    ),
    bright: (
        black: "#dee0ef",
        red: "#d1918f",
        green: "#709bbd",
        yellow: "#a392dc",
        blue: "#a0b6e8",
        magenta: "#aac9d4",
        cyan: "#d6b4b4",
        white: "#6b6d7c"
    ),
    dim: (
        black: "#dee0ef",
        red: "#d1918f",
        green: "#709bbd",
        yellow: "#a392dc",
        blue: "#a0b6e8",
        magenta: "#aac9d4",
        cyan: "#d6b4b4",
        white: "#6b6d7c"
    ),
)
