(
    name: "Serendipity Midnight",
    foreground: "#dee0ef",
    cursor: "#6b6d7c",
    bright_foreground: "#dee0ef",
    dim_foreground: "#8d8f9e",
    normal: (
        black: "#dee0ef",
        red: "#ee8679",
        green: "#5ba2d0",
        yellow: "#a78bfa",
        blue: "#94b8ff",
        magenta: "#9ccfd8",
        cyan: "#f8d2c9",
        white: "#8d8f9e"
    ),
    bright: (
        black: "#dee0ef",
        red: "#ee8679",
        green: "#5ba2d0",
        yellow: "#a78bfa",
        blue: "#94b8ff",
        magenta: "#9ccfd8",
        cyan: "#f8d2c9",
        white: "#8d8f9e"
    ),
    dim: (
        black: "#dee0ef",
        red: "#ee8679",
        green: "#5ba2d0",
        yellow: "#a78bfa",
        blue: "#94b8ff",
        magenta: "#9ccfd8",
        cyan: "#f8d2c9",
        white: "#8d8f9e"
    ),
)
