(
    name: "Shokunin",
    foreground: "#303841",
    cursor: "#3a3e44",
    bright_foreground: "#303841",
    dim_foreground: "#777269",
    normal: (
        black: "#c2beb4",
        red: "#c84053",
        green: "#157a5b",
        yellow: "#9a6000",
        blue: "#006fae",
        magenta: "#8f4155",
        cyan: "#006c7f",
        white: "#777269"
    ),
    bright: (
        black: "#ffffff",
        red: "#c84053",
        green: "#157a5b",
        yellow: "#9a6000",
        blue: "#006fae",
        magenta: "#8f4155",
        cyan: "#006c7f",
        white: "#777269"
    ),
    dim: (
        black: "#c2beb4",
        red: "#c84053",
        green: "#157a5b",
        yellow: "#9a6000",
        blue: "#006fae",
        magenta: "#8f4155",
        cyan: "#006c7f",
        white: "#777269"
    ),
)
