(name:"Slate",foreground:"#35b1d2",cursor:"#87d3c4",bright_foreground:"#35b1d2",dim_foreground:"#FF0000",normal:(black:"#222222",red:"#e2a8bf",green:"#81d778",yellow:"#c4c9c0",blue:"#335856",magenta:"#a481d3",cyan:"#15ab9c",white:"#02c5e0"),bright:(black:"#ffffff",red:"#ffcdd9",green:"#beffa8",yellow:"#d0ccca",blue:"#7ab0d2",magenta:"#c5a7d9",cyan:"#8cdfe0",white:"#e0e0e0"),dim:(black:"#222222",red:"#e2a8bf",green:"#81d778",yellow:"#c4c9c0",blue:"#335856",magenta:"#a481d3",cyan:"#15ab9c",white:"#02c5e0"))