(
    name: "Soft Server",
    foreground: "#99a3a2",
    cursor: "#d2e0de",
    bright_foreground: "#99a3a2",
    dim_foreground: "#666c6c",
    normal: (
        black: "#99a3a2",
        red: "#a2686a",
        green: "#9aa56a",
        yellow: "#a3906a",
        blue: "#6b8fa3",
        magenta: "#6a71a3",
        cyan: "#6ba58f",
        white: "#666c6c"
    ),
    bright: (
        black: "#d2e0de",
        red: "#a2686a",
        green: "#9aa56a",
        yellow: "#a3906a",
        blue: "#6b8fa3",
        magenta: "#6a71a3",
        cyan: "#6ba58f",
        white: "#666c6c"
    ),
    dim: (
        black: "#99a3a2",
        red: "#a2686a",
        green: "#9aa56a",
        yellow: "#a3906a",
        blue: "#6b8fa3",
        magenta: "#6a71a3",
        cyan: "#6ba58f",
        white: "#666c6c"
    ),
)
