(
    name: "Spacegray Eighties Dull",
    foreground: "#c9c6bc",
    cursor: "#bbbbbb",
    bright_foreground: "#c9c6bc",
    dim_foreground: "#555555",
    normal: (
        black: "#b3b8c3",
        red: "#b24a56",
        green: "#92b477",
        yellow: "#c6735a",
        blue: "#7c8fa5",
        magenta: "#a5789e",
        cyan: "#80cdcb",
        white: "#555555"
    ),
    bright: (
        black: "#ffffff",
        red: "#b24a56",
        green: "#92b477",
        yellow: "#c6735a",
        blue: "#7c8fa5",
        magenta: "#a5789e",
        cyan: "#80cdcb",
        white: "#555555"
    ),
    dim: (
        black: "#b3b8c3",
        red: "#b24a56",
        green: "#92b477",
        yellow: "#c6735a",
        blue: "#7c8fa5",
        magenta: "#a5789e",
        cyan: "#80cdcb",
        white: "#555555"
    ),
)
