(
    name: "Spiderman",
    foreground: "#e3e3e3",
    cursor: "#2c3fff",
    bright_foreground: "#e3e3e3",
    dim_foreground: "#505354",
    normal: (
        black: "#fffef6",
        red: "#e60813",
        green: "#e22928",
        yellow: "#e24756",
        blue: "#2c3fff",
        magenta: "#2435db",
        cyan: "#3256ff",
        white: "#505354"
    ),
    bright: (
        black: "#fffff9",
        red: "#e60813",
        green: "#e22928",
        yellow: "#e24756",
        blue: "#2c3fff",
        magenta: "#2435db",
        cyan: "#3256ff",
        white: "#505354"
    ),
    dim: (
        black: "#fffef6",
        red: "#e60813",
        green: "#e22928",
        yellow: "#e24756",
        blue: "#2c3fff",
        magenta: "#2435db",
        cyan: "#3256ff",
        white: "#505354"
    ),
)
