(
    name: "Squintless",
    foreground: "#3c3836",
    cursor: "#282828",
    bright_foreground: "#3c3836",
    dim_foreground: "#928374",
    normal: (
        black: "#7c6f64",
        red: "#9d0006",
        green: "#79740e",
        yellow: "#b57614",
        blue: "#076678",
        magenta: "#8f3f71",
        cyan: "#427b58",
        white: "#928374"
    ),
    bright: (
        black: "#3c3836",
        red: "#9d0006",
        green: "#79740e",
        yellow: "#b57614",
        blue: "#076678",
        magenta: "#8f3f71",
        cyan: "#427b58",
        white: "#928374"
    ),
    dim: (
        black: "#7c6f64",
        red: "#9d0006",
        green: "#79740e",
        yellow: "#b57614",
        blue: "#076678",
        magenta: "#8f3f71",
        cyan: "#427b58",
        white: "#928374"
    ),
)
