(
    name: "Srcery",
    foreground: "#fce8c3",
    cursor: "#fbb829",
    bright_foreground: "#fce8c3",
    dim_foreground: "#918175",
    normal: (
        black: "#baa67f",
        red: "#ef2f27",
        green: "#519f50",
        yellow: "#fbb829",
        blue: "#2c78bf",
        magenta: "#e02c6d",
        cyan: "#0aaeb3",
        white: "#918175"
    ),
    bright: (
        black: "#fce8c3",
        red: "#ef2f27",
        green: "#519f50",
        yellow: "#fbb829",
        blue: "#2c78bf",
        magenta: "#e02c6d",
        cyan: "#0aaeb3",
        white: "#918175"
    ),
    dim: (
        black: "#baa67f",
        red: "#ef2f27",
        green: "#519f50",
        yellow: "#fbb829",
        blue: "#2c78bf",
        magenta: "#e02c6d",
        cyan: "#0aaeb3",
        white: "#918175"
    ),
)
