(
    name: "Starlight",
    foreground: "#ffffff",
    cursor: "#ffffff",
    bright_foreground: "#ffffff",
    dim_foreground: "#616161",
    normal: (
        black: "#e6e6e6",
        red: "#f62b5a",
        green: "#47b413",
        yellow: "#e3c401",
        blue: "#24acd4",
        magenta: "#f2affd",
        cyan: "#13c299",
        white: "#616161"
    ),
    bright: (
        black: "#ffffff",
        red: "#f62b5a",
        green: "#47b413",
        yellow: "#e3c401",
        blue: "#24acd4",
        magenta: "#f2affd",
        cyan: "#13c299",
        white: "#616161"
    ),
    dim: (
        black: "#e6e6e6",
        red: "#f62b5a",
        green: "#47b413",
        yellow: "#e3c401",
        blue: "#24acd4",
        magenta: "#f2affd",
        cyan: "#13c299",
        white: "#616161"
    ),
)
