(
    name: "Sunset Drive",
    foreground: "#ededfe",
    cursor: "#ededfe",
    bright_foreground: "#ededfe",
    dim_foreground: "#0a0a13",

    normal: (
        black: "#0a0a13",
        red: "#ff0063",
        green: "#00f992",
        yellow: "#ffe900",
        blue: "#00a4ff",
        magenta: "#ff57fd",
        cyan: "#00ffed",
        white: "#ededff"
    ),

    bright: (
        black: "#3e3e4b",
        red: "#ff948b",
        green: "#00fcb9",
        yellow: "#ffff68",
        blue: "#3ea0ff",
        magenta: "#ff93ff",
        cyan: "#38ffff",
        white: "#f8f8ff"
    ),

    dim: (
        black: "#0a0a13",
        red: "#ff0063",
        green: "#00f992",
        yellow: "#ffe900",
        blue: "#00a4ff",
        magenta: "#ff57fd",
        cyan: "#00ffed",
        white: "#ededff"
    ),
)
