(
    name: "Synthwave",
    foreground: "#dad9c7",
    cursor: "#19cde6",
    bright_foreground: "#dad9c7",
    dim_foreground: "#7f7094",
    normal: (
        black: "#ffffff",
        red: "#f6188f",
        green: "#1ebb2b",
        yellow: "#fdf834",
        blue: "#2186ec",
        magenta: "#f85a21",
        cyan: "#12c3e2",
        white: "#7f7094"
    ),
    bright: (
        black: "#ffffff",
        red: "#f6188f",
        green: "#1ebb2b",
        yellow: "#fdf834",
        blue: "#2186ec",
        magenta: "#f85a21",
        cyan: "#12c3e2",
        white: "#7f7094"
    ),
    dim: (
        black: "#ffffff",
        red: "#f6188f",
        green: "#1ebb2b",
        yellow: "#fdf834",
        blue: "#2186ec",
        magenta: "#f85a21",
        cyan: "#12c3e2",
        white: "#7f7094"
    ),
)
