(
    name: "Tango Half Adapted",
    foreground: "#000000",
    cursor: "#000000",
    bright_foreground: "#000000",
    dim_foreground: "#000000",

    normal: (
        black: "#000000",
        red: "#ff0000",
        green: "#4cc300",
        yellow: "#e2c000",
        blue: "#008ef6",
        magenta: "#a96cb3",
        cyan: "#00bdc3",
        white: "#babfb5"
    ),

    bright: (
        black: "#797d76",
        red: "#ff0013",
        green: "#70dc00",
        yellow: "#d9c600",
        blue: "#76bfff",
        magenta: "#d898d1",
        cyan: "#00d0d4",
        white: "#f4f4f2"
    ),

    dim: (
        black: "#000000",
        red: "#ff0000",
        green: "#4cc300",
        yellow: "#e2c000",
        blue: "#008ef6",
        magenta: "#a96cb3",
        cyan: "#00bdc3",
        white: "#babfb5"
    ),
)
