(
    name: "Teerb",
    foreground: "#d0d0d0",
    cursor: "#e4c9af",
    bright_foreground: "#d0d0d0",
    dim_foreground: "#4f4f4f",
    normal: (
        black: "#d0d0d0",
        red: "#d68686",
        green: "#aed686",
        yellow: "#d7af87",
        blue: "#86aed6",
        magenta: "#d6aed6",
        cyan: "#8adbb4",
        white: "#4f4f4f"
    ),
    bright: (
        black: "#efefef",
        red: "#d68686",
        green: "#aed686",
        yellow: "#d7af87",
        blue: "#86aed6",
        magenta: "#d6aed6",
        cyan: "#8adbb4",
        white: "#4f4f4f"
    ),
    dim: (
        black: "#d0d0d0",
        red: "#d68686",
        green: "#aed686",
        yellow: "#d7af87",
        blue: "#86aed6",
        magenta: "#d6aed6",
        cyan: "#8adbb4",
        white: "#4f4f4f"
    ),
)
