(
    name: "Terafox",
    foreground: "#e6eaea",
    cursor: "#e6eaea",
    bright_foreground: "#e6eaea",
    dim_foreground: "#4e5157",
    normal: (
        black: "#ebebeb",
        red: "#e85c51",
        green: "#7aa4a1",
        yellow: "#fda47f",
        blue: "#5a93aa",
        magenta: "#ad5c7c",
        cyan: "#a1cdd8",
        white: "#4e5157"
    ),
    bright: (
        black: "#eeeeee",
        red: "#e85c51",
        green: "#7aa4a1",
        yellow: "#fda47f",
        blue: "#5a93aa",
        magenta: "#ad5c7c",
        cyan: "#a1cdd8",
        white: "#4e5157"
    ),
    dim: (
        black: "#ebebeb",
        red: "#e85c51",
        green: "#7aa4a1",
        yellow: "#fda47f",
        blue: "#5a93aa",
        magenta: "#ad5c7c",
        cyan: "#a1cdd8",
        white: "#4e5157"
    ),
)
