(
    name: "Terminal Green 1999",
    foreground: "#d8ffe6",
    cursor: "#d8ffe6",
    bright_foreground: "#d8ffe6",
    dim_foreground: "#274335",
    normal: (
        black: "#8fd6a9",
        red: "#ff5c7a",
        green: "#22c55e",
        yellow: "#00d26a",
        blue: "#7dd3fc",
        magenta: "#9dff57",
        cyan: "#39ff88",
        white: "#274335"
    ),
    bright: (
        black: "#d8ffe6",
        red: "#ff5c7a",
        green: "#22c55e",
        yellow: "#00d26a",
        blue: "#7dd3fc",
        magenta: "#9dff57",
        cyan: "#39ff88",
        white: "#274335"
    ),
    dim: (
        black: "#8fd6a9",
        red: "#ff5c7a",
        green: "#22c55e",
        yellow: "#00d26a",
        blue: "#7dd3fc",
        magenta: "#9dff57",
        cyan: "#39ff88",
        white: "#274335"
    ),
)
