(
    name: "Thayer Bright",
    foreground: "#f8f8f8",
    cursor: "#fc971f",
    bright_foreground: "#f8f8f8",
    dim_foreground: "#1b1d1e",

    normal: (
        black: "#1b1d1e",
        red: "#f92672",
        green: "#4df840",
        yellow: "#f4fd22",
        blue: "#2757d6",
        magenta: "#8c54fe",
        cyan: "#38c8b5",
        white: "#ccccc6"
    ),

    bright: (
        black: "#505354",
        red: "#ff5995",
        green: "#b6e354",
        yellow: "#feed6c",
        blue: "#3f78ff",
        magenta: "#9e6ffe",
        cyan: "#23cfd5",
        white: "#f8f8f2"
    ),

    dim: (
        black: "#1b1d1e",
        red: "#f92672",
        green: "#4df840",
        yellow: "#f4fd22",
        blue: "#2757d6",
        magenta: "#8c54fe",
        cyan: "#38c8b5",
        white: "#ccccc6"
    ),
)
