(
    name: "Thayer Bright",
    foreground: "#f8f8f8",
    cursor: "#fc971f",
    bright_foreground: "#f8f8f8",
    dim_foreground: "#505354",
    normal: (
        black: "#ccccc6",
        red: "#f92672",
        green: "#4df840",
        yellow: "#f4fd22",
        blue: "#2757d6",
        magenta: "#8c54fe",
        cyan: "#38c8b5",
        white: "#505354"
    ),
    bright: (
        black: "#f8f8f2",
        red: "#f92672",
        green: "#4df840",
        yellow: "#f4fd22",
        blue: "#2757d6",
        magenta: "#8c54fe",
        cyan: "#38c8b5",
        white: "#505354"
    ),
    dim: (
        black: "#ccccc6",
        red: "#f92672",
        green: "#4df840",
        yellow: "#f4fd22",
        blue: "#2757d6",
        magenta: "#8c54fe",
        cyan: "#38c8b5",
        white: "#505354"
    ),
)
