(
    name: "Tomorrow Night Bright",
    foreground: "#eaeaea",
    cursor: "#eaeaea",
    bright_foreground: "#eaeaea",
    dim_foreground: "#404040",
    normal: (
        black: "#ffffff",
        red: "#d54e53",
        green: "#b9ca4a",
        yellow: "#e7c547",
        blue: "#7aa6da",
        magenta: "#c397d8",
        cyan: "#70c0b1",
        white: "#404040"
    ),
    bright: (
        black: "#ffffff",
        red: "#d54e53",
        green: "#b9ca4a",
        yellow: "#e7c547",
        blue: "#7aa6da",
        magenta: "#c397d8",
        cyan: "#70c0b1",
        white: "#404040"
    ),
    dim: (
        black: "#ffffff",
        red: "#d54e53",
        green: "#b9ca4a",
        yellow: "#e7c547",
        blue: "#7aa6da",
        magenta: "#c397d8",
        cyan: "#70c0b1",
        white: "#404040"
    ),
)
