(
    name: "Tomorrow Night Burns",
    foreground: "#a1b0b8",
    cursor: "#ff443e",
    bright_foreground: "#a1b0b8",
    dim_foreground: "#5d6f71",
    normal: (
        black: "#f5f5f5",
        red: "#832e31",
        green: "#a63c40",
        yellow: "#d3494e",
        blue: "#fc595f",
        magenta: "#df9395",
        cyan: "#ba8586",
        white: "#5d6f71"
    ),
    bright: (
        black: "#f5f5f5",
        red: "#832e31",
        green: "#a63c40",
        yellow: "#d3494e",
        blue: "#fc595f",
        magenta: "#df9395",
        cyan: "#ba8586",
        white: "#5d6f71"
    ),
    dim: (
        black: "#f5f5f5",
        red: "#832e31",
        green: "#a63c40",
        yellow: "#d3494e",
        blue: "#fc595f",
        magenta: "#df9395",
        cyan: "#ba8586",
        white: "#5d6f71"
    ),
)
