(
    name: "Twilight",
    foreground: "#ffffd4",
    cursor: "#ffffff",
    bright_foreground: "#ffffd4",
    dim_foreground: "#141414",

    normal: (
        black: "#141414",
        red: "#c06d44",
        green: "#afb97a",
        yellow: "#c2a86c",
        blue: "#44474a",
        magenta: "#b4be7c",
        cyan: "#778385",
        white: "#ffffd4"
    ),

    bright: (
        black: "#404040",
        red: "#de7c4c",
        green: "#ccd88c",
        yellow: "#e2c47e",
        blue: "#5a5e62",
        magenta: "#d0dc8e",
        cyan: "#8a989b",
        white: "#ffffd4"
    ),

    dim: (
        black: "#141414",
        red: "#c06d44",
        green: "#afb97a",
        yellow: "#c2a86c",
        blue: "#44474a",
        magenta: "#b4be7c",
        cyan: "#778385",
        white: "#ffffd4"
    ),
)
