(
    name: "Ultra Dark",
    foreground: "#ffffff",
    cursor: "#fefefe",
    bright_foreground: "#ffffff",
    dim_foreground: "#000000",

    normal: (
        black: "#000000",
        red: "#f07178",
        green: "#c3e88d",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#89ddff",
        white: "#cccccc"
    ),

    bright: (
        black: "#404040",
        red: "#f6a9ae",
        green: "#dbf1ba",
        yellow: "#ffdfa6",
        blue: "#b4ccff",
        magenta: "#ddbdf2",
        cyan: "#b8eaff",
        white: "#ffffff"
    ),

    dim: (
        black: "#000000",
        red: "#f07178",
        green: "#c3e88d",
        yellow: "#ffcb6b",
        blue: "#82aaff",
        magenta: "#c792ea",
        cyan: "#89ddff",
        white: "#cccccc"
    ),
)
