(
    name: "Ultra Violent",
    foreground: "#c1c1c1",
    cursor: "#c1c1c1",
    bright_foreground: "#c1c1c1",
    dim_foreground: "#636667",
    normal: (
        black: "#e1e1e1",
        red: "#ff0090",
        green: "#b6ff00",
        yellow: "#fff727",
        blue: "#47e0fb",
        magenta: "#d731ff",
        cyan: "#0effbb",
        white: "#636667"
    ),
    bright: (
        black: "#f9f9f5",
        red: "#ff0090",
        green: "#b6ff00",
        yellow: "#fff727",
        blue: "#47e0fb",
        magenta: "#d731ff",
        cyan: "#0effbb",
        white: "#636667"
    ),
    dim: (
        black: "#e1e1e1",
        red: "#ff0090",
        green: "#b6ff00",
        yellow: "#fff727",
        blue: "#47e0fb",
        magenta: "#d731ff",
        cyan: "#0effbb",
        white: "#636667"
    ),
)
