(
    name: "Under The Sea",
    foreground: "#ffffff",
    cursor: "#4afcd6",
    bright_foreground: "#ffffff",
    dim_foreground: "#384451",
    normal: (
        black: "#405555",
        red: "#b2302d",
        green: "#00a941",
        yellow: "#59819c",
        blue: "#459a86",
        magenta: "#00599d",
        cyan: "#5d7e19",
        white: "#384451"
    ),
    bright: (
        black: "#58fbd6",
        red: "#b2302d",
        green: "#00a941",
        yellow: "#59819c",
        blue: "#459a86",
        magenta: "#00599d",
        cyan: "#5d7e19",
        white: "#384451"
    ),
    dim: (
        black: "#405555",
        red: "#b2302d",
        green: "#00a941",
        yellow: "#59819c",
        blue: "#459a86",
        magenta: "#00599d",
        cyan: "#5d7e19",
        white: "#384451"
    ),
)
