(
    name: "Unikitty",
    foreground: "#0b0b0b",
    cursor: "#c7ff98",
    bright_foreground: "#0b0b0b",
    dim_foreground: "#434343",
    normal: (
        black: "#fcf1fb",
        red: "#a80f20",
        green: "#c7ff98",
        yellow: "#fff964",
        blue: "#145fcd",
        magenta: "#ffe9ff",
        cyan: "#9effef",
        white: "#434343"
    ),
    bright: (
        black: "#fff3fe",
        red: "#a80f20",
        green: "#c7ff98",
        yellow: "#fff964",
        blue: "#145fcd",
        magenta: "#ffe9ff",
        cyan: "#9effef",
        white: "#434343"
    ),
    dim: (
        black: "#fcf1fb",
        red: "#a80f20",
        green: "#c7ff98",
        yellow: "#fff964",
        blue: "#145fcd",
        magenta: "#ffe9ff",
        cyan: "#9effef",
        white: "#434343"
    ),
)
