(
    name: "Urple",
    foreground: "#877a9b",
    cursor: "#a063eb",
    bright_foreground: "#877a9b",
    dim_foreground: "#6a3f32",
    normal: (
        black: "#87799c",
        red: "#b0425b",
        green: "#37a415",
        yellow: "#ad5c42",
        blue: "#564d9b",
        magenta: "#6c3ca1",
        cyan: "#808080",
        white: "#6a3f32"
    ),
    bright: (
        black: "#bfa3ff",
        red: "#b0425b",
        green: "#37a415",
        yellow: "#ad5c42",
        blue: "#564d9b",
        magenta: "#6c3ca1",
        cyan: "#808080",
        white: "#6a3f32"
    ),
    dim: (
        black: "#87799c",
        red: "#b0425b",
        green: "#37a415",
        yellow: "#ad5c42",
        blue: "#564d9b",
        magenta: "#6c3ca1",
        cyan: "#808080",
        white: "#6a3f32"
    ),
)
