(
    name: "Vaughn",
    foreground: "#dcdccc",
    cursor: "#ff5555",
    bright_foreground: "#dcdccc",
    dim_foreground: "#709080",
    normal: (
        black: "#709080",
        red: "#705050",
        green: "#60b48a",
        yellow: "#dfaf8f",
        blue: "#5555ff",
        magenta: "#f08cc3",
        cyan: "#8cd0d3",
        white: "#709080"
    ),
    bright: (
        black: "#ffffff",
        red: "#705050",
        green: "#60b48a",
        yellow: "#dfaf8f",
        blue: "#5555ff",
        magenta: "#f08cc3",
        cyan: "#8cd0d3",
        white: "#709080"
    ),
    dim: (
        black: "#709080",
        red: "#705050",
        green: "#60b48a",
        yellow: "#dfaf8f",
        blue: "#5555ff",
        magenta: "#f08cc3",
        cyan: "#8cd0d3",
        white: "#709080"
    ),
)
