(
    name: "Velvet Court",
    foreground: "#f2dcea",
    cursor: "#f0c44e",
    bright_foreground: "#f2dcea",
    dim_foreground: "#836075",
    normal: (
        black: "#e2c8d8",
        red: "#ee5c82",
        green: "#9ad08a",
        yellow: "#f0c44e",
        blue: "#b392e8",
        magenta: "#d087e0",
        cyan: "#6fd0c8",
        white: "#836075"
    ),
    bright: (
        black: "#f2dcea",
        red: "#ee5c82",
        green: "#9ad08a",
        yellow: "#f0c44e",
        blue: "#b392e8",
        magenta: "#d087e0",
        cyan: "#6fd0c8",
        white: "#836075"
    ),
    dim: (
        black: "#e2c8d8",
        red: "#ee5c82",
        green: "#9ad08a",
        yellow: "#f0c44e",
        blue: "#b392e8",
        magenta: "#d087e0",
        cyan: "#6fd0c8",
        white: "#836075"
    ),
)
