(
    name: "Vercel",
    foreground: "#fafafa",
    cursor: "#f32882",
    bright_foreground: "#fafafa",
    dim_foreground: "#a8a8a8",
    normal: (
        black: "#feffff",
        red: "#fc0036",
        green: "#29a948",
        yellow: "#ffae00",
        blue: "#006aff",
        magenta: "#f32882",
        cyan: "#00ac96",
        white: "#a8a8a8"
    ),
    bright: (
        black: "#fefefe",
        red: "#fc0036",
        green: "#29a948",
        yellow: "#ffae00",
        blue: "#006aff",
        magenta: "#f32882",
        cyan: "#00ac96",
        white: "#a8a8a8"
    ),
    dim: (
        black: "#feffff",
        red: "#fc0036",
        green: "#29a948",
        yellow: "#ffae00",
        blue: "#006aff",
        magenta: "#f32882",
        cyan: "#00ac96",
        white: "#a8a8a8"
    ),
)
