(
    name: "Vesper",
    foreground: "#ffffff",
    cursor: "#acb1ab",
    bright_foreground: "#ffffff",
    dim_foreground: "#7e7e7e",
    normal: (
        black: "#a0a0a0",
        red: "#f5a191",
        green: "#90b99f",
        yellow: "#e6b99d",
        blue: "#aca1cf",
        magenta: "#e29eca",
        cyan: "#ea83a5",
        white: "#7e7e7e"
    ),
    bright: (
        black: "#ffffff",
        red: "#f5a191",
        green: "#90b99f",
        yellow: "#e6b99d",
        blue: "#aca1cf",
        magenta: "#e29eca",
        cyan: "#ea83a5",
        white: "#7e7e7e"
    ),
    dim: (
        black: "#a0a0a0",
        red: "#f5a191",
        green: "#90b99f",
        yellow: "#e6b99d",
        blue: "#aca1cf",
        magenta: "#e29eca",
        cyan: "#ea83a5",
        white: "#7e7e7e"
    ),
)
