(
    name: "Vimbones",
    foreground: "#353535",
    cursor: "#353535",
    bright_foreground: "#353535",
    dim_foreground: "#acac89",
    normal: (
        black: "#353535",
        red: "#a8334c",
        green: "#4f6c31",
        yellow: "#944927",
        blue: "#286486",
        magenta: "#88507d",
        cyan: "#3b8992",
        white: "#acac89"
    ),
    bright: (
        black: "#5c5c5c",
        red: "#a8334c",
        green: "#4f6c31",
        yellow: "#944927",
        blue: "#286486",
        magenta: "#88507d",
        cyan: "#3b8992",
        white: "#acac89"
    ),
    dim: (
        black: "#353535",
        red: "#a8334c",
        green: "#4f6c31",
        yellow: "#944927",
        blue: "#286486",
        magenta: "#88507d",
        cyan: "#3b8992",
        white: "#acac89"
    ),
)
