(
    name: "Warm Neon",
    foreground: "#afdab6",
    cursor: "#30ff24",
    bright_foreground: "#afdab6",
    dim_foreground: "#fefcfc",
    normal: (
        black: "#d0b8a3",
        red: "#e24346",
        green: "#39b13a",
        yellow: "#dae145",
        blue: "#4261c5",
        magenta: "#f920fb",
        cyan: "#2abbd4",
        white: "#fefcfc"
    ),
    bright: (
        black: "#d8c8bb",
        red: "#e24346",
        green: "#39b13a",
        yellow: "#dae145",
        blue: "#4261c5",
        magenta: "#f920fb",
        cyan: "#2abbd4",
        white: "#fefcfc"
    ),
    dim: (
        black: "#d0b8a3",
        red: "#e24346",
        green: "#39b13a",
        yellow: "#dae145",
        blue: "#4261c5",
        magenta: "#f920fb",
        cyan: "#2abbd4",
        white: "#fefcfc"
    ),
)
