(name:"Whimsy",foreground:"#b3b0d6",cursor:"#b3b0d6",bright_foreground:"#b3b0d6",dim_foreground:"#FF0000",normal:(black:"#535178",red:"#ef6487",green:"#5eca89",yellow:"#fdd877",blue:"#65aef7",magenta:"#aa7ff0",cyan:"#43c1be",white:"#ffffff"),bright:(black:"#535178",red:"#ef6487",green:"#5eca89",yellow:"#fdd877",blue:"#65aef7",magenta:"#aa7ff0",cyan:"#43c1be",white:"#ffffff"),dim:(black:"#535178",red:"#ef6487",green:"#5eca89",yellow:"#fdd877",blue:"#65aef7",magenta:"#aa7ff0",cyan:"#43c1be",white:"#ffffff"))