(
    name: "Wilmersdorf",
    foreground: "#c6c6c6",
    cursor: "#7ebebd",
    bright_foreground: "#c6c6c6",
    dim_foreground: "#50545d",
    normal: (
        black: "#ababab",
        red: "#e06383",
        green: "#7ebebd",
        yellow: "#cccccc",
        blue: "#a6c1e0",
        magenta: "#e1c1ee",
        cyan: "#5b94ab",
        white: "#50545d"
    ),
    bright: (
        black: "#d3d3d3",
        red: "#e06383",
        green: "#7ebebd",
        yellow: "#cccccc",
        blue: "#a6c1e0",
        magenta: "#e1c1ee",
        cyan: "#5b94ab",
        white: "#50545d"
    ),
    dim: (
        black: "#ababab",
        red: "#e06383",
        green: "#7ebebd",
        yellow: "#cccccc",
        blue: "#a6c1e0",
        magenta: "#e1c1ee",
        cyan: "#5b94ab",
        white: "#50545d"
    ),
)
