(
    name: "Wombat",
    foreground: "#dedacf",
    cursor: "#bbbbbb",
    bright_foreground: "#dedacf",
    dim_foreground: "#4a4a4a",
    normal: (
        black: "#dedacf",
        red: "#ff615a",
        green: "#b1e969",
        yellow: "#ebd99c",
        blue: "#5da9f6",
        magenta: "#e86aff",
        cyan: "#82fff7",
        white: "#4a4a4a"
    ),
    bright: (
        black: "#ffffff",
        red: "#ff615a",
        green: "#b1e969",
        yellow: "#ebd99c",
        blue: "#5da9f6",
        magenta: "#e86aff",
        cyan: "#82fff7",
        white: "#4a4a4a"
    ),
    dim: (
        black: "#dedacf",
        red: "#ff615a",
        green: "#b1e969",
        yellow: "#ebd99c",
        blue: "#5da9f6",
        magenta: "#e86aff",
        cyan: "#82fff7",
        white: "#4a4a4a"
    ),
)
