(
    name: "Xcode Dark",
    foreground: "#dfdfe0",
    cursor: "#dfdfe0",
    bright_foreground: "#dfdfe0",
    dim_foreground: "#7f8c98",
    normal: (
        black: "#dfdfe0",
        red: "#ff8170",
        green: "#78c2b3",
        yellow: "#d9c97c",
        blue: "#4eb0cc",
        magenta: "#ff7ab2",
        cyan: "#b281eb",
        white: "#7f8c98"
    ),
    bright: (
        black: "#dfdfe0",
        red: "#ff8170",
        green: "#78c2b3",
        yellow: "#d9c97c",
        blue: "#4eb0cc",
        magenta: "#ff7ab2",
        cyan: "#b281eb",
        white: "#7f8c98"
    ),
    dim: (
        black: "#dfdfe0",
        red: "#ff8170",
        green: "#78c2b3",
        yellow: "#d9c97c",
        blue: "#4eb0cc",
        magenta: "#ff7ab2",
        cyan: "#b281eb",
        white: "#7f8c98"
    ),
)
