(
    name: "Xcode Light",
    foreground: "#262626",
    cursor: "#262626",
    bright_foreground: "#262626",
    dim_foreground: "#8a99a6",
    normal: (
        black: "#262626",
        red: "#d12f1b",
        green: "#3e8087",
        yellow: "#78492a",
        blue: "#0f68a0",
        magenta: "#ad3da4",
        cyan: "#804fb8",
        white: "#8a99a6"
    ),
    bright: (
        black: "#262626",
        red: "#d12f1b",
        green: "#3e8087",
        yellow: "#78492a",
        blue: "#0f68a0",
        magenta: "#ad3da4",
        cyan: "#804fb8",
        white: "#8a99a6"
    ),
    dim: (
        black: "#262626",
        red: "#d12f1b",
        green: "#3e8087",
        yellow: "#78492a",
        blue: "#0f68a0",
        magenta: "#ad3da4",
        cyan: "#804fb8",
        white: "#8a99a6"
    ),
)
