(
    name: "Zenburned",
    foreground: "#f0e4cf",
    cursor: "#f3eadb",
    bright_foreground: "#f0e4cf",
    dim_foreground: "#6f6768",
    normal: (
        black: "#f0e4cf",
        red: "#e3716e",
        green: "#819b69",
        yellow: "#b77e64",
        blue: "#6099c0",
        magenta: "#b279a7",
        cyan: "#66a5ad",
        white: "#6f6768"
    ),
    bright: (
        black: "#c0ab86",
        red: "#e3716e",
        green: "#819b69",
        yellow: "#b77e64",
        blue: "#6099c0",
        magenta: "#b279a7",
        cyan: "#66a5ad",
        white: "#6f6768"
    ),
    dim: (
        black: "#f0e4cf",
        red: "#e3716e",
        green: "#819b69",
        yellow: "#b77e64",
        blue: "#6099c0",
        magenta: "#b279a7",
        cyan: "#66a5ad",
        white: "#6f6768"
    ),
)
