(
    name: "Zenburn",
    foreground: "#dcdccc",
    cursor: "#73635a",
    bright_foreground: "#dcdccc",
    dim_foreground: "#709080",
    normal: (
        black: "#dcdccc",
        red: "#7d5d5d",
        green: "#60b48a",
        yellow: "#f0dfaf",
        blue: "#5d6d7d",
        magenta: "#dc8cc3",
        cyan: "#8cd0d3",
        white: "#709080"
    ),
    bright: (
        black: "#ffffff",
        red: "#7d5d5d",
        green: "#60b48a",
        yellow: "#f0dfaf",
        blue: "#5d6d7d",
        magenta: "#dc8cc3",
        cyan: "#8cd0d3",
        white: "#709080"
    ),
    dim: (
        black: "#dcdccc",
        red: "#7d5d5d",
        green: "#60b48a",
        yellow: "#f0dfaf",
        blue: "#5d6d7d",
        magenta: "#dc8cc3",
        cyan: "#8cd0d3",
        white: "#709080"
    ),
)
